<%= nested_form_for @message, remote: true, method: :patch do |f| %>
	<%= f.hidden_field :author_id, value: current_user.id %>
	<%= hidden_field_tag :authenticity_token, form_authenticity_token %> 

	<div id="edit-message" class="border-box">
		<h4 class="centered">Editing</h4>

		<div class="action-buttons">
			<div style="display:table-row">
				<div id="message-send" title="Save" class="action">
					<i class="fa fa-floppy-o remote"></i>
				</div>
				<% if message.author == current_user %>
					<%= link_to message_path(message), method: :delete, title:"Delete", :class=>"action", data: {confirm: "Are you sure you want to delete this message? This will remove all instances of this message from your recipients' inboxes."}, remote: true do %>
						<i class="fa fa-trash-o remote"></i>
					<% end %>
				<% end %>
				<%= link_to message_user_message_path(message), method: :delete, title:"Hide", :class=>"action", data: {confirm: "Are you sure you want to hide this message?"}, remote: true do %>
					<i class="fa fa-trash-o remote"></i>
				<% end %>
				<div id="dismiss-message" title="Dismiss" class="action dismiss"><i class="fa fa-remove"></i></div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<%= f.label "Your message" %>
				<%= f.text_area :body, :placeholder => "Message body..." %>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<%= f.label "Recipients" %>
				<%= f.collection_select :user_ids, @users, :id, :full_name, {selected: @message.users.map(&:id)}, {multiple: true, include_blank: false, :class=>"user-select"} %>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">			
				<%= f.label "Projects", :class=>"has-tooltip", data: {toggle:"tooltip"}, title:"Message will be sent to all personnel attached to this project." %>
				<%= f.collection_select :project_ids, @projects, :id, :name, {selected: @message.project_ids}, {multiple: true, include_blank: false, :class=>"project-select",:style=>"width:100%;"} %>
			</div>
		</div>


		<div class="button-container">
			<%= button_tag(type: 'submit', :class=> "simple-btn full-width remote", remote: true) do %>
		    	<!--<i class="fa fa-floppy-o remote"></i> -->Update			  	
		    <% end %>
		</div>
	</div>
<% end %>

<script>
	messageSetup();
</script>