<%= nested_form_for @message, :url => messages_path, :html => {:multipart => true}, :remote => true, :class=>"remote", :method => :post do |f| %>
	<%= f.hidden_field :user_id, :value => current_user.id %>
	<%= hidden_field_tag :authenticity_token, form_authenticity_token %> 

	<div id="new-message" class="messages-container border-box">
		<h5><%= link_to "&#8592; Back".html_safe, root_url, remote:true, id:"back-from-message" %></h5>

		<h4 class="centered">New Message</h4>
		<div class="row">
			<div class="col-xs-2">
				<h4>Location</h4>
			</div>
			<div class="col-xs-10">
				<%= f.text_area :body, :placeholder => "Message body..." %>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-2"><h4>Projects</h4></div>
			<div class="col-xs-10">			
				<%= f.collection_select :project_ids, @projects, :id, :name, {selected: @message.project_ids}, {multiple: true, :include_blank => false, :class=>"project-select",:style=>"width:100%;"} %>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-2">
				<h4>Recipients</h4>
			</div>
			<div class="col-xs-10">
				<%= f.collection_select :user_ids, @users, :id, :full_name, {selected: @users.map(&:id)}, {multiple: true, :include_blank => false, :class=>"user-select"} %>
			</div>
		</div>

		<div class="button-container">
			<%= f.submit "Send Message", :class=>"simple-btn save" %>
		</div>
		
	</div>

<% end %>

<script>
	$('.project-select').select2({
		placeholder: "Select multiple projects...",
    	allowClear: true
	});
	$('.user-select').select2({
		placeholder: "Select individual recipients...",
    	allowClear: true
	});
</script>