<%= nested_form_for @message, :url => messages_path, :html => {:multipart => true}, :remote => true, :class=>"remote", :method => :post do |f| %>
	<%= f.hidden_field :user_id, :value => current_user.id %>
	<%= hidden_field_tag :authenticity_token, form_authenticity_token %> 

	<div id="new-message" class="messages-container border-box">
		<h4 class="centered">New Message</h4>
		<div class="row">
			<div class="col-xs-2">
				<h4>Location</h4>
			</div>
			<div class="col-xs-10">
				<%= f.text_area :body, :placeholder => "Message body..." %>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-2"><h4>Projects</h4></div>
			<div class="col-xs-10">			

			<%= f.collection_select :project_ids, @projects, :id, :name, {selected: @message.project_ids}, {multiple: true, :include_blank => false, :class=>"project-select"} %>
		</div>
		
		</div>
		<h4 style="display:inline-block;width:16.666666664%;">Recipients</h4>
		<% @users.each do |user| %>
			<%= check_box_tag "message[user_ids][]", user.id %><span style="padding-left:10px;"><%= user.full_name %></span> 
		<% end %>

		<div class="button-container">
			<%= f.submit "Add", :class=>"simple-btn save" %>
		</div>
		
	</div>

<% end %>

<script>
	$('.project-select').select2({
		placeholder: "Send a message to all project personnel...",
    	allowClear: true
	});
</script>