<%= nested_form_for @message, url: messages_path, html: {multipart: true}, remote: true, :class=>"remote", method: :post do |f| %>
	<%= f.hidden_field :author_id, value: current_user.id %>
	<%= hidden_field_tag :authenticity_token, form_authenticity_token %> 

	<div id="new-message" class="border-box">
		<h4 class="centered">New Message</h4>

		<div class="action-buttons">
			<div style="display:table-row">
				<div id="message-send" title="Send message" class="action">
					<i class="fa fa-paper-plane remote"></i>
				</div>
				<div id="dismiss-message" title="Dismiss" class="action dismiss"><i class="fa fa-remove"></i></div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<%= f.label "Your message" %>
				<%= f.text_area :body, :placeholder => "Message body..." %>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<%= f.label "Recipients" %>
				<%= f.collection_select :user_ids, @users, :id, :full_name, {selected: @users.map(&:id)}, {multiple: true, include_blank: false, :class=>"user-select"} %>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">			
				<%= f.label "Projects", :class=>"has-tooltip", data: {toggle:"tooltip"}, title:"Message will be sent to all personnel attached to this project." %>
				<%= f.collection_select :project_ids, @projects, :id, :name, {selected: @message.project_ids}, {multiple: true, include_blank: false, :class=>"project-select",:style=>"width:100%;"} %>
			</div>
		</div>

		<div class="button-container">
			<%= button_tag(type: 'submit', :class=> "simple-btn full-width", style:"margin:14px auto;", remote: true) do %>
		    	<i class="fa fa-paper-plane remote"></i> Add			  	
		    <% end %>
		</div>
	</div>
<% end %>

<script>
	messageSetup();
</script>