<%= nested_form_for @message, :url => messages_path, :html => {:multipart => true}, :remote => true, :class=>"remote", :method => :post do |f| %>
	<%= f.hidden_field :user_id, :value => current_user.id %>
	<%= hidden_field_tag :authenticity_token, form_authenticity_token %> 

	<div id="new-message" class="messages-container border-box">
		<h3>New Message</h3>
		<div class="row">
			<div class="col-xs-2">
				<h4>Location</h4>
			</div>
			<div class="col-xs-10">
				<%= f.text_area :body, :placeholder => "Message body..." %>
			</div>
		</div>
		<div class="row">
		<%= f.fields_for :project_id do |a| %>
			<div class="col-xs-2"><h4>Project</h4></div>
			<div class="col-xs-10">
			<%= a.select :name, @projects.map(&:name).unshift("No Project"), {:include_blank => false}, :class=>"project-select", :style => "margin-top:8px;font-size:1.2em;" %>
		</div>
		<% end %>
		</div>
		<h4 style="display:inline-block;width:16.666666664%;">Recipients</h4>
		<% @users.each do |user| %>
			<%= check_box_tag "message[user_ids][]", user.id %><span style="padding-left:10px;"><%= user.full_name %></span> 
		<% end %>
		

		<div class="button-container">
			<%= f.submit "Add", :class=>"btn btn-success btn-md save" %>
		</div>
		
	</div>

<% end %>