<div>Write ABOVE THIS LINE to reply to this task or <%= link_to "View on BuildHawk", tasklist_project_url(@project), :host => "www.buildhawk.com"), :style=>"color:#0880ff;text-decoration:none;margin-bottom:5px" %></div>

<h1 style="text-align:center;margin:0 auto;"> <%= @project.name %> | Tasks assigned to you </h1>

<% if @connect_user %>
	<div style="max-width:800px;margin:20px auto;padding:20px;border:1px solid #ddd;text-align:center;font-size:1.3em;background: #f7f7f7;">Want to view and/or edit these tasks? <%= link_to "Sign up", register_connect_url( :user_id=> @connect_user.id, :host => "www.buildhawk.com"), :style=>"color:#0880ff;text-decoration:none;display:inline-block;" %> for BuildHawk.</div>
<% end %>

<% @task_array.each do |task| %>
	<div style="width:100%;clear:both;">
		<% if task.photos && task.photos.count > 0 && task.photos.first.image_file_name %>
			<% photo = task.photos.first %>
			<%= link_to edit_task_url(task, :project_id => @project.id, :host => "www.buildhawk.com"), :style=>"float:left;margin:0 10px 10px 0;" do %>
				<%= image_tag(photo.image.url(:small), :style => "width:100px;display:block;") %> 
			<% end %>
		<% else %>
			<div style="float:left;margin:0 10px 10px 0;background:#eee;line-height:100px;height:100px;width:100px;text-align:center;vertical-align:middle;color:#aaa;">No photo</div>
		<% end %>

		<span style="font-size:16px;"><%= link_to task.body, edit_task_url(task, :project_id => @project.id, :host => "www.buildhawk.com"), :style=>"color:#000;text-decoration:none;" %></span>

		<table>
			<% task.assignees.each do |assignee| %>
				<tr>
					<td style="padding-right:2em;">Assignee:</td>
					<td><%= assignee.full_name %></td>
				</tr>
			<% end %>

			<tr>
				<td style="padding-right:2em;">Date:</td>
				<td><%= task.created_at.strftime("%b %e, %l:%M %p") %></td>
			</tr>
		
			<tr>
				<td style="display:inline-block;margin:0 auto;padding-right:2em;">Status:</td>
					<td>
						<% if task.completed %>
							<span>Complete</span>
						<% else %>
							<span style="color:#cc0000;">IN PROGRESS</span>
						<% end %>
					</td>
				</td>
			</tr>
		</table>
	</div>

<% end %>
