<div class="checklist row" id="checklist-<%=c.id%>">
	<div class="col-xs-7 left"><h5 class="left"><%= c.name %></h5></div>
	<div class="col-xs-1">
		<% if c.phases.count > 0 %>
			<%= c.phases.count %>
		<% else %>
			<i class="fa fa-circle-o-notch fa-spin center"></i>
		<% end %>
	</div>
	<div class="col-xs-1">
		<% if c.phases.map(&:categories).flatten.count > 0 %>
			<%= c.phases.map(&:categories).flatten.count %>
		<% else %>
			<i class="fa fa-circle-o-notch fa-spin center"></i>
		<% end %>
	</div>
	<div class="col-xs-1">
		<% if c.item_count > 0 %>
			<%= c.item_count %>
		<% else %>
			<i class="fa fa-circle-o-notch fa-spin center"></i>
		<% end %>
	</div>
	<div class="col-xs-1 center">
		<%= link_to "Edit", editor_admin_index_path(cid: c.id), :class=>"empty-btn", remote: true %>
	</div>
	<div class="col-xs-1 center">
		<%= link_to checklist_path(c), data: {confirm: "Are you sure you want to delete this core checklist? This can not be undone."}, remote: true, method: :delete, :class=>"remote", style:"text-align:center;" do %>
			<i class="fa fa-trash-o remote"></i>
		<% end %>
	</div>
</div>