<div id="companies-page" class="page">
<!--<header>
	
	<div class="input-group pull-right" style="width: 100%; margin: 1% auto;">
		<input type="text" class="form-control" name="query" autocomplete="off" placeholder="Search Users">
		<span class="input-group-addon" style="cursor: pointer;"><span class="glyphicon glyphicon-search"></span></span>
	</div>
</header>-->

</div>

<table class="table table-bordered table-responsive" id="users">
	<% if @companies && @companies.count > 0 %>
		<thead>
			<tr>
				<th style="width: 100px;">Photo</th>
				<th>Company Name</th>
				<th>Projects</th>
				<th>Users</th>
				<th>Created On</th>
				<th>Edit</th>
			</tr>
		</thead>

		<tbody>
			<% @companies.each do |company| %>
				<tr>
					<td><% if company.image_file_name %><%= image_tag company.image.url(:thumb), :class =>"uber-admin-company-pic" %><% end %></td>
					<td><%= company.name %></td>
					<td><%= company.projects.count %></td>
					<td><%= company.users.count %></td>
					<td><%= parse_time company.created_at %></td>
					<td><%= link_to "Edit", edit_company_uber_admin_index_path(:company_id => company.id), :remote => true  %></td>
				</tr>
			<% end %>
	</tbody>
	<% else %>
		<tr><td>No companies</td></tr>
	<% end %>
</table>