<table class="table table-bordered table-responsive border-box" id="users">
	<% if @companies && @companies.count > 0 %>
		<thead>
			<tr>
				<th style="width: 100px;padding:0">Photo</th>
				<th>Company Name</th>
				<th>Projects</th>
				<th>Users</th>
				<th>Created On</th>
				<th>Edit</th>
			</tr>
		</thead>

		<tbody>
			<% @companies.each do |company| %>
				<tr>
					<td style="width: 100px;padding:0"><% if company.image_file_name %><%= image_tag company.image.url(:thumb), :class =>"uber-admin-company-pic" %><% end %></td>
					<td><%= link_to company.name, projects_path(:company_id => company.id), :remote => true %></td>
					<td><%= company.projects.count %></td>
					<td><%= company.users.count %></td>
					<td><%= parse_time company.created_at %></td>
					<td><%= link_to "Edit", edit_company_uber_admin_index_path(:company_id => company.id), :remote => true  %></td>
				</tr>
			<% end %>
	</tbody>
	<% else %>
		<tr><td>No companies</td></tr>
	<% end %>
</table>