<div class="border-box">
	<div id="upload-core">
		<%= form_for @checklist, :url => upload_template_uber_admin_index_path, :multipart => true, :method => :post do |f| %>
			<table>
				<h3>Upload New Master Checklist Template</h3>
				<tr><td><%= f.file_field :file %></td></tr>
				<tr><td><button class="btn btn-success btn-lg" style="margin:20px auto 0"><%= f.submit "Upload New Core" %></button></td></tr>
			</table>
		<% end %>
	</div>

	<% if @items %>
		<div id="core-checklist">
			<table>
				<th>Phase</th>
				<th>Category</th>
				<th>Item</th>
				<th>Last Updated</th>
				<th>Edit</th>
				<% @items.each do |item| %>
					<tr class="core-item-row">
						<td class="category"><%= item.subcategory.category.name %></td>
						<td class="subcategory"><%= item.subcategory.name %></td>
						<td><%= item.body %></td>
						<td class="timestamp"><%= parse_time item.updated_at %></td>
						<td class="edit"><%= link_to "Edit", edit_checklist_item_path(item, :core => true), :remote => true %></td>
					</tr>
				<% end %>
			</table>
		</div>
	<% end %>
</div>