<div class='border-box'>
	<%= nested_form_for @user, :url => {:action => :update_user}, :html => {:multipart => true}, :remote => true, :method => :post do |f| %>
		<div id="edit-user-form">
			<div><h2>Edit User: <%=@user.full_name %></h2></div>
			<%= hidden_field_tag :user_id, @user.id %>
			<%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
			<div><%= f.label "Company" %></div>
			<div><h4 style="text-align:left;margin-bottom:15px;"><%= @user.company.name %></h4></div>
			<div><%= f.label "First name" %></div>
			<div><%= f.text_field :first_name, :placeholder => "First name", :class=>"tt-hint form-control" %></div>
			<div><%= f.label "Last name" %></div>
			<div><%= f.text_field :last_name, :placeholder => "Last name", :class=>"tt-hint form-control" %></div>

			<div><%= f.label "Email" %></div>
			<div><%= f.email_field :email, :placeholder => "Email address", :class=>"tt-hint form-control" %></div>
			<div><%= f.label "Phone Number" %></div>
			<div><%= f.text_field :phone_number, :value => @user.formatted_phone, :placeholder => "Phone number (e.g. (555) 555-5555)", :class=>"tt-hint form-control" %></div>
			<div><%= f.label "Password" %></div>
			<div><%= f.password_field :password, :placeholder => "Password (only required if changing)", :class=>"tt-hint form-control" %></div>
			<div><%= f.label "Password confirmation" %></div>
			<div><%= f.password_field :password_confirmation, :placeholder => "Confirm password (only required if changing)", :class=>"tt-hint form-control" %></div>
			<div><div style="padding:10px 0 0;display:inline-block; width:25%;">Admin</div> <%= f.check_box :admin %></div>
			<div><div style="padding:10px 0 0;display:inline-block; width:25%;">Company Admin</div> <%= f.check_box :company_admin %></div>
			<div><div style="padding:10px 0 0;display:inline-block; width:25%;">Uber Admin</div> <%= f.check_box :uber_admin %></div>

			<div id="photo-section">
				<% if @user.image_file_name %>
					<div>
						<%= image_tag @user.image.url(:small), :class => "user-pic" %>
					</div>
					<div>
						<h4>Replace photo:</h4><%= f.file_field :image %>
					</div>
				<% else %>
					<div>
						<h4>Add a photo:</h4><%= f.file_field :image %>
					</div>
				<% end %>
			</div>
			
			<div style="float:right;"><button class="btn btn-success btn-md"><%= f.submit "Save" %></button></div>
			
	<% end %>
		<div class="delete-button"><%= link_to "Delete User", destroy_user_uber_admin_index_path(:user_id => @user.id), :method => :delete, :data => {:confirm => "Are you sure you want to delete #{@user.full_name}?"}, :class => "btn btn-danger btn-md remote" %></div>
	</div>
</div>