<table id="edit-user-form">
	<tr><td><h2>Edit User: <%=@user.full_name %></h2></td></tr>
	<%= nested_form_for @user, :url => {:action => :update_user}, :html => {:multipart => true}, :remote => true, :method => :post do |f| %>
		<%= hidden_field_tag :user_id, @user.id %>
		<%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
		<tr><td><%= f.text_field :first_name, :placeholder => "First name", :class=>"tt-hint form-control" %></td></tr>
		<tr><td><%= f.text_field :last_name, :placeholder => "Last name", :class=>"tt-hint form-control" %></td></tr>
		<tr><td><%= f.email_field :email, :placeholder => "Email address", :class=>"tt-hint form-control" %></td></tr>
		<tr><td><%= f.text_field :phone_number, :placeholder => "Phone number", :class=>"tt-hint form-control" %></td></tr>
		<tr><td><%= f.password_field :password, :placeholder => "Password (only required if changing)", :class=>"tt-hint form-control" %></td></tr>
		<tr><td><%= f.password_field :password_confirmation, :placeholder => "Confirm password (only required if changing)", :class=>"tt-hint form-control" %></td></tr>
		<tr><td style="padding:10px 0;">Company Admin? <%= f.check_box :admin %></td></tr>
		<tr><td style="padding:10px 0;">Uber Admin? <%= f.check_box :uber_admin %></td></tr>

		<tr><td><button class="btn btn-success btn-lg pull-right"><%= f.submit "Save" %></button></td></tr>
	<% end %>
</table>