<%= nested_form_for @company, :url => {:action => :update_company}, :html => {:multipart => true}, :remote => true, :method => :post do |f| %>
	<div id="edit-company-form">
	<div><h2>Edit Company: <%= @company.name %></h2></div>		
		<%= hidden_field_tag :company_id, @company.id %>
		<%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
		<div><%= f.text_field :name, :placeholder => "Company Name", :class=>"tt-hint form-control" %></div>
		<div><%= f.email_field :email, :placeholder => "Contact Email", :class=>"tt-hint form-control" %></div>
		<div><%= f.text_field :phone_number, :placeholder => "Contact Phone Number", :class=>"tt-hint form-control" %></div>
		<% if @company.image_file_name %>
			<div>
				<%= image_tag @company.image.url(:small), :class => "company-pic" %>
			</div>
		<% end %>
		<div>
			<%= f.file_field :image %>
		</div>
		<div><button class="btn btn-success btn-md pull-right"><%= f.submit "Save" %></button></div>
		<div><%= link_to "Delete Company", destroy_company_uber_admin_index_path(:company_id => @company.id), :method => :delete, :data => {:confirm => "Are you sure you want to delete this company? This will destroy all associated company data (including users, projects, etc.)."}, :style=>"float:right;clear:both;padding:15px 0;", :remote => true %></div>
<% end %>
