<div id="promo-container" class="border-box">
	<div><h4>Add New Promo Code:</h4></div>
	<div class="row">
		<%= form_for @new_code, remote: true do |f|%>
			<div class="col-xs-4"><%= f.text_field :code, :placeholder => 'Promo code (e.g. "NEW-USER-14")', :style=>"display:inline-block" %></div>
			<div class="col-xs-2"><h5 style="margin-right:1em;">Days:</h5><%= f.select :days, 0..31 %></div>
			<div class="col-xs-4"><h5 style="margin-right:1em;">Discount:</h5><%= f.text_field :percentage, :placeholder =>"e.g. 50", :style=>"width:100px;display:inline-block" %>%</div>
			<div class="col-xs-2"><button class="btn btn-success btn-md" style="margin:0;"><%= f.submit "Create" %></button></div>
		<% end %>
	</div>
	<table id="all-codes">
		<th>Code</th>
		<th>Percentage</th>
		<th>Days</th>
		<th>&nbsp;</th>
		<%= render partial:'promo_codes/code',collection: @promo_codes %>
	</table>
</div>