<li><%= link_to "Companies", companies_uber_admin_index_path, :id => "uber-admin-companies-link", remote: true %></li>
<li><%= link_to "Users", users_uber_admin_index_path, :id => "uber-admin-users-link", remote: true %></li>
<li><%= link_to "Safety Topics", safety_topics_uber_admin_index_path, :id => "uber-admin-safety-topics-link", remote: true %></li>
<li><%= link_to "Core Checklists", core_checklists_uber_admin_index_path, :id => "uber-admin-checklists-link", remote: true %></li>
<li><%= link_to "Leads", leads_path, :id => "uber-admin-leads-link", remote: true %></li>
<li><%= link_to "Errors", errors_uber_admin_index_path, :id => "uber-admin-errors-link", remote: true %></li>	