<div id="upload-core">
	<table>
		<%= form_for @checklist, :url => upload_template_uber_admin_index_path, :multipart => true, :method => :post do |f| %>
		<h3>Upload New Master Checklist Template</h3>
			<tr><td><%= f.file_field :file %></td></tr>
			<tr><td><button class="btn btn-success btn-lg"><%= f.submit "Upload New Core" %></button></td></tr>
		<% end %>
	</table>
</div>

<% if @items %>
	<div id="core-checklist">
		<table>
			<th>Category</th>
			<th>Subcategory</th>
			<th>Item</th>
			<th>Last Updated</th>
			<th>Edit</th>
			<% @items.each do |item| %>
				<tr class="core-item-row">
					<td class="category"><%= item.subcategory.category.name %></td>
					<td class="subcategory"><%= item.subcategory.name %></td>
					<td><%= item.body %></td>
					<td class="timestamp"><%= parse_time item.updated_at %></td>
					<td class="edit"><%= link_to "Edit" %></td>
				</tr>
			<% end %>
		</table>
	</div>
<% end %>
