<div class="border-box">
	<%= form_tag search_companies_path, :id => "companies-search", :method => :post, :class=>"input-group", :style=>"width:100%;", :remote => true do %>
		<%= fields_for @user do |u| %>
			<%= u.hidden_field :first_name, value: @user.first_name %>
			<%= u.hidden_field :last_name, value: @user.last_name %>
			<%= u.hidden_field :email, value: @user.email %>
			<%= u.hidden_field :phone, value: @user.phone %>
		<% end %>
		<%= text_field_tag :search, nil, :placeholder=>"Search for your company...", :class=>"form-control" %>
		<span class="input-group-addon" style="cursor: pointer;" id="remove"><span class="glyphicon glyphicon-remove"></span></span>
	<% end %>
	<div id="search-results">

	</div>
</div>
<script>
	$(document).ready(function(){
		$('#remove').on('click',function(){
			$('#search').val('');
			$('#companies-search').submit();
		});
	});
</script>