<div id="connect-form">
	<ul id="connect-progress" class="border-box">
		<li class="active">Basic Info</li>
		<li>Password</li>
		<li>Company</li>
	</ul>
	<div id="errors"></div>
<%= form_for user, url: registration_path(user), method: :post,:html => {:autocomplete => "off"} do |f| %>
<!-- fake fields are a workaround for chrome autofill getting the wrong fields -->
<input style="display:none" type="text" name="fakeusernameremembered"/>
<input style="display:none" type="password" name="fakepasswordremembered"/>

<%= devise_error_messages! %>
	<fieldset id="info">
		<h3 class="fs-title">Is Your Information Correct?</h3>
		<%= hidden_field_tag :connect %>
		<%= f.text_field :first_name, :placeholder => "First name", :autofocus => true %>
		<%= f.text_field :last_name, :placeholder => "Last name" %>
		<% if user.phone && user.phone.length > 0 %>
			<%= f.email_field :email, :placeholder => "The email address you use for work", autocomplete:"off" %>
		<% elsif user.email && user.email.length > 0 %>
			<%= f.hidden_field :email %>
			<%= f.text_field :phone, :placeholder => "Your phone number", autocomplete:"off" %>
		<% end %>
			<!--<div style="width:49%;display:inline-block;text-align:center;"><a onclick>No</a> </div>-->
			<input type="button" name="no" onclick="editfields();" class="previous action-button" value="No" />
			<input type="button" name="yes" class="next action-button" value="Yes" />
	</fieldset>
	<fieldset id="password">
		<h2 class="fs-title">Choose a password</h2>
		<%= f.password_field :password, :placeholder => "Choose a password", :autocomplete => "off" %>
		<%= f.password_field :password_confirmation, :placeholder => "Confirm your password", :autocomplete => "off" %>
		<input type="button" name="previous" class="previous action-button" value="Back" />
		<input type="button" name="next" class="next submit action-button" value="Next" />
	</fieldset>
<% end %>

	<%= form_tag search_companies_path, :id => "companies-search", :method => :post, :class=>"input-group", :style=>"width:100%;", :remote => true do %>

		<fieldset id="company">
			<%= text_field_tag :search, user.company.name, :placeholder=>"Search for your company...", :style=>"border:1px solid #ddd;width:90%;float:left;",:class=>"form-control" %>
			<span class="input-group-addon" style="cursor: pointer;width:auto;border:0;" id="remove"><span class="glyphicon glyphicon-remove"></span></span>
			<div id="search-results">
				<%= render partial:"companies/company", locals:{user: user}, collection: companies, as: :company, cache:true %>
			</div>
			<input type="button" name="previous" class="previous action-button" value="Back" style="float:left" />
			<div class="fs-title font-smoothing" style="line-height:61px;color:#aaa;text-align:center;">Click your company to confirm</h2>
		</fieldset>
	<% end %>
</div>
<script>
	function editfields(){
		$('#register-container form input[type="text"],#register-container form input[type="email"]').css({"border-color":"#ddd","background":"#fff"},function(){$('#register-container form input[type="text"]').focus()});
	}
	function companyconfirm(id){
		$('.new_user').append("<input id='user_company_id' name='user[company_id]' type='hidden' value='"+id+"'>");
		$('#connect-form .new_user').submit();
	}

	var current_fs, next_fs, previous_fs;
	var left, opacity, scale;
	var animating;
	var info = $('#info');
	var password = $('#password');
	var company = $('#company');

	$(".next").click(function(){
		if(animating) return false;
		animating = true;

		if ($(this).parent().is(info)){
			current_fs = info;
			next_fs = password;
		} else if ($(this).parent().is(password)){
			var userPassword = document.getElementById('user_password');
			var userPasswordConfirmation = document.getElementById('user_password_confirmation');
			$('#errors').text("");
			if (userPassword.value.length === 0){
				$('#errors').text("Please make sure you've entered a password before continuing.").fadeIn(200);
			} else if (userPasswordConfirmation.value.length === 0){
				$('#errors').text("Please make sure you've confirmed your password before continuing.").fadeIn(200);
			} else {
				if (userPassword.value != userPasswordConfirmation.value){
					$('#errors').text("Your passwords don't match.").fadeIn(200);
				} else {
					current_fs = password;
					next_fs = company;
				}
			}
		} else if ($(this).parent().is(company)) {
			current_fs = company;
			next_fs = nil;
		}
		
		if (current_fs && next_fs){
			//activate next step on progressbar using the index of next_fs
			$("#connect-progress li").eq($("fieldset").index(next_fs)).addClass("active");
			next_fs.show(); 
			current_fs.animate({opacity: 0}, {
				step: function(now, mx) {
					//as the opacity of current_fs reduces to 0 - stored in "now"
					//1. scale current_fs down to 80%
					scale = 1 - (1 - now) * 0.2;
					//2. bring next_fs from the right(50%)
					left = (now * 50)+"%";
					//3. increase opacity of next_fs to 1 as it moves in
					opacity = 1 - now;
					current_fs.css({'transform': 'scale('+scale+')'});
					next_fs.css({'left': left, 'opacity': opacity});
				}, 
				duration: 800, 
				complete: function(){
					current_fs.hide();
					animating = false;
				}, 
				easing: 'easeInOutBack'
			});
		}
	});

	$(".previous").click(function(){
		if(animating) return false;
		animating = true;
		
		if ($(this).parent().is(info)){
			var span = document.getElementById("errors");
			txt = document.createTextNode('Please add your basic info and then click "Yes".');
			span.innerText = txt.textContent;
			animating = false;
			setTimeout(function(){
				//document.getElementById("errors").innerHTML = '';
			}, 4000);
			return;
		} else if ($(this).parent().is(password)){
			current_fs = password;
			previous_fs = info;
		} else if ($(this).parent().is(company)){
			current_fs = company;
			previous_fs = password;
		} else {
			return;
		}

		if (current_fs && previous_fs){
			//de-activate current step on progressbar
			$("#connect-progress li").eq($("fieldset").index(current_fs)).removeClass("active");
			previous_fs.show(); 
			current_fs.animate({opacity: 0}, {
				step: function(now, mx) {
					//as the opacity of current_fs reduces to 0 - stored in "now"
					//1. scale previous_fs from 80% to 100%
					scale = 0.8 + (1 - now) * 0.2;
					//2. take current_fs to the right(50%) - from 0%
					left = ((1-now) * 50)+"%";
					//3. increase opacity of previous_fs to 1 as it moves in
					opacity = 1 - now;
					current_fs.css({'left': left});
					previous_fs.css({'transform': 'scale('+scale+')', 'opacity': opacity});
				}, 
				duration: 800, 
				complete: function(){
					current_fs.hide();
					animating = false;
				}, 
				easing: 'easeInOutBack'
			});
		}
	});

	$(document).ready(function(){
		$('#remove').on('click',function(){
			$('#search').val('');
			$('#companies-search').submit();
		});
		$(window).keydown(function(e) {
		    if (e.which == "13") { 
		        if (next_fs){
		        	next_fs.find(".next").click();
		        } else {
		        	$('.next').click();
		        }
		    }       
		});
	});

	$(".submit").click(function(){
		return false;
	})

</script>