<div class="session-container">
	<div class="inner-container">
	<h2>Sign up</h2>

	<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
	  <%= devise_error_messages! %>

	  <%= f.text_field :first_name, :placeholder => "First name", :autofocus => true %>
	  <%= f.text_field :last_name, :placeholder => "Last name" %>
	  <%= f.fields_for resource.build_company do |c| %>
	  	<%= c.text_field :name, :placeholder => "Company name"  %>
	  <% end %>
	  <%= f.email_field :email, :placeholder => "Email address" %>
	  <%= f.password_field :password, :placeholder => "Password", :autocomplete => "off" %>
	  <%= f.password_field :password_confirmation, :placeholder => "Password confirmation", :autocomplete => "off" %>

	  <div><%= f.submit "Sign up", :class=>"btn btn-success btn-lg save", :style=>"margin:15px auto;" %></button></div>
	<% end %>

	<%= render "devise/shared/links" %>
</div>
</div>