<div class="session-container border-box">
	<div class="inner-container">
		<h2 class="center">Sign Up</h2>
		<h5 style="margin-bottom: 2em;" class="center">Please note that you'll need a beta code in order to get started:</h5>
		<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), data: {'parsley-validate' => ''}) do |f| %>
		  	<%= devise_error_messages! %>

		  	<%= f.label "Beta Code" %>
		  	<%= text_field_tag :beta_code, nil, :placeholder => "Your beta code", required: true, 'data-parsley-equalto' => "BuildHawkBeta", "data-parsley-error-message" => "Sorry, but that's not the right code." %>

		  	<%= f.label "Company name" %>
		  	<%= f.fields_for resource.build_company do |c| %>
		  		<%= c.text_field :name, :placeholder => "Company name", required: true  %>
		  	<% end %>

		  	<div class="names">
			  	<%= f.label "First name" %>
			  	<%= f.text_field :first_name, :placeholder => "First name", :class=>"first-name", :autofocus => true, required: true %>
			</div>
			<div class="names">
		  		<%= f.label "Last name" %>
		  		<%= f.text_field :last_name, :placeholder => "Last name", required: true %>
		  	</div>

		  	<div class="contact-methods">
			  	<%= f.label "Email" %>
			  	<%= f.email_field :email, :placeholder => "The email address you use for work", :class=>"email", required: true %>
		  	</div>
		  	<div class="contact-methods">
			  	<%= f.label "Phone number" %>
			  	<%= f.text_field :phone, :placeholder => "The phone number you'd use work" %>
		  	</div>
		  	
		  	<%= f.label "Password" %>
		  	<%= f.password_field :password, :placeholder => "Password", :autocomplete => "off", required: true %>
		  	<%= f.label "Confirm Password" %>
		  	<%= f.password_field :password_confirmation, :placeholder => "Password confirmation", :autocomplete => "off", required: true, 'data-parsley-equalto' => "#user_password", "data-parsley-error-message" => "Your passwords don't match." %>

		  	<div>
		  		<%= button_tag(type: 'submit', :class=> "simple-btn save", style:"margin:15px auto;display:block;") do %>
			    	<i class="fa fa-user"></i> Sign up
			  	<% end %>
		  	</div>
		<% end %>

		<%= render "devise/shared/links" %>
	</div>
</div>