<% unless comment.new_record? %>
	<div class="comment" id="comment-<%=comment.id%>">
		<div><%= comment.body %></div>
		<div style="float:right">
			<% if comment.user %>- <%= comment.user.full_name %> <span class="comment-pipe">|</span> <% end %>
			<%= parse_time comment.created_at %>
			<% if user_signed_in? && comment.user == current_user %>
				<span class="comment-pipe">|</span> 
				<%= link_to comment_path(comment), method: :delete, :class => "delete-link full-width", data: {confirm: "Are you sure you want to delete this comment?"}, remote: true do %>
					<i class="fa fa-trash remote"></i>
				<% end %>
			<% end %>
		</div>
	</div>
<% end %>