<tr id="comment-<%=comment.id%>">
	<td class="col-md-12"><%= comment.body %></td>
	<td class="col-md-12" style="line-height:1em">
		<% if comment.user %>- <%= comment.user.full_name %> <span class="comment-pipe">|</span> <% end %>
		<%= parse_time comment.created_at %>
		<% if user_signed_in? && comment.user == current_user %>
			<span class="comment-pipe">|</span> <%= link_to "Remove", comment_path(comment), :method => :delete, :class => "delete-link", :data => {:confirm => "Are you sure you want to delete this comment?"}, :remote => true %>
		<% end %>
	</td>
</tr>