<div class="border-box comment-container" style="margin-top:20px;">
	<h3 style="text-align:center; width:50%;margin:20px auto; display:block;">Comments</h3>
	<div id="comments-form">
		<%= form_for :comments.new, :method => :post, :remote => true do |f| %>
			<%= f.text_area :body, :rows => "3", :placeholder => "Type your notes/comment here" %>
			<%= f.hidden_field :user_id, :value => current_user.id %>
			<%= f.hidden_field :report_id, :value => @report.id %>
			<%= f.submit "Send", :class => "btn btn-success btn-md pull-right", :style => "margin-top:14px;" %>
		<% end %>
	</div>
	<%= render :partial => "comments/comments" %>
</div>