<% if folder && folder.name.length > 0 %>
	<li class="folder" id="fid-<%=folder.id%>">
		<h4 class="folder-name"><%= folder.name %></h4>
		<%= link_to "Edit", edit_folder_path(folder), :class=>"edit-folder remote", :remote => true %>
		<ul>
			<% folder.photos.sort_by(&:name).each do |p| %>
				<li class="photo-name" id="p-<%= p.id %>">
					<%= link_to p.name, show_photo_project_path(@project,:photo_id => p.id), :class=>"remote", :remote => true %>
				</li>
			<% end %>
		</ul>
		<div id="fid-<%=folder.id%>-add-document" class="add-photo">

			<%= form_for Photo.new, url: photo_project_path(@project), multipart: true , remote: true, method: :post do |f| %>
				<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
				<div id="upload-file-container">
					<div id="upload-prompt">(+) UPLOAD PROJECT DOC</div><%= f.file_field :image, multiple: true, :id => "project-doc-folder-#{folder.id}" %>
				</div>
				<%= f.hidden_field :folder_id, :value => folder.id %>
			<% end %>

			<script type="text/javascript">
				$('#project-doc-folder-<%=folder.id%>').change(function(){
					$('#fid-<%=folder.id%>-add-document #upload-prompt').text('Uploading...');
					$('#fid-<%=folder.id%>-add-document form').submit();
				})
			</script>
		</div>
	</li>
<% end %>
