<% if folder && folder.name.length > 0 %>
	<li class="folder" id="fid-<%=folder.id%>">
		<h4 class="folder-name">
			<%= folder.name %>
			<%= link_to edit_folder_path(folder), :class=>"edit-folder-link remote", remote: true do %>
				<i class="fa fa-cog remote"></i>
			<% end %>
		</h4>

		<span>
			<%= form_for Photo.new, url: photos_path(project_id: project.id), multipart: true , remote: true, method: :post do |f| %>
				<div class="dz-message empty-btn">Upload</div>
				<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
				<%= f.hidden_field :folder_id, value: folder.id %>
			<% end %>
		</span>
		<ul>
			<% folder.photos.sort_by(&:name).each do |p| %>
				<li class="photo-name" id="p-<%= p.id %>">
					<%= link_to show_photo_project_path(project, photo_id: p.id), :class=>"remote", remote: true do %>
						<%= render partial:"folders/p", locals: {p: p} %>
					<% end %>
				</li>
			<% end %>
		</ul>
		<div id="fid-<%=folder.id%>-add-document" class="add-photo"></div>
	</li>
<script type="text/javascript">
setupDropzone('<%= folder.id %>');
</script>
<% end %>
