$('#photo-table').fadeOut(170,function(){
	$(this).html('<%= j render :partial => "projects/folders" %>');
	$(this).fadeIn(170);
});
$('#add-folder-link').on('click',function(){
	$(this).fadeOut(200,function(){
		$(this).replaceWith('<%= form_for Folder.new, :remote => true do |f| %><%= f.text_field :name, :placeholder => "New folder name..." %><%= f.hidden_field :project_id, :value => @project.id %><button class="btn btn-md btn-success pull-right" style="margin-top:10px;"><%= f.submit "Create" %></button><% end %>');
		$(this).fadeIn(200);
	});
});