$('#main * .navbar-nav > li > a').removeClass('current-page');
$('.nav-checklists a').addClass('current-page');
<% if @project %>
	$('#pages').fadeOut(170,function(){
		$(this).html('<%= j render :partial => "subcategories/edit" %>');
		$(this).fadeIn(170);
		$("html, body").animate({ scrollTop: 0 }, 300);
		$("#dp,#dp-completed").datepicker();
		$('#clear-critical-date').on('click',function(){
			$('#dp').val('');
		});
		$('#clear-completed-date').on('click',function(){
			$('#dp-completed').val('');
		});
	});
<% else %>
	$('#subcategory-<%=@subcategory.id%> .editable').fadeOut(200,function(){
		$(this).html('<%= j render partial:"subcategories/inline_edit", locals: {:subcategory => @subcategory} %>');
		$(this).fadeIn(200);
		$('#cancel-edit-subcategory').on('click',function(){
			console.log('clicked');
			$("#subcategory-<%=@subcategory.id%> .editable").fadeOut(200,function(){
				$(this).html('<h4 class="title" id="<%=@subcategory.id%>"><%= @subcategory.name %></h4><span class="completed-count"><%= j render partial:"checklists/completed_count", :locals => {:subcategory => @subcategory} %></span><%= link_to "Edit Category", edit_subcategory_path(@subcategory), :class=>"edit-category remote", :remote => true %>');
				$(this).fadeIn(200);
			});
		});
	});
<% end %>

