<%= nested_form_for task, url: task_path(task), :multipart => true, :method => :patch, :remote => true do |f| %>
	<%= hidden_field_tag :authenticity_token, form_authenticity_token %>

	<div id="task-container" class="border-box container">
		<div class="action-buttons">
			<div id="task-save" class="action">
               	<i class="fa fa-floppy-o remote"></i>
			</div>
			
			<%= link_to export_task_path(task), :class=>"action remote", id:"export-task", remote: true do %>
				<i class="fa fa-share"></i>
			<% end %>
			
			<% if current_user.any_admin? %>
				<%= link_to task_path(task), :method => :delete, :data => {:confirm => "Are you sure you want to delete this task?"}, remote: true, :class=>"action remote" do %>
					<i class="fa fa-trash-o remote"></i>
				<% end %>
			<% end %>
			<div id="dismiss-task" class="action">
				<i class="fa fa-remove" id="dismiss-task"></i>
			</div>
		</div>

		<h4 class="task-title"><%=task.body%></h4>
		
		<div class="row">
			<div class="col-xs-3"><h5>Task</h5></div>
			<div class="col-xs-9"><%= f.text_field :body, placeholder: "Describe the task" %></div>
		</div>
		<div class="row">
			<div class="col-xs-3">
				<h5>Location</h5>
			</div>
			<div class="col-xs-9">
				<%= f.text_field :location, placeholder: "Add a location (optional)" %>
			</div>		
		</div>
		<div class="row" style="margin-bottom:2.5%;">
			<div class="col-xs-3"><h5>Status</h5></div>
			<div class="col-xs-9">
				<div>
					<%= f.radio_button :completed, false %><h6 class="task-progress">IN PROGRESS</h6>
				</div>
				<div>
					<%= f.radio_button :completed, true %><h6 class="task-progress">COMPLETED</h6>
					<% if task.completed_by_user %>
						<h5 style="color:#aaa;margin-left:5%;display:inline-block;font-size:1em;font-weight:100;"> by <%= task.completed_by_user.full_name %>, <%= parse_time task.completed_at %></h5>
					<% end %>
				</div>
			</div>
		</div>

	<% unless task.completed_by_user %>
		<div class="row" style="margin-bottom:2.5%;">
			<h5 class="col-xs-3">Assignees</h5>
			<div class="col-xs-9">
				<%= f.collection_select :assignee_ids, @users, :id, :full_name, {selected: task.assignee_ids}, {include_blank: false, multiple: true, :class=>"assignee-select", :style => "position:relative;top:10px;"} %>
			</div>
		</div>
	<% end %>
		
	<% if task.photos && task.photos.count > 0 %>
		<div class="row">
			<div style="padding:30px 0;padding-top:20px;">
				<% task.photos.each do |p| %>
					<% if p.image_file_name%>
						<%= render :partial => "photos/image", :locals => {:p => p} %>
					<% end %>
				<% end %>
			</div>
		</div>
	<% end %>
	
		<div class="row">
			<h5>Add a photo</h5>
			<%= f.fields_for :photos, task.photos.build do |photo| %>
				<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
				<%= photo.hidden_field :name, value: "Task Photo" %>
				<%= photo.hidden_field :project_id, :value => @project.id %>
				<%= photo.hidden_field :user_id, :value => current_user.id %>
				<%= photo.file_field :image %>
				<% if task.id %><%= photo.hidden_field :task_id, :value => task.id %><% end %>
				<%= photo.hidden_field :source, :value => "Tasklist" %>
			<% end %>
		</div>
		<div id="comment-toggle" class="simple-btn">View Comments</div>
	</div>
<% end %>

	<div class="comment-container collapsed border-box">
		<div id="comments-form">
			<%= form_for task.comments.new, :method => :post, remote: true do |f| %>
				<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
				<%= f.text_area :body, :rows => "3", :placeholder => "Type your notes/comment here" %>
				<%= f.hidden_field :user_id, :value => current_user.id %>
				<%= f.hidden_field :task_id, :value => task.id %>
				<%= f.submit "Send", :class => "simple-btn pull-right", :style => "margin-top:14px;", remote:true %>
			<% end %>
		</div>
		<%= render :partial => "comments/comments", :locals => {:comments => task.comments} %>
	</div>

<script>
	taskSetup('<%=@project.to_param%>');
</script>