<%= nested_form_for task, url: tasks_path, html: {:multipart => true}, remote: true, :class=>"remote", method: :post do |f| %>
	<%= f.hidden_field :user_id, value: current_user.id %>
	<%= hidden_field_tag :project_id, @project.id %>
	<%= hidden_field_tag :authenticity_token, form_authenticity_token %> 

	<div id="task-container" class="border-box">
		<header>
			<h4>New task</h4>
		</header>

		<div class="action-buttons">
			<div id="task-save" class="action">
               	<i class="fa fa-floppy-o remote"></i>
			</div>
			
			<i class="fa fa-share inactive action"></i>
		
			<div id="dismiss-task" class="action">
				<i class="fa fa-remove" id="dismiss-task"></i>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-2"><h5>Item</h5></div>
			<div class="col-xs-10"><%= f.text_field :body, :placeholder => "Describe the task" %></div>
		</div>
		<div class="row">
			<div class="col-xs-2"><h5>Location</h5></div>
			<div class="col-xs-10"><%= f.text_field :location, :placeholder => "Add a location (optional)" %></div>
		</div>
		<div class="row">
			<h5 class="col-xs-2">Assignees</h5>
			<div class="col-xs-10">
				<%= f.collection_select :assignee_ids, @users, :id, :full_name, {selected: task.assignee_ids}, {:include_blank => false, multiple: true, :class=>"assignee-select", :style => "position:relative;top:10px;"} %>
			</div>
		</div>
		<div class="row">
			<h5>Add a photo</h5>
			<%= f.fields_for :photos do |photo| %>
				<%= photo.file_field :image %>
				<%= photo.hidden_field :project_id, value: @project.id %>
				<%= photo.hidden_field :user_id, value: current_user.id %>
				<%= photo.hidden_field :source, value: "Tasklist" %>
			<% end %>
		</div>
		<div class="row button-container">
			<%= f.submit "Add", :class=>"simple-btn full-width" %>
		</div>
		
	</div>

<% end %>

<script>
	taskSetup('<%=@project.to_param%>',null);
</script>