<div id="task-<%=task.id%>" class="task row">
    <%= link_to edit_task_path(task), remote: true do %>
        <!--<div class="col-xs-1">
            <span class="worklist-item-checkbox"><%= check_box_tag :select, task.id %></span>
        </div>-->
        <div class="col-xs-2">
            <% if task.photos && task.photos.count > 0 %>
                <% photo = task.photos.where("image_file_name IS NOT NULL").first %>
                <%= image_tag(photo.image.url(:small)) if photo %>
            <% end %>
        </div>
        
        <div class="col-xs-3 task-body">
            <% if task.body && task.body.length > 0 %>
                <%= task.body %> 
            <% else %>
                <span class='placeholder'></span>
            <% end %>
        </div>  
        <div class="col-xs-3">
            <% if task.assignees && task.assignees.count > 0 %>
                <%= task.assignees.map(&:full_name).to_sentence %>
            <% else %>
                <span style="color:#aaa;font-style:italic;">Not yet assigned</span>
            <% end %>
        </div>
        <div class="col-xs-2">
            <% if task.completed %>
                <%= parse_time task.completed_at %>
            <% else %>
                <span class="placeholder">In-Progress</span>
            <% end %>
        </div>
        <div class="col-xs-2"><%= parse_time task.created_at %></div>
    <% end %>
</div>