<div class="connect-project" id="connect-project-<%=project.id%>">
	<h4><%= link_to project.name, project_path(project), remote:true %></h4>
	<% tasks = @items.map{|t| t if t.worklist.project && t.worklist.project.id == project.id}.compact %>
	<% completed = tasks.map{|t| t if t.completed} %>
	<div class="task-list">
		<div class="row address">
			<div class="col-xs-6">
				<% if project.address %>
					<%= link_to project.address.formatted_address, project_path(project), remote:true %> (<%= link_to "Map", "https://www.google.com/maps/preview#!q=#{project.address.formatted_address.html_safe}", :target=>"_blank" %>)
				<% end %>
			</div>
			<div class="col-xs-6 count">
				<span class="outstanding-tasks"><%= tasks.count - completed.count %> outstanding</span>
				<span class="completed-tasks">(<%= completed.count %> completed)</span>
			</div>
		</div>

		<div class="tasks">
			<%= render partial:"connect/tasks", collection: tasks, as: :task, cache: true %>
		</div>
	</div>
</div>