<% if @checklists && @checklists.count > 0 %>
	<table class="project-checklist-table">
		<th>Name</th>
		<th># Categories</th>
		<th># Subcategories</th>
		<th># items</th>
		<th>Edit</th>
		<th>Delete</th>
		<% @checklists.each do |c| %>
			<tr>
				<td><%= c.name %></td>
				<td><%= c.categories.count %></td>
				<td><%= c.categories.map(&:subcategories).flatten.count %></td>
				<td><%= c.categories.map(&:subcategories).flatten.map(&:checklist_items).flatten.count %></td>
				<td><%= link_to "Edit", editor_admin_index_path(:checklist_id => c.id), :remote => true %></td>
				<td><%= link_to "Delete", delete_checklist_admin_index_path(:checklist_id => c.id, :company_id => current_user.company.id), :data => {:confirm => "Are you sure you want to delete this checklist? This can not be undone."}, :remote => true, :class=>"delete-checklist-link", :method => :delete %></td>
			</tr>
		<% end %>
	</table>

<% end %>

<%= link_to "Create New Checklist Template", create_template_admin_index_path(:company_id => current_user.company.id), :style => "margin:7px; line-height:50px;", :class => "no-link", :method => :post %>