<% if @checklists && @checklists.count > 0 %>
	<table class="project-checklist-table">
		<th>Name</th>
		<th># Categories</th>
		<th># Subcategories</th>
		<th># items</th>
		<th>Edit</th>
		<% @checklists.each do |c| %>
			<tr>
				<td><%= c.name %></td>
				<td><%= c.categories.count %></td>
				<td><%= c.categories.map(&:subcategories).flatten.count %></td>
				<td><%= c.categories.map(&:subcategories).flatten.map(&:checklist_items).flatten.count %></td>
				<td><%= link_to "Edit", editor_admin_index_path(:checklist_id => c.id), :remote => true %></td>
			</tr>
		<% end %>
	</table>
<% else %>
	<%= link_to "Create Checklist Template", create_template_admin_index_path(:company_id => current_user.company.id), :method => :post %>
<% end %>