<% if item.order_index == 0 %>
	<% s = item.subcategory %>
	<% if s.order_index == 0 %>
		<% c = s.category %>
		<div class="category">
			<h1 style="display:inline-block"><%=c.name%></h1>
			<%= link_to "Edit Phase", category_checklist_path(item.checklist, :category_id => c.id), :style=>"margin-left:20px;", :remote => true %>
		</div>
	<% end %>
	<div class="subcategory">
		<h3 style="display:inline-block"><%=s.name%></h3>
		<%= link_to "Edit Category", subcategory_checklist_path(item.checklist, :subcategory_id => s.id), :style=>"margin-left:20px;", :remote => true %>
	</div>
<% end %>

<%= link_to edit_checklist_item_path(item), :remote => true do %>
	<div class="row checklist-item">
		<div class="col-md-7 checklist-body" style="margin-left:20px;margin-right:-20px;">
			<%=item.body%>
		</div>

		<div class="col-md-2" style="text-align: center;">
			<% if item.critical_date %>
				<%= parse_date item.critical_date %>
			<% else %>
				&nbsp;
			<% end %>
		</div>

		<div class="col-md-2" style="text-align: center;">
			<% if item.completed_date %>
				<%= parse_date item.completed_date %>
			<% else %>
				&nbsp;
			<% end %>
		</div>

		<div class="col-md-1" style="text-align: center;">
			Edit
		</div>
	</div>
<% end %>

<% if item == item.subcategory.checklist_items.last %>
	<div style="margin:30px 20px 10px">
		<%= link_to "New Checklist Item", new_checklist_item_checklist_path(item.checklist, :subcategory_id => item.subcategory.id, :item_index => item.item_index), :class=>"new-checklist-item", :remote => true %>
	</div>
<% end %>