<tr id="checklist-<%=c.id%>" <% if c.flagged_for_removal %> class="flagged" <% end %>>
	<td><%= c.name %></td>
	<td>
		<% if c.phases.count > 0 %>
			<%= c.phases.count %>
		<% else %>
			<i class="fa fa-circle-o-notch fa-spin center"></i>
		<% end %>
	</td>
	<td>
		<% if c.phases.map(&:categories).flatten.count > 0 %>
			<%= c.phases.map(&:categories).flatten.count %>
		<% else %>
			<i class="fa fa-circle-o-notch fa-spin center"></i>
		<% end %>
	</td>
	<td>
		<% if c.item_count > 0 %>
			<%= c.item_count %>
		<% else %>
			<i class="fa fa-circle-o-notch fa-spin center"></i>
		<% end %>
	</td>
	<td>
		<h5>
			<%= link_to "EDIT", editor_admin_index_path(cid: c.id), :class=>"simple-btn", remote: true unless c.flagged_for_removal %>
		</h5>
	</td>
	<td>
		<% if c.flagged_for_removal %>
			<div class="placeholder font-smoothing" style="text-decoration:none; display:inline-block;">Removing...</div>
		<% else %>
			<%= link_to remove_checklist_admin_index_path(cid: c.id), :data => {:confirm => "Are you sure you want to remove this checklist template? This can not be undone."}, :remote => true, :class=>"remote", :style=>"max-width:100px;display:inline;", method: :delete do %>
				<i class="fa fa-trash-o remote checklist"></i>
			<% end %>
		<% end %>
	</td>
</tr>