<tr id="checklist-<%=c.id%>">
	<td><%= c.name %></td>
	<td><%= c.phases.count %></td>
	<td><%= c.phases.map(&:categories).flatten.count %></td>
	<td><%= c.item_count %></td>
	<td><h5><%= link_to "EDIT", editor_admin_index_path(:checklist_id => c.id), :remote => true %></h5></td>
	<td>
		<%= link_to remove_template_admin_path(c), :data => {:confirm => "Are you sure you want to remove this checklist template? This can not be undone."}, :remote => true, :class=>"remote", :style=>"max-width:100px;display:inline;", method: :delete do %>
			<i class="fa fa-trash-o remote checklist"></i>
		<% end %>
	</td>
</tr>