<tr id="checklist-<%=c.id%>">
	<td><h5><%= c.name %></h5></td>
	<td><%= c.description %></td>
	<td><%= c.categories.count %></td>
	<td><%= c.categories.map(&:subcategories).flatten.count %></td>
	<td><%= c.item_count %></td>
	<td><%= link_to "Use", create_template_admin_index_path(:company_id => current_user.company.id, :checklist_id => c.id), :class=>"simple-btn remote company-template", :method => :post, :remote => true %></td>
</tr>