<tr id="checklist-<%=c.id%>" class="core-checklist-row">
	<td><h5><%= c.name %></h5></td>
	<td class="checklist-description"><%= c.description %></td>
	<td class="center"><%= c.phases.count %></td>
	<td class="center"><%= c.phases.map(&:categories).flatten.count %></td>
	<td class="center"><%= c.item_count %></td>
	<td class="center"><h5>
		<%= link_to "Use", create_template_admin_index_path(company_id: current_user.company.id, checklist_id: c.id), :class=>"remote company-template simple-btn", method: :post, remote: true %></h5></td>
</tr>