<% if @checklist %>
	<div class="admin-checklist-table border-box">

		<div id="checklist-items">
			<header>
				<%= render partial:"admin/edit_checklist" %>
			</header>
			<%= link_to "(+) New Phase", new_category_path(:checklist_id => @checklist), :id=>"new-phase", :class=>"remote new-phase", remote: true %>
			<ul id="categories">
				<%= render :partial => 'admin/phase', collection: @checklist.categories, :as => :c, cache: false %>
			</ul>
		</div>
	</div>
<% end %>

<script>
$(document).ready(function(){
	$('#categories').sortable({
          axis: 'y',
          dropOnEmpty:true,
          cursor: 'move',
          items: 'li',
          opacity: 0.4,
          scroll: true,
          stop: function(){
            $.ajax({
                type: 'post',
                data: $('#categories').sortable('serialize') + '&id=<%=@checklist.id-%>',
                dataType: 'script',
                url: '/checklists/order_categories'})
            }
        })

        <% @checklist.categories.each do |c| %>
        	$('#<%= c.id %>-items').sortable({
	          axis: 'y',
	          dropOnEmpty:true,
	          cursor: 'move',
	          items: 'li',
	          opacity: 0.4,
	          scroll: true,
	          stop: function(){
	            $.ajax({
	                type: 'post',
	                data: $('#<%= c.id %>-items').sortable('serialize') + '&id=<%=c.id-%>',
	                dataType: 'script',
	                url: '/checklists/order_subcategories'})
	            }
	        });
        <% end %>
        $('#categories li:first-child .phase-link').click();
    });
</script>