<div class="border-box">
	<%= nested_form_for @user, :url => update_user_admin_path(@user), :multipart => true, :method => :patch do |f| %>
		<table id="edit-user-form">
			<tbody>
				<tr><td><h2>Edit User</h2></td></tr>
				<%= hidden_field_tag :company_id, :value => current_user.company.id %>
				<%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
				<tr><td><%= f.label "First name" %></td></tr>
				<tr><td><%= f.text_field :first_name, :placeholder => "First name", :class=>"tt-hint form-control" %></td></tr>
				<tr><td><%= f.label "Last name" %></td></tr>
				<tr><td><%= f.text_field :last_name, :placeholder => "Last name", :class=>"tt-hint form-control" %></td></tr>
				<tr><td><%= f.label "Email" %></td></tr>
				<tr><td><%= f.email_field :email, :placeholder => "Email address", :class=>"tt-hint form-control" %></td></tr>
				<tr><td><%= f.label "Phone number" %></td></tr>
				<tr><td><%= f.text_field :phone_number, :placeholder => "Phone number", :class=>"tt-hint form-control" %></td></tr>
				<tr><td><%= f.label "Password" %></td></tr>
				<tr><td><%= f.password_field :password, :placeholder => "Password (only required if changing)", :class=>"tt-hint form-control" %></td></tr>
				<tr><td><%= f.label "Password Confirmation" %></td></tr>
				<tr><td><%= f.password_field :password_confirmation, :placeholder => "Confirm password (only required if changing)", :class=>"tt-hint form-control" %></td></tr>
				<tr><td><div style="padding:10px 0 0;display:inline-block; width:25%;">Admin</div> <%= f.check_box :admin %></td></tr>
				<tr><td><div style="padding:10px 0 0;display:inline-block; width:25%;">Company Admin (access to billing)</div> <%= f.check_box :company_admin, :style=>"margin-top:24px; vertical-align:top;" %></td></tr>
				<tr><td><div style="padding:10px 0 0;display:inline-block; width:25%;">Email Permissions?</div> <%= f.check_box :email_permissions %></td></tr>
				<tr><td><div style="padding:10px 0 0;display:inline-block; width:25%;">Push Permissions?</div> <%= f.check_box :push_permissions %></td></tr>
				<tr><td><button class="btn btn-success btn-md pull-right"><%= f.submit "Save" %></button></td></tr>
				<tr><td><%= link_to "Delete", delete_user_admin_path(@user), :method => :delete, :data => {:confirm => "Are you sure you want to delete this user?"}, :style=>"float:right;clear:both;padding:15px;" %></td></tr>
			</tbody>
		</table>
	<% end %>
</div>