<div class="admin-checklist-table border-box">
	<div id="checklist-items">
		<header>
			<%= render partial:"admin/edit_checklist" %>
		</header>
		
		<ul id="phases">
			<%= render :partial => 'admin/phase', collection: @checklist.phases, :as => :p, cache: false %>
		</ul>
		<%= link_to "Add a new phase", new_phase_path(:checklist_id => @checklist), :id=>"new-phase", :class=>"simple-btn remote new-phase", remote: true %>
	</div>
</div>

<div id="checklist-focus">
	<% if @item %>
		<%= render :partial => "checklist_item", :locals => {:item => @item} %>
	<% end %>
</div>

<script>
$(document).ready(function(){
	checklistSort('<%=@checklist.id%>');
	<% @checklist.phases.each do |p| %>
		phaseSort('#<%= p.id %>-items','<%= p.id %>')
	<% end %>
});
</script>