<div id="admin-checklist" class="admin checklist <% if @item %>panel<% end %>">
	<div class="admin-checklist-table border-box">
		<aside>
			<%= link_to "&#8592; Back".html_safe, checklists_admin_index_path, remote: true %>
		</aside>
		<div id="checklist-items">
			<header>
				<%= render partial:"admin/edit_checklist" %>
			</header>
			<ul id="phases">
				<%= render partial: 'phases/show', collection: @checklist.phases, as: :p, cache: true %>
			</ul>
			<%= link_to new_phase_path(checklist_id: @checklist), id:"new-phase", :class=>"empty-btn remote new-phase", remote: true do %>
				<i class="fa fa-plus remote"></i><span style="padding-left:10px;">Phase</span>
			<% end %>
		</div>
	</div>
</div>
<div id="checklist" class="focus editor" <% if @item %>style="left:54%"<% end %>>
	<%= render partial: "checklist_items/edit", locals: {item: @item} if @item %>
</div>

<script>
	checklistSetup(null);
	phaseSort('<%= @checklist.id %>');
</script>