<div id="admin-checklist" class="admin checklist">
	<div class="admin-checklist-table border-box">
		<aside>
			<%= link_to "&#8592; Back".html_safe, checklists_admin_index_path, remote: true %>
		</aside>
		<div id="checklist-items">
			<header>
				<%= render partial:"admin/edit_checklist" %>
			</header>
			<ul id="phases">
				<%= render :partial => 'admin/phase', collection: @checklist.phases, as: :p, cache: false %>
			</ul>
			<%= link_to "+ phase", new_phase_path(checklist_id: @checklist), id:"new-phase", :class=>"empty-btn remote new-phase", remote: true %>
		</div>
	</div>
</div>
<div id="checklist" class="focus editor">
	<%= render partial: "checklist_item", locals: {item: @item} if @item %>
</div>

<script>
$(document).ready(function(){
	checklistSort('<%=@checklist.id%>');
	phaseSort(<%= raw @checklist.phases.map(&:id).to_json %>);	
});
</script>