<div id="admin-checklist" class="admin checklist">
	<div class="admin-checklist-table border-box">
		<div id="checklist-items">
			<header><%= render partial:"admin/edit_checklist" %></header>
			<ul id="phases">
				<%= render :partial => 'admin/phase', collection: @checklist.phases, as: :p, cache: false %>
			</ul>
			<%= link_to "+ phase", new_phase_path(:checklist_id => @checklist), :id=>"new-phase", :class=>"empty-btn remote new-phase", remote: true %>
		</div>
	</div>
</div>
<div id="checklist-focus" class="editor">
	<%= render partial: "checklist_item", locals: {item: @item} if @item %>
</div>


<script>
$(document).ready(function(){
	checklistSort('<%=@checklist.id%>');
	<% @checklist.phases.each do |p| %>
		phaseSort('#<%= p.id %>-items','<%= p.id %>')
	<% end %>
});
</script>