<%= nested_form_for @user, :url => update_user_admin_path(@user), :multipart => true, :method => :patch do |f| %>
	<div id="edit-user-form" class="border-box">
		<div><h2>Edit User</h2></div>
		<%= hidden_field_tag :company_id, current_user.company.id %>
		<%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
		<div><%= f.label "First name" %></div>
		<div><%= f.text_field :first_name, :placeholder => "First name", :class=>"tt-hint form-control" %></div>
		<div><%= f.label "Last name" %></div>
		<div><%= f.text_field :last_name, :placeholder => "Last name", :class=>"tt-hint form-control" %></div>
		<div><%= f.label "Email" %></div>
		<div><%= f.email_field :email, :placeholder => "Email address", :class=>"tt-hint form-control" %></div>
		<div><%= f.label "Phone number" %></div>
		<div><%= f.text_field :phone, :value => @user.formatted_phone, :placeholder => "Phone number (e.g. (555) 555-5555)", :class=>"tt-hint form-control" %></div>
		<div><%= f.label "Password" %></div>
		<div><%= f.password_field :password, :placeholder => "Password (only required if changing)", :class=>"tt-hint form-control" %></div>
		<div><%= f.label "Password Confirmation" %></div>
		<div><%= f.password_field :password_confirmation, :placeholder => "Confirm password (only required if changing)", :class=>"tt-hint form-control" %></div>
		<div>
			<%= f.check_box :admin %>
			<div style="padding:10px 0 0;display:inline-block;">Admin</div>
		</div>
		<div>
			<%= f.check_box :company_admin %>
			<div style="padding:10px 0 0;display:inline-block;">Company Admin (access to billing)</div> 
		</div>
		<div>
			<%= f.check_box :email_permissions %>
			<div style="padding:10px 0 0;display:inline-block;">Email Permissions?</div> 
		</div>
		<div>
			<%= f.check_box :push_permissions %>
			<div style="padding:10px 0 0;display:inline-block;">Push Permissions?</div>
		</div>
		<div class="button-container center">
			<%= f.submit "Save", :class=>"simple-btn save" %>
			<%= link_to delete_user_admin_path(@user), :class =>"btn-danger btn", :method => :delete, :data => {:confirm => "Are you sure you want to delete this user?"} do %>
				<i class="fa fa-trash-o"></i>
			<% end %>
		</div>
	</div>
<% end %>