<div class="border-box">
	<%= nested_form_for @sub, :url => update_sub_admin_path(@sub), :multipart => true, :method => :patch do |f| %>
		<div id="edit-user-form">
			<div><h2>Edit Subcontractor</h2></div>
			<%= hidden_field_tag :company_id, :value => current_user.company.id %>
			<%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
			<div><%= f.label "Subcontractor name" %></div>
			<div><%= f.text_field :name, :placeholder => "Name", :class=>"tt-hint form-control" %></div>
			<div><%= f.label "Contact name" %></div>
			<div><%= f.text_field :contact_name, :placeholder => "Contact Name", :class=>"tt-hint form-control" %></div>
			<div><%= f.label "Contact email" %></div>
			<div><%= f.email_field :email, :placeholder => "Contact email address", :class=>"tt-hint form-control" %></div>
			<div><%= f.label "Contact phone number" %></div>
			<div><%= f.text_field :phone_number, :value => @sub.formatted_phone, :placeholder => "Contact phone number (e.g. (555) 555-5555)", :class=>"tt-hint form-control" %></div>
			<div><button class="btn btn-success btn-md pull-right"><%= f.submit "Save" %></button></div>
			<div><%= link_to "Remove", delete_sub_admin_path(@sub), :method => :delete, :data => {:confirm => "Are you sure you want to delete this subcontractor?"}, :style=>"float:right;clear:both;padding:15px;" %></div>
		</div>
	<% end %>
</div>