<%= nested_form_for @sub, :url => update_sub_admin_path(@sub), :multipart => true, :method => :patch do |f| %>
	<div id="edit-user-form" class="border-box">
		<div><h2>Edit Subcontractor</h2></div>
		<%= hidden_field_tag :company_id, :value => current_user.company.id %>
		<%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
		<div><%= f.label "Subcontractor name" %></div>
		<div><%= f.text_field :name, :placeholder => "Name", :class=>"tt-hint form-control" %></div>
		<div><%= f.label "Contact name" %></div>
		<div><%= f.text_field :contact_name, :placeholder => "Contact Name", :class=>"tt-hint form-control" %></div>
		<div><%= f.label "Contact email" %></div>
		<div><%= f.email_field :email, :placeholder => "Contact email address", :class=>"tt-hint form-control" %></div>
		<div><%= f.label "Contact phone number" %></div>
		<div><%= f.text_field :phone_number, :value => @sub.formatted_phone, :placeholder => "Contact phone number (e.g. (555) 555-5555)", :class=>"tt-hint form-control" %></div>
		<div class="button-container">
			<%= f.submit "Save", :class=>"btn btn-success btn-md save" %>
			<%= link_to "Delete", delete_sub_admin_path(@sub), :class =>"btn-danger btn", :method => :delete, :data => {:confirm => "Are you sure you want to delete this subcontractor?"} %>
		</div>
	</div>
<% end %>
