
<% if item.status == "Completed" %>
	<div class="row checklist-item completed" id="item-<%=item.id%>">
<% elsif item.status == "Not Applicable" %>
	<div class="row checklist-item not-applicable" id="item-<%=item.id%>">
<% else %>
	<div class="row checklist-item" id="item-<%=item.id%>">
<% end %>

	<div class="col-xs-8 checklist-body" style="margin-left:20px;margin-right:-20px;">
		<%= link_to item.body, checklist_item_path(item), :remote => true %>
	</div>
	
	<div class="col-xs-2" style="text-align: center;">
		<%= link_to 'Edit', edit_checklist_item_path(item), :class => "simple-btn", :remote => true %>
	</div>
	<div class="col-xs-2" style="text-align: center;">
		<%= link_to 'Delete', checklist_item_path(item), :method => :delete, :data => {:confirm => "Are you sure you want to delete this checklist item?"}, :class => "simple-btn", :class=>"simple-btn delete-link", remote: true %>
	</div>

</div>