<%= form_for @user, method: :post, remote: true, data: {'parsley-validate' => ''} do |f| %>
	<table id="new-user-form" class="border-box">
		<tbody>
			<tr><td><h2>Add User</h2></td></tr>
			<%= hidden_field_tag :company_id, current_user.company.id %>
			<%= hidden_field_tag :admin, true %>
			<%= hidden_field_tag :current_user_id, current_user.id %>
			<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
			<tr><td><%= f.label "First name" %></td></tr>
			<tr><td><%= f.text_field :first_name, placeholder: "First name", required: true %></td></tr>
			<tr><td><%= f.label "Last name" %></td></tr>
			<tr><td><%= f.text_field :last_name, placeholder: "Last name", required: true %></td></tr>
			<tr><td><%= f.label "Email" %></td></tr>
			<tr><td><%= f.email_field :email, placeholder: "Email address", required: true %></td></tr>
			<tr><td><%= f.label "Phone number" %></td></tr>
			<tr><td><%= f.text_field :phone, placeholder: "Phone number", :class=>"tt-hint form-control" %></td></tr>
			<tr><td><%= f.label "Password" %></td></tr>
			<tr><td><%= f.password_field :password, placeholder: "Password", required: true %></td></tr>
			<tr><td><%= f.label "Password Confirmation" %></td></tr>
			<tr><td><%= f.password_field :password_confirmation, placeholder: "Confirm this user's password", required: true, 'data-parsley-equalto' => "#user_password", "data-parsley-error-message" => "These passwords don't match." %></td></tr>
			<tr style="margin-top:2.5%;">
				<td class="label" >
					<%= f.check_box :admin %>
					Admin 
					<i class="fa fa-info-circle"></i>
				</td>
				<td class="explanation">(Admin have the ability to view and edit any project, can create new projects, add users and edit checklists)</td>
			</td></tr>
			<tr>
				<td class="label">
					<%= f.check_box :company_admin %>
					Company admin
					<i class="fa fa-info-circle"></i>
				<td class="explanation">(Company admins have all the same access as admins, but also have access to the accounts billing information)</td>
			</tr>
			<tr>
				<td class="label">
				<%= f.check_box :email_permissions %>Emails?
					<i class="fa fa-info-circle"></i>
				</td>
				<td class="explanation">Do we have permission to text message this user with notifications from their projects (e.g. A task has been assigned to them)?</td>
			</tr>
			<tr>
				<td class="label">
					<%= f.check_box :push_permissions %>
					Push notifications?
					<i class="fa fa-info-circle"></i>
				<td class="explanation">Do we have permission to send push notifications to this user with notifications from their projects (e.g. A task has been assigned to them)?</td>
			</tr>
			<tr>
				<td class="button-container center">
					<%= f.submit "Create", :class=>"simple-btn full-width" %>
				</td>
			</tr>
		</tbody>
	</table>
<% end %>
<script>
	personnelAdmin();
</script>
