<table id="new-project-form">
	<tr><td><h2>New Project</h2></td></tr>
	<%= nested_form_for @project, :url => create_project_admin_index_path(@project), :method => :post do |f| %>
		<%= f.hidden_field :company_id, :value => current_user.company.id %>
		<%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
		<tr><td><%= f.text_field :name, :placeholder => "Project name" %></td></tr>
		
		<%= f.fields_for :address do |a| %>
			<tr><td><%= a.text_field :street1 , :placeholder => "Street address" %></td></tr>
			<tr><td><%= a.text_field :city , :placeholder => "City" %></td></tr>
			<tr><td><%= a.text_field :state , :placeholder => "State" %></td></tr>
			<tr><td><%= a.text_field :zip , :placeholder => "Zip" %></td></tr>
		<% end %>
		<tr><td style="padding:10px 0;">Select Checklist: <%= f.select :checklist, options_for_select(current_user.company.checklists.map(&:name)) %></td></tr>
        <tr><td style="padding:10px 0;">Assign Users: <%= f.select :user_ids, @users.all.collect {|u| [u.full_name, u.id]}, {}, :multiple => true %></td></tr>
		<tr><td><button class="btn btn-success btn-lg pull-right"><%= f.submit "Create" %></button></td></tr>
	<% end %>
</table>