<div id="billing-page" class="page border-box">
	<h3><%=Time.now.strftime("%B")%> Billing</h3>

	<table id="billing">
		<thead>
			<tr>
				<th>Name</th>
				<th>Projects</th>
				<th>Deactivate</th>
			</tr>
		</thead>
		<tbody>
			<% @users.each do |user| %>
				<tr id="pro-user-<%=user.id%>" class="center">
					<td class="pro-user"><%= user.full_name %></td>
					<td><%= user.projects.map{|p| link_to p.name, project_path(p), target:'_blank'}.to_sentence.html_safe %></td>
					<td><%= link_to "Deactivate", basic_user_path(:id => user.id), method: :post, :class => "centered", remote: true %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>

<div id="users-page" class="page border-box">
	<div><%= link_to "Add Personnel", new_user_path, :id => "add-user-button", :class=>"simple-btn", :remote => true %></div>
	<h4><%=@company.name%> Personnel</h4>
	<% if @users && @users.count > 0 %>
		<table id="users">
			<thead>
				<tr>
					<th>Name</th>
					<th>Email</th>
					<th>Phone</th>
					<th>Created On</th>
					<th>Edit</th>
				</tr>
			</thead>

			<tbody>
				<% @users.each do |user| %>
					<tr class="personnel center">
						<td class="pro-user"><%= user.full_name %></td>
						<td><%= user.email %></td>
						<td><%= user.formatted_phone %></td>
						<td><%= parse_time user.created_at%></td>
						<td><%= link_to "Edit", edit_user_path(user), :class => "simple-btn", remote: true %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	<% else %>
		<div class="no-contents-placeholder">
			No active users
		</div>
	<% end %>
</div>

<div id="subs-page" class="page border-box">
	<div><%= link_to "Add Subcontractor", new_company_sub_path, :id => "add-sub-button", :class=>"simple-btn", :remote => true %></div>
	<h4>Subcontractors</h4>

	<% if @subcontractors && @subcontractors.count > 0 %>
		<table id="subs">
			<thead>
				<tr>
					<th>Name</th>
					<th>Email</th>
					<th>Phone</th>
					<th>Created On</th>
					<th>Remove</th>
				</tr>
			</thead>

			<tbody>
				<% @subcontractors.each do |company_sub| %>
					<tr id="subcontractor-<%= company_sub.id %>" class="subcontractor center">
						<td><%= company_sub.subcontractor.name %></td>
						<td><%= company_sub.email %></td>
						<td><%= company_sub.formatted_phone %></td>
						<td><%= parse_time company_sub.subcontractor.created_at %></td>
						<td><%= link_to company_sub_path(company_sub), :class => "remote", remote: true, method: :delete, data: {confirm: "Are you sure you want to remove this subcontractor?"} do %> <i class="fa fa-trash-o remote"></i><% end %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	<% else %>
		<div class="no-contents-placeholder">
			No affiliated companies or subcontractors
		</div>
	<% end %>
</div>