<li class="phase" id="phase-<%=p.id%>">
	<h2 class="title remote">
		<%= link_to load_items_checklist_path(p), :id => "p-#{p.id}", :class=>"phase-link remote", remote: true do %>
			<i class="fa fa-minus disclosure"></i>
			<%=p.name%>
		<% end %>
	</h2>
	<%= link_to "Edit Phase", edit_phase_path(p), :class => "empty-btn edit-phase remote", remote: true %>
	
	<div id="<%= p.id %>-items"></div>
</li>