<div id="reports-page" class="page border-box">
	<% projects.each do |project| %>
		<h4><%= link_to project.name, reports_path(:project_id => project.id), :remote => true %> </h4>
		<table class="table table-bordered table-responsive report">
			<% if project.reports && project.reports.count > 0 %>
				<thead>
					<tr>
						<th>Report Date</th>
						<th>Type</th>
						<th>Last Updated</th>
						<th># Photos</th>
					</tr>
				</thead>
				<tbody>
					<% project.reports.each do |report| %>
						<tr>
							<td><%= link_to parse_date(report.created_at), report_path(report), remote: true %></td>
							<td><%= report.report_type %></td>
							<td><%= parse_time report.updated_at%></td>
							<td><% if report.photos && report.photos.count > 0 %><%= image_tag report.photos.first.image.url(:thumb), :class =>"admin-report-pic" %><% else %>0<% end %></td>
						</tr>
					<% end %>
				</tbody>

			<% else %>
				<tr><td colspan="12" class="loading"><h4 style="text-align:center;color:#aaa;font-style:italic;font-weight:200;">No Reports</h4></td></tr>
			<% end %>
		</table>
	<% end %>
</div>