<div class="col-xs-6 col-sm-3" id="sidebar" role ="navigation">
	<div class="well sidebar-nav admin">
		<div class="sidebarAdmin">
			<div><%= link_to "Add Project", new_project_admin_index_path, :id => "new-project-link", :remote => true %></div>
			<% if current_user.uber_admin %><div><%= link_to "Project Groups", project_groups_admin_index_path, :id => "groups-link", :remote => true %></div>
			<div><%= link_to "Safety Topics", safety_topics_admin_index_path, :id => "admin-safety-topics-link", remote: true %></div>
			<div><%= link_to "Reports", reports_admin_index_path, :id => "admin-reports-link", :remote => true %></div><% end %>
			<div><%= link_to "Checklist Templates", checklists_admin_index_path, :id => "admin-checklists-link", :class=>"current-page", :remote => true %></div>
			<div><%= link_to "Users/Subcontractors", users_admin_index_path, :id => "personnel-link", :remote => true %></div>
			<% if current_user.uber_admin %><div><%= link_to "Billing", billing_admin_index_path, :id => "billing-link", :remote => true %></div><% end %>
		</div>
	</div>
</div>