
<li class="subcategory" id="subcategory-<%=subcategory.id%>">
	<div class="header row">
		<div class="col-xs-8">
			<h4 class="title" id="<%=subcategory.id%>"><%= subcategory.name %></h4>
			<span class="completed-count">
				<%= render partial:"checklists/completed_count", :locals => {:subcategory => subcategory} %>
			</span>

			<%= link_to "Edit Category", edit_subcategory_path(subcategory), :class=>"edit-category", :remote => true %>
			<%= link_to "Add Item", new_checklist_item_path(:subcategory_id => subcategory.id), :id=>"new-item-#{subcategory.id}", :class=>"remote new-checklist-item", :remote => true %>

		</div>
		<div class="col-xs-2 category-label">
			<%= parse_date(subcategory.milestone_date) %>
		</div>
		<div class="col-xs-2 category-label">
			<%= parse_date(subcategory.completed_date) %>
		</div>
	</div>

	<div class="items-container collapsed" id="sub-<%=subcategory.id%>">
		<ul class="subcategory-items" id="items-<%=subcategory.id%>">
			<%= render partial:"admin/item", collection:subcategory.checklist_items, as: :item, cache: false %>
		</ul>
	</div>
</li>