<li><%= link_to "New Project", new_project_admin_index_path, :id => "new-project-link", :remote => true %></li>
<% if current_user.uber_admin %><li><%= link_to "Groups", project_groups_admin_index_path, :id => "groups-link", :remote => true %></li>
<li><%= link_to "Safety Topics", safety_topics_admin_index_path, :id => "admin-safety-topics-link", remote: true %></li>
<li><%= link_to "Reports", reports_admin_index_path, :id => "admin-reports-link", :remote => true %></li><% end %>
<li><%= link_to "Checklists", checklists_admin_index_path, :id => "admin-checklists-link", :remote => true %></li>
<li><%= link_to "Personnel", users_admin_index_path, :id => "personnel-link", :remote => true %></li>
<% if current_user.uber_admin %><li><%= link_to "Billing", billing_admin_index_path, :id => "billing-link", :remote => true %></li><% end %>

<!--<% if current_user && current_user.uber_admin? %>
	<li class="nav-help" id="nav-help"><%= link_to 'Help' %></li>
<% end %>-->