<div id="billing-page" class="page border-box">
	<h3 style="margin-top:10px;margin-bottom:30px;"><%=Time.now.strftime("%B")%> Billing</h3>
	<!--<header>
		<div class="input-group pull-right" style="width: 100%; margin: 0 auto 1%;">
			<input type="text" class="form-control" name="query" autocomplete="off" placeholder="Search Users">
			<span class="input-group-addon" style="cursor: pointer;"><span class="glyphicon glyphicon-search"></span></span>
		</div>
	</header>-->
	<table class="table table-bordered table-responsive" id="users">
		<thead>
			<tr>
				<th>Name</th>
				<th>Projects</th>
				<th>Phone</th>
				<th>Created On</th>
				<th>Deactivate</th>
			</tr>
		</thead>

		<tbody>
			<% @users.each do |user| %>
				<tr>
					<td style="width:23%;"><%= user.full_name %></td>
					<td style="width:23%;"><%= user.projects.to_sentence %></td>
					<td style="width:23%;"><%= user.formatted_phone %></td>
					<td style="width:23%;"><%= parse_time user.created_at%></td>
					<td><%= link_to "Deactivate", basic_user_path(:id => user.id), method: :post, :class => "simple-btn", remote: true %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>

<div id="users-page" class="page border-box">
	<div><%= link_to "Add New User", new_user_admin_index_path, :id => "add-user-button", :class=>"simple-btn", :remote => true %></div>
	<h3 style="margin-top:10px;margin-bottom:30px;"><%=@company.name%> Personnel</h3>
	<!--<header>
		<div class="input-group pull-right" style="width: 100%; margin: 0 auto 1%;">
			<input type="text" class="form-control" name="query" autocomplete="off" placeholder="Search Users">
			<span class="input-group-addon" style="cursor: pointer;"><span class="glyphicon glyphicon-search"></span></span>
		</div>
	</header>-->
	<table class="table table-bordered table-responsive" id="users">
		<thead>
			<tr>
				<th style="width: 60px;">Photo</th>
				<th>Name</th>
				<th>Email</th>
				<th>Phone</th>
				<th>Created On</th>
				<th>Edit</th>
			</tr>
		</thead>

		<tbody>
			<% @users.each do |user| %>
				<tr>
					<td style="width:100px;padding:0;"><% if user.image_file_name %><%= image_tag user.image.url(:thumb), :class =>"admin-user-pic" %><% else %><span style="text-align:center;width:100px;display:block;color:#aaa;"> - </span><% end %></td>
					<td style="width:23%;"><%= user.full_name %></td>
					<td style="width:23%;"><%= user.email %></td>
					<td style="width:23%;"><%= user.formatted_phone %></td>
					<td style="width:23%;"><%= parse_time user.created_at%></td>
					<td><%= link_to "Edit", edit_user_admin_index_path(:id => user.id), :class => "simple-btn", remote: true %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>

<div id="subs-page" class="page border-box" style="padding-top:20px;margin-top:20px;">
	<div><%= link_to "Add New Subcontractor", new_subcontractor_admin_index_path, :id => "add-sub-button", :class=>"simple-btn", :remote => true %></div>
	<h3 style="margin-top:10px;margin-bottom:30px;">Subcontractors</h3>
	<table class="table table-bordered table-responsive" id="subs">
		<thead>
			<tr>
				<th style="width: 60px;">Photo</th>
				<th>Name</th>
				<th>Email</th>
				<th>Phone</th>
				<th>Created On</th>
				<th>Remove</th>
			</tr>
		</thead>

		<tbody>
			<% @subcontractors.each do |company_sub| %>
				<tr id="subcontractor-<%= company_sub.id %>">
					<td style="width:100px;padding:8px 0;"><% if company_sub.subcontractor.image_file_name %><%= image_tag company_sub.subcontractor.image.url(:thumb), :class =>"admin-user-pic" %><% else %><span style="text-align:center;width:100px;display:block;color:#aaa;"> - </span><% end %></td>
					<td style="width:23%;"><%= company_sub.subcontractor.name %></td>
					<td style="width:23%;"><%= company_sub.subcontractor.email %></td>
					<td style="width:23%;"><%= company_sub.subcontractor.phone %></td>
					<td style="width:23%;"><%= parse_time company_sub.subcontractor.created_at %></td>
					<td><%= link_to "Remove", company_sub_path(company_sub), :class => "simple-btn btn-danger remote", remote: true, method: :delete, data: {confirm: "Are you sure you want to remove this subcontractor?"} %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>