<div id="users-page" class="page border-box">
	<div><%= link_to "Add New User", new_user_admin_index_path, :id => "add-user-button", :remote => true %></div>
	<h3 style="margin-top:10px;margin-bottom:30px;"><%=@company.name%> Personnel</h3>
	<!--<header>
		<div class="input-group pull-right" style="width: 100%; margin: 0 auto 1%;">
			<input type="text" class="form-control" name="query" autocomplete="off" placeholder="Search Users">
			<span class="input-group-addon" style="cursor: pointer;"><span class="glyphicon glyphicon-search"></span></span>
		</div>
	</header>-->

	<table class="table table-bordered table-responsive" id="users">
		<thead>
			<tr>
				<th style="width: 60px;">Photo</th>
				<th>Name</th>
				<th>Email</th>
				<th>Phone</th>
				<th>Created On</th>
				<th>Edit</th>
			</tr>
		</thead>

		<tbody>
			<% @users.each do |user| %>
				<tr>
					<td style="width:100px;padding:0;"><% if user.image_file_name %><%= image_tag user.image.url(:thumb), :class =>"admin-user-pic" %><% else %><span style="text-align:center;width:100px;display:block;color:#aaa;"> - </span><% end %></td>
					<td style="width:23%;"><%= user.full_name %></td>
					<td style="width:23%;"><%= user.email %></td>
					<td style="width:23%;"><%= user.formatted_phone %></td>
					<td style="width:23%;"><%= parse_time user.created_at%></td>
					<td><%= link_to "Edit", edit_user_admin_index_path(:id => user.id), :class => "simple-btn", remote: true %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>

<div id="subs-page" class="page border-box" style="padding-top:20px;margin-top:20px;">
	<div><%= link_to "Add New Subcontractor", new_sub_admin_index_path, :id => "add-sub-button", :remote => true %></div>
	<h3 style="margin-top:10px;margin-bottom:30px;">Subcontractors</h3>
	<table class="table table-bordered table-responsive" id="subs">
		<thead>
			<tr>
				<th style="width: 60px;">Photo</th>
				<th>Name</th>
				<th>Email</th>
				<th>Phone</th>
				<th>Created On</th>
				<th>Edit</th>
			</tr>
		</thead>

		<tbody>
			<% @subs.each do |sub| %>
				<tr>
					<td style="width:100px;padding:8px 0;"><% if sub.image_file_name %><%= image_tag sub.image.url(:thumb), :class =>"admin-user-pic" %><% else %><span style="text-align:center;width:100px;display:block;color:#aaa;"> - </span><% end %></td>
					<td style="width:23%;"><%= sub.name %></td>
					<td style="width:23%;"><%= sub.email %></td>
					<td style="width:23%;"><%= sub.formatted_phone %></td>
					<td style="width:23%;"><%= parse_time sub.created_at%></td>
					<td><%= link_to "Edit", edit_sub_admin_index_path(:id => sub.id), :class => "simple-btn", remote: true %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>