<table id="edit-user-form">
	<tr><td><h2>My settings</h2></td></tr>
	<%= nested_form_for @user, :action => :update, :multipart => true, :method => :put do |f| %>
		<%= hidden_field_tag :company_id, :value => current_user.company.id %>
		<%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
		<tr><td><%= f.text_field :first_name, :placeholder => "First name", :class=>"tt-hint form-control" %></td></tr>
		<tr><td><%= f.text_field :last_name, :placeholder => "Last name", :class=>"tt-hint form-control" %></td></tr>
		<tr><td><%= f.email_field :email, :placeholder => "Email address", :class=>"tt-hint form-control" %></td></tr>
		<tr><td><%= f.text_field :phone_number, :placeholder => "Phone number", :class=>"tt-hint form-control" %></td></tr>
		<tr><td><%= f.password_field :password, :placeholder => "Password (if changing)", :class=>"tt-hint form-control" %></td></tr>
		<tr><td><%= f.password_field :password_confirmation, :placeholder => "Confirm password (if changing)", :class=>"tt-hint form-control" %></td></tr>
		<tr><td style="padding:10px 0;">Email Permissions? <%= f.check_box :email_permissions %></td></tr>
		<tr><td style="padding:10px 0;">Push Permissions? <%= f.check_box :push_permissions %></td></tr>
		<% if @user.photos && @user.photos.count > 0 %><tr><td><%= image_tag @user.photos.first.image.url(:medium), :class => "user-pic" %><% end %>

		</td></tr>
		<tr><td>
			<%= f.fields_for @user.photos.build do |p| %>
				<%= p.file_field :image %>
			<% end %>
		</td></tr>
		<tr><td><button class="btn btn-success btn-lg pull-right"><%= f.submit "Save" %></button></td></tr>
	<% end %>
</table>