<div id="main">
	<%= nested_form_for @user, url: {action: :update}, html: {multipart: true}, method: :post do |f| %>
		<table id="edit-user-form" class="border-box">

			<tr><td><h2 class="bold-header">Settings</h2></td></tr>
			
			<%= hidden_field_tag :company_id, current_user.company.id %>
			<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
			<tr><td><h4>First name</h4></td></tr>
			<tr><td><%= f.text_field :first_name, placeholder: "First name", required: true %></td></tr>
			<tr><td><h4>Last name</h4></td></tr>
			<tr><td><%= f.text_field :last_name, placeholder: "Last name", required: true %></td></tr>
			<tr><td><h4>Email</h4></td></tr>
			<tr><td><%= f.email_field :email, placeholder: "Email address", required: true %></td></tr>
			<tr><td><h4>Phone Number</h4></td></tr>
			<tr><td><%= f.text_field :phone, value: @user.formatted_phone, placeholder: "Phone number (e.g. (555) 555-5555)" %></td></tr>
			<tr><td><h4>Password</h4></td></tr>
			<tr><td><%= f.password_field :password, placeholder: "Password (if changing)" %></td></tr>
			<tr><td><h4>Password Confirmation</h4></td></tr>
			<tr><td><%= f.password_field :password_confirmation, placeholder: "Confirm password (if changing)" %></td></tr>


			<% if current_user.any_admin? %>
				<tr style="margin:2.5% auto"><td><div class="no-content.placeholder"><h5>User Type</h5></div></td></tr>
				<tr>
					<td class="label" >
						<%= f.radio_button :admin, :basic, checked: (@user.any_admin? ? false : true) %>
						<span>Basic</span>
						<i class="fa fa-info-circle"></i>
					</td>
					<td class="explanation">(A normal BuildHawk user)</td>
				</td></tr>
				<tr style="margin-top:2.5%;">
					<td class="label" >
						<%= f.radio_button :admin, :admin, checked: (@user.admin ? true : false) %>
						<span>Admin</span>
						<i class="fa fa-info-circle"></i>
					</td>
					<td class="explanation">(Admins have the ability to view and edit any project, can create new projects, add users and edit checklists)</td>
				</td></tr>
				<tr>
					<td class="label">
						<%= f.radio_button :admin, :company_admin, checked: (@user.company_admin ? true : false) %>
						<span>Company admin</span>
						<i class="fa fa-info-circle"></i>
					<td class="explanation">(Company admins have all the same access as admins, but also have access to the accounts billing information)</td>
				</tr>
			<% end %>

			<tr style="margin:2.5% auto"><td><div class="no-content.placeholder"><h5>Communication Preferences</h5></div></td></tr>
			<tr>
				<td class="label">
					<%= f.check_box :email_permissions %>
					<span>Email</span>
					<i class="fa fa-info-circle"></i>
				</td>
				<td class="explanation">Do we have permission to send notification emails (e.g. A report has been generated for you)?</td>
			</tr>
			<tr>
				<td class="label">
					<%= f.check_box :text_permissions %>
					<span>Text message</span>
					<i class="fa fa-info-circle"></i>
				</td>
				<td class="explanation">Do we have permission to send notification texts (e.g. You've been assigned a task)?</td>
			</tr>
			<tr>
				<td class="label">
					<%= f.check_box :push_permissions %>
					<span>Push notifications</span>
					<i class="fa fa-info-circle"></i>
				<td class="explanation">Do we have permission to send push notifications (e.g. You've been assigned to a project)?</td>
			</tr>

			<tr style="margin:2.5% auto"><td><div class="no-content.placeholder"><h5>Photo</h5></div></td></tr>
			<% if @user.image_file_name %>
				<tr><td>
					<%= image_tag @user.image.url(:small), :class => "user-pic" %>
				</td></tr>
				<tr><td>
					Replace your photo: <%= f.file_field :image %>
				</td></tr>
			<% else %>
				<tr><td>
					Add a photo: <%= f.file_field :image %>
				</td></tr>
			<% end %>
			<tr>
				<td>
					<div class="button-container">
						<%= button_tag(type: 'submit', :class=> "simple-btn save", style:"margin:15px auto") do %>
					    	<i class="fa fa-floppy-o"></i> Save
					  	<% end %>
					  	<%= link_to logout_path, :class =>"logout-button" do %>
							<i class="fa fa-sign-out"></i>
							Log out
						<% end %>
						<% if current_user.any_admin? %>
							<%= link_to user_path(@user), :class =>"", method: :delete, data: {confirm: "Are you sure you want to delete this user?"} do %>
								<i class="fa fa-trash-o" style="font-size:1.5em;margin-top:5%;"></i>
							<% end %>
						<% end %>
					</div>
				</td>
			</tr>
		</table>
	<% end %>
</div>