<div class="row row-offcanvas row-offcanvas-left">
	<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role ="navigation">
		<div class="well sidebar-nav projects">
			<div class="sidebarProjects">
				<div id="option-one"><%= link_to "Add User", new_user_path, :remote => true %></div>
				<div id="option-two"><%= link_to "New Project", new_project_path, :remote => true %></div>
				<div id="option-two"><%= link_to "Reports", reports_path, :remote => true %></div>
				<div id="option-two"><%= link_to "Checklist Templates", checklists_path, :remote => true %></div>
				<div id="option-two"><%= link_to "Personnel Management", users_path, :remote => true %></div>
				<div id="last-option" style="margin-bottom:0;"><%= link_to "Billing" %></div>
			</div>
		</div>
	</div>

	<div class="col-xs-12 col-sm-9" id="main">
		<%= render :partial => "new" %>
	</div>
</div>