<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$('#payment-form').submit(function(event) {
		    var form = $(this);
		    form.find('button').prop('disabled', true);
		    Stripe.setPublishableKey(<%=@stripe_token%>);
		    var token = Stripe.card.createToken(form, stripeResponseHandler);
		    event.preventDefault();
		    return false;
		});
	});
</script>
<div id="billing">
	<div id="edit-billing-container" class="border-box">
		<h2 style="text-align:center;">Update Billing Information</h2>
		<%= form_for @card, url: card_path(@card), method: :patch, :id=>"payment-form", remote:true do |f| %>
			<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
		  	<span class="payment-errors"></span>

		  	<div class="form-row">
		    	<label>
		      		<span>Card Number</span>
		     		<input type="text" size="20" data-stripe="number" class="card-info" value="*** <%= @card.last4 %>"/>
		    	</label>
		    	<label>
		      		<span>CVC</span>
		      		<input type="text" size="4" data-stripe="cvc" value="***"/>
		    	</label>
		 	 </div>

		  	<div class="form-row">
		    	<label>
		      		<span>Expiration (MM/YYYY)</span>
		      		<input type="text" size="2" data-stripe="exp-month" value="<%=@card.exp_month%>"/>
		    	</label>
		    	<span> / </span>
		    	<input type="text" size="4" data-stripe="exp-year" value="<%=@card.exp_year%>"/>
		  	</div>

		  	<div style="text-align:center;"><%=submit_tag "Save", :class=>"simple-btn" %></div>
		<% end %>	
	</div>
</div>