<div id="billing" class="border-box container">
	<% if @company.customer_id && @company.cards.count > 0 %>
		<h3><%= @month.strftime("%b") %> SUMMARY</h3>
		<section id="billing-container"style="border:1px solid #eee;">
			<div class="row">
				<div class="col-xs-4"><h4>Billing Cycle</h4></div>
				<div class="col-xs-3"><h4># Pro Users</h4></div>
				<div class="col-xs-3"><h4>Projected Cost</h4></div>
				<div class="col-xs-2"><h4>Due</h4></div>
				<!--<div class="col-xs-2"><h4>Credit</h4></div>-->
			</div>
				
			<%= render partial:"billing/summary", locals: {pro_users: @pro_users, invoice: @invoice, month: @month, user: @user} %>
		</section>

		<section class="row">
			<div class="col-xs-6" id="cards-management">
				<h4>CARDS ON FILE</h4>
				<% if @cards %>
					<table>
						<% @cards.each do |c| %>
							<tr>
								<td><%= link_to "#{c.brand} - *** #{c.last4}", edit_card_billing_index_path(card_id: c.id), remote: true %></td>
								<td><% if c.active %><span style='padding-left:10px;font-size:.9em;color:#aaa;'>(Primary)</span><% end %></td>
							</tr>
						<% end %>
					</table>
				<% else %>
					<span>You don't have any active cards.</span>
				<% end %>
				<%= link_to "Add New Card", new_card_billing_index_path, :class=>"simple-btn", id:"new-card", remote:true %>
				
			</div>

			<div class="col-xs-6" id="billing-history">
				<h4>Past Bills</h4>
				<span id="bill-label">View bill for:</span>
				<select id="past-invoices">
					<%= @invoices.each do |invoice| %>
						<option value="<%=invoice['id']%>">
							<%= parse_month_date(Time.at(invoice["period_start"]).to_datetime) %> - <%= parse_month_date_year(Time.at(invoice["period_end"]).to_datetime) %>
						</option>
					<% end %>
				</select>
				<%= link_to "View",'',id:"view-invoice-link", :class=>"simple-btn remote", target:"_blank" %>
			</div>
		</section>
		
		<div id="auto-billing-prompt" class="font-smoothing">Your card on file will be automatically billed at the end of each month</div>
		<div id="security-prompt" class="font-smoothing"><i class="fa fa-lock"></i><span>Your billing information is transmit using a secure, 128-bit encrypted connection.</span></div>

	<% else %>
		<section id="new-billing-container" class="border-box">
			<div class="billing-prompt" style="padding:10px;">
				Please set up your company's billing information in order to create new projects, manage users and more.
			</div>
			<%= form_tag billing_index_path, method: :post, :id=>"payment-form", data: {'parsley-validate' => ''}, remote:true do %>
				<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
			  	
				<section id="billing-address">
				  	<h4> Billing Address </h4>
				  	<div class="form-row">	
				     	<input type="text" name="street" id="street-1" class="address" placeholder="Street address (line 1)" />
				    </div>
				    <div class="form-row">
				     	<input type="text" name="street-2" id="street-2" class="address" placeholder="Street address (line 2)" />
				    </div>
				    <div class="form-row">
				     	<input type="text" name="city" size="30" id="city" class="" placeholder="City" />
				     	<input type="text" name="state" size="10" id="state" class="" placeholder="State" />
				     	<input type="text" name="zip" size="20" id="zip" class="cc-zip" data-stripe="zip" placeholder="Zip code" />
				    </div>
			    </section>

			    <section id="card-info">
			    	<h4> Card Information </h4>
			    	<div class="payment-errors"></div>
					<div class="form-row">
				    	<label>
				      		<span>Card Number</span>
				     		<input type="text" size="20" data-stripe="number" class="cc-number card-info" required="true"/>
				    	</label>
				    	<label>
				      		<span>CVC</span>
				      		<input type="text" size="4" data-stripe="cvc" class="cc-cvc" required="true"/>
				    	</label>
				 	</div>

				  	<div class="form-row">
				    	<label>
				      		<span>Expiration (MM/YYYY)</span>
				      		<input type="text" size="8" class="cc-expiry" placeholder="MM/YYYY" required="true"/>
				    	</label>
				  	</div>

				  	<div style="text-align:center;"><%=submit_tag "Add Card", :class=>"simple-btn" %></div>
			  	</section>
			<% end %>
		</section>
	<% end %>
</div>

<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
	stripe('<%= Rails.configuration.stripe[:publishable_key] %>');
	setupBilling('<%= invoice_billing_index_url %>?invoice_id=');
</script>