<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
	var stripeResponseHandler = function(status, response) {
		var form = $('#payment-form');
		if (response.error) {
		    form.find('.payment-errors').text(response.error.message);
		    form.find('button').prop('disabled', false);
		} else {
		    var token = response.id;
		    form.append($('<input type="hidden" name="stripeToken" />').val(token));
		    form.get(0).submit();
		}
	};
	$(document).ready(function() {
		$('#payment-form').submit(function(event) {
		    var form = $(this);
		    form.find('button').prop('disabled', true);
		    Stripe.setPublishableKey('<%=@stripe_key%>');
		    var token = Stripe.card.createToken(form, stripeResponseHandler);
		    event.preventDefault();
		    return false;
		});
	});
</script>

<div id="billing" class="border-box">
	<h2>BILLING MANAGEMENT</h2>
	<% if @company.cards.count > 0 %>
		<div id="billing-container" class="border-box">
			<div class="row">
				<div class="col-xs-3"><h4>Period Ending</h4></div>
				<div class="col-xs-3"><h4>Amount</h4></div>
				<div class="col-xs-3"><h4>Description</h4></div>
				<div class="col-xs-3"><h4>Paid</h4></div>
				<!--<div class="col-xs-2"><h4>Promo Code</h4></div>-->
			</div>
			<% if @invoices && @invoices.count > 0 %>
				<%= render partial:"billing/invoice", collection: @invoices, as: :invoice %>

				<div class="row summary">
					<div class="col-xs-3"><h5 style="text-align:right;padding-right:20px;">Current Balance:</h5></div>
					<div class="col-xs-3"><h5><%= number_to_currency @invoices.last["ending_balance"]%> </h5></div>
				</div>
			<% else %>
				<div class="col-xs-12" style="font-weight:200;font-style:italic;font-size:1em;text-align:center;padding-top:30px;margin:0px auto 40px;color:#aaa;border-top:1px solid #eee">No bills</div>
			<% end %>
		</div>

		<div id="cards-management">
			<h4>CARDS ON FILE</h4>
			<% if @cards %>
				<table>
					<% @cards.each do |c| %>
						<tr>
							<td><%= link_to "#{c.brand} - *** #{c.last4}", edit_card_billing_index_path(card_id: c.id), remote: true %></td>
							<td><% if c.active %><span style='padding-left:10px;font-size:.9em;color:#aaa;'>(Primary)</span><% end %></td>
						</tr>
					<% end %>
				</table>
			<% else %>
				<span>You don't have any active cards.</span>
			<% end %>

			<%= link_to "Add New Card", new_card_billing_index_path, :class=>"simple-btn", id:"new-card", remote:true %>
			
		</div>

		<div style="font-style:italic;color:#aaa;text-align:center;margin-top:20px;" class="font-smoothing">Your card on file will be automatically billed at the end of each month</div>
	<% else %>
		<div id="new-billing-container" class="border-box">
			<div class="billing-prompt" style="padding:10px;">
				Please set up your company's billing information in order to create new projects, manage users and more.
			</div>
			<%= form_tag billing_index_path, method: :post, :id=>"payment-form", remote:true do %>
				<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
			  	<span class="payment-errors"></span>
				<div class="form-row">
			    	<label>
			      		<span>Card Number</span>
			     		<input type="text" size="20" data-stripe="number" class="card-info"/>
			    	</label>
			    	<label>
			      		<span>CVC</span>
			      		<input type="text" size="4" data-stripe="cvc"/>
			    	</label>
			 	</div>

			  	<div class="form-row">
			    	<label>
			      		<span>Expiration (MM/YYYY)</span>
			      		<input type="text" size="2" data-stripe="exp-month"/>
			    	</label>
			    	<span> / </span>
			    	<input type="text" size="4" data-stripe="exp-year"/>
			  	</div>

			  	<div style="text-align:center;"><%=submit_tag "Add", :class=>"simple-btn" %></div>
			<% end %>
		</div>
	<% end %>
</div>
