<div id="about-background" class="border-box">
	<section id="about">
		<ul id="pitch">
			<li>
				<div class="benefit image"> <%= image_tag("/assets/cloud.png") %> </div>
				<div class="benefit">
					<h4>Easy access</h4>
					<p>Keep the team connected, anywhere and anytime. Real time updates help you keep a thumb on the pulse of any project. </p>
				</div>
			</li>
			
			<li>
				<div class="benefit image"> <%= image_tag("/assets/lock.png", :id => "lock") %> </div>
				<div class="benefit">
					<h4>Secure</h4>
					<p>Keep the team connected, anywhere and anytime. Real time updates help you keep a thumb on the pulse of any project. </p>
				</div>
			</li>

			<li>
				<div class="benefit image"> <%= image_tag("/assets/messaging.png") %> </div>
				<div class="benefit">
					<h4>Streamlined Communication</h4>
					<p>Say goodbye to long email threads. You and your team can manage your project’s communication from a single, easy-to-use interface.</p>
				</div>
			</li>

			<li>
				<div class="benefit image"> <%= image_tag("/assets/personnel.png") %> </div>
				<div class="benefit">
					<h4>Manage Personnel</h4>
					<p>Delegate tasks and share info with specific personnel via easy-to-update user permissions. You’ll also be able to create limited project access for clients, keeping them connected and in the loop. </p>
				</div>
			</li>
		</ul>
	</section>

	<section id="team">
		<h1 style="text-align:center">Team</h1>
		<ul id="team-list">

			<li>
				<%= image_tag("/assets/will.png", :class => "team-member-image") %>
				<div class="team-member-name">Will Miller, CEO</div>
				<p>With a background in civil engineering and construction management, Will has worked in the construction field on projects totalling over $1B in value. Outside of the office, he has competed US National Rowing Team five times, including a fourth place finish at the 2012 Olympic Games in London. With an eye for efficiency, Will’s goal is to give a tool to homebuilders all over the country that will make them as efficient as possible, saving them time and money on the jobsite.</p>
			</li>

			<li>
				<%= image_tag("/assets/max.jpeg", :class=>"team-member-image") %>
				<div class="team-member-name">Max Haines-Stiles, Lead Developer</div>
				<p>Armed with an East Asian Studies degree from Stanford University, Max spent several short stints in Beijing before realizing the Bay Area was home. Since resettling in San Francisco, he's split his time between the food, finance, and technology industries. Max has built everything from minimum viable products for early-stage startups to Facebook apps for global fashion brands. He likes to focus on building clean, simple, easy to use products that can help customers save time and money. Max runs web and mobile development as well as UI/UX design for Ristretto Labs, a Bay Area design and development agency.</p>
			</li>

			<li>
				<%= image_tag("/assets/branagh.png", :class=>"team-member-image") %>
				<div class="team-member-name">Strategic Partner: Branagh Development</div>
				<p>Branagh Development hails from four generations of passionate San Francisco Bay builders, beginning in 1919. BuildHawk has been granted unique access to an inside look at the construction process and has been able to field test it’s software with their experienced staff.</p>
			</li>
		</ul>

	</section>

	<section id="faq">
		<h1 style="text-align:center">FAQ</h1>
		<div id="user-voice-container">
		<!-- this is the classic widget, but other widgets can be dropped here. -->

		<!-- UserVoice JavaScript SDK (only needed once on a page) -->
		<script>(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/T4bHLJ7YMbRgMvuzsHG0Fw.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})()</script>

		<!-- The Classic Widget will be embeded wherever this div is placed -->
		<div data-uv-inline="classic_widget" data-uv-mode="full" data-uv-primary-color="#cc6d00" data-uv-link-color="#007dbf" data-uv-default-mode="feedback" data-uv-forum-id="224942" data-uv-width="100%" data-uv-height="550px"></div>
		</div>
	</section>


	<script type="text/javascript">
	$('a').click(function(){
	    $('html, body').animate({
	        scrollTop: $( $.attr(this, 'href') ).offset().top
	    }, 500);
	    return false;
	});
	</script>
</div>