<div id="splash">
	<section id="first-splash">

		<div class="splash-container">
			<%= image_tag("macbook-iphone.png", :id => "macbook-iphone") %>
			
			<div class="container marketing">
				<div class="row splash-image">
					<p>Structure site workflow, increase efficiency, prevent errors and ensure quality. Use BuildHawk's pre-populated checklists or customize your own.</p>
					<span class="first image" id="checklist-image"></span>
					<span class="image" id="checklist-image-blue"></span>
				</div>
				
				<div class="row splash-image">
					<p>Project documents are stored in the cloud: accessible anytime, anywhere. Easily access photos, blueprints, schedules, and more.</p>
					<span class="first image" id="document-image"></span>
					<span class="image" id="document-image-blue"></span>
				</div> 
				
				<div class="row splash-image">
					<p>Easily create and share a project work list. Enable your team to track issues with a single set of notes and photos.</p>
					<span class="first image" id="punchlist-image"></span>
					<span class="image" id="punchlist-image-blue"></span>
				</div>
				
				<div class="row splash-image" style="border:0;">
					<p>Reports are easy with automatic weather, notifications, pictures and more, all through a simple, customizable interface.</p>
					<span class="first image" id="report-image"></span>
					<span class="image" id="report-image-blue"></span>
				</div>
			</div>
		</div>
	</section>

	<section id="about">
		<ul id="pitch">
			<li>
				<div class="benefit image"> <%= image_tag("cloud.png") %> </div>
				<div class="benefit">
					<h4>Easy access</h4>
					<p>Keep the team connected, anywhere and anytime. Real time updates help you keep a thumb on the pulse of any project. </p>
				</div>
			</li>
			
			<li>
				<div class="benefit image"> <%= image_tag("lock.png", :id => "lock") %> </div>
				<div class="benefit">
					<h4>Secure</h4>
					<p>Keep the team connected, anywhere and anytime. Real time updates help you keep a thumb on the pulse of any project. </p>
				</div>
			</li>

			<li>
				<div class="benefit image"> <%= image_tag("messaging.png", :id => "messaging") %> </div>
				<div class="benefit">
					<h4>Streamlined Communication</h4>
					<p>Say goodbye to long email threads. You and your team can manage your project’s communication from a single, easy-to-use interface.</p>
				</div>
			</li>

			<li>
				<div class="benefit image"> <%= image_tag("personnel.png", :id => "personnel") %> </div>
				<div class="benefit">
					<h4>Manage Personnel</h4>
					<p>Delegate tasks and share info with specific personnel via easy-to-update user permissions. You’ll also be able to create limited project access for clients, keeping them connected and in the loop. </p>
				</div>
			</li>
		</ul>
	</section>

	<section id="pricing">

		<div id="left">
			<p>+ &nbsp;Pay per project</p>
			<p>+ &nbsp;No contracts</p>
			<p>+ &nbsp;Unlimited users</p>
			<p style="width:50%;">+ &nbsp;Free storage and access after project completion</p>
		</div>

		<div id="right">
			 <%= image_tag("computer_outline.png") %>
		</div>

	</section>

	<section id="contact">
		<h2 id="coming-soon"> BuildHawk is coming soon!</h2>
		<br/>
		<p> If you’d like to test out the beta, or if you just want to stay in touch,<br />simply fill out the below form and we’ll let you know when it’s ready for early access.</p>
		<br/>

		<%= form_for @lead, :method => :post, :remote => true do |f| %>
			<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
			<%= f.text_field :name, :placeholder => "Your name", :class => "form-control" %>
			<%= f.text_field :phone_number, :placeholder => "Phone number", :class => "form-control" %>
			<%= f.email_field :email, :placeholder => "Email address", :class => "form-control" %>
			<%= f.text_field :company_name, :placeholder => "Your company", :class => "form-control" %>
			<%= f.submit "Submit", :class=>"btn btn-success btn-md send" %>
		<% end %>
	</section>
</div>

<script type="text/javascript">
$('a').click(function(){
    $('html, body').animate({
        scrollTop: $( $.attr(this, 'href') ).offset().top
    }, 500);
    return false;
});
</script>
