<div id="splash">
	<section id="first-splash">

		<div class="splash-container">
			
			<div class="slide" id="slide-1">
				<%= image_tag("splash_checklists.png", :id => "macbook-iphone") %>
				<span><p><span class="splash-header">Structure your Workflow</span>Increase efficiency, reduce the likelihood of errors and ensure quality. Use BuildHawk's pre-populated checklists or customize your own.</p></span>
			</div>
			
			<div class="slide" id="slide-2">
				<span><p><span class="splash-header">Sync with the Cloud</span>Project documents are stored in the cloud: accessible anytime, anywhere. Easily access photos, blueprints, schedules, and more.</p></span>
				<%= image_tag("splash_docs.png", :id => "macbook-iphone") %>
			</div> 
			
			<div class="slide" id="slide-3">
				<%= image_tag("splash_tasks.png", :id => "macbook-iphone") %>
				<span><p><span class="splash-header">Improve Efficiency</span>Easily share tasks and punchlists. Enable your team to track issues with a single set of notes, photos and communication threads.</p></span>
			</div>
			
			<div class="slide" id="slide-4">
				<span><p><span class="splash-header">Make reporting easy</span>On site weather reports, notifications, pictures and more &mdash; all through a single, powerfully simple interface.</p></span>
				<%= image_tag("splash_reports.png", :id => "macbook-iphone") %>
			</div>
		</div>

		<div id="call-to-action">
			<div id="appstore">
				<!--<%= link_to image_tag('retina-appstore.png'), "https://itunes.apple.com/us/app/buildhawk/id816590963?ls=1&mt=8", :target => "_blank" %>-->
			</div>
			<div id="beta-login">
				<%= link_to "Beta Login",login_path %>
			</div>
		</div>

	</section>

	<section id="about">
		<ul id="pitch">
			<li>
				<div class="benefit-image"> <%= image_tag("cloud.png") %> </div>
				<div class="benefit">
					<h2>Easy access</h2>
					<p>Keep the team connected, anywhere and anytime. Real time updates help you keep a thumb on the pulse of any project. </p>
				</div>
			</li>
			
			<li>
				<div class="benefit-image"> <%= image_tag("lock.png", :id => "lock") %> </div>
				<div class="benefit">
					<h2>Secure</h2>
					<p>Keep the team connected, anywhere and anytime. Real time updates help you keep a thumb on the pulse of any project. </p>
				</div>
			</li>

			<li>
				<div class="benefit-image"> <%= image_tag("messaging.png", :id => "messaging") %> </div>
				<div class="benefit">
					<h2>Streamlined Communication</h2>
					<p>Say goodbye to long email threads. You and your team can manage your project’s communication from a single, easy-to-use interface.</p>
				</div>
			</li>

			<li>
				<div class="benefit-image"> <%= image_tag("hardhat.png", :id => "personnel") %> </div>
				<div class="benefit">
					<h2>Manage Personnel</h2>
					<p>Delegate tasks and share info with specific personnel via easy-to-update user permissions. You’ll also be able to create limited project access for clients, keeping them connected and in the loop. </p>
				</div>
			</li>
		</ul>
	</section>

	<section id="pricing">

		<div id="left" style="width:100%;">
			<p>+ &nbsp;Pay per project</p>
			<p>+ &nbsp;No contracts</p>
			<p>+ &nbsp;Unlimited users</p>
			<p>+ &nbsp;Free storage and access after project completion</p>
		</div>

	</section>

	<section id="contact">
		<h2 id="coming-soon"> BuildHawk is coming soon!</h2>
		<br/>
		<p> If you’d like to test out the beta, or if you just want to stay in touch,<br />simply fill out the below form and we’ll let you know when it’s ready for early access.</p>
		<br/>

		<%= form_for @lead, :method => :post, :remote => true do |f| %>
			<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
			<%= f.text_field :name, :placeholder => "Your name", :class => "form-control" %>
			<%= f.text_field :phone, :placeholder => "Phone number", :class => "form-control" %>
			<%= f.email_field :email, :placeholder => "Email address", :class => "form-control" %>
			<%= f.text_field :company_name, :placeholder => "Your company", :class => "form-control" %>
			<%= recaptcha_tags display: {theme: 'clean'}, ajax: true %>
			<%= f.submit "Submit", :class=>"simple-btn" %>
		<% end %>
	</section>
</div>

<script type="text/javascript">
homeSlideshow();
$('a').click(function(){
    $('html, body').animate({
        scrollTop: $( $.attr(this, 'href') ).offset().top
    }, 500);
    return false;
});
</script>
