<% if item.order_index == 0 %>
	<% s = item.subcategory %>
	<% if s.order_index == 0 %>
		<% c = s.category %>
		<div class="category">
			<h1 style="display:inline-block"><%=c.name%></h1><%= link_to "Edit Phase", category_project_path(@project, :category_id => c.id), :style=>"margin-left:20px;", :remote => true %>
		</div>
	<% end %>
	<div class="subcategory">
		<h3 style="display:inline-block"><%=s.name%></h3><span style="padding-left:1em;color:#aaa;">(<%=s.completed_count%> of <%=s.checklist_items.count%>)</span>
	</div>
<% end %>

				
<%= link_to checklist_item_project_path(@project, :item_id => item.id), :remote => true do %>

	<% if item.status == "Completed" %>
		<div class="row checklist-item completed">
	<% elsif item.status == "Not Applicable" %>
		<div class="row checklist-item not-applicable">
	<% else %>
		<div class="row checklist-item">
	<% end %>
		<div class="col-md-8 checklist-body" style="margin-left:20px;margin-right:-20px;">
			<%=item.body%>
		</div>

		<div class="col-md-2" style="text-align: center;">
			<% if item.critical_date %>
				<%= parse_date item.critical_date %>
			<% else %>
				&nbsp;
			<% end %>
		</div>

		<div class="col-md-2" style="text-align: center;">
			<% if item.completed_date %>
				<%= parse_date item.completed_date %>
			<% else %>
				&nbsp;
			<% end %>
		</div>
	</div>
<% end %>