<div id="item-container" class="border-box">
	<div class="checklist-item-form">
		<%= nested_form_for item, :url => {:controller => :checklist_items, :action => :update, :id => item.id, :multipart => true}, :remote => true, :method => :post do |f| %>
			<div class="action-buttons">
				<div style="display:table-row">
					<div id="floating-save" class="action">
						<%= f.submit "Save", type: :image, src: image_path('save.png'), :class => "save-img" %>
					</div>
					<div id="export-checklist-item" class="action">
						<%=image_tag "export.png" %>
					</div>
					
					<% if current_user.admin || current_user.company_admin %>
						<%= link_to image_tag('trashButton.png', :class=>"remote delete-img"), checklist_item_path(item), :data => {:confirm => "Are you sure you want to delete this checklist item?"}, method: :delete, :class=>"remote action", remote: true %>	
					<% end %>
					
					<div id="dismiss-checklist-item" class="dismiss action">
						<%=image_tag "blackX.png" %>
					</div>
				</div>
			</div>

			<div>
				<span class="header-description item-phase"><h3><%= item.category.phase.name %></h3></span>
				<span class="item-category"><h4><%= item.category.name %></h4></span>
				<span class="item-body"><%= item.body %></span>
			</div>

			<div class="row">
				<div class="col-xs-12" style="text-align:center;">
					<h4>Status</h4>
					<%= f.select :state, options_for_select({"In-Progress"=>0,"Completed"=>1,"Not Applicable"=>-1,"No Status"=>nil}, selected: item.state), {:include_blank => false}, :multiple => true %>
					<span style="color:#ccc;font-weight:100;display:block;">&#8984; / Ctrl click to deselect <span>
				</div>
			</div>

			<% if item.photos && item.photos.count > 0 %>
				<div class="col-xs-12" style="padding:30px 0;padding-top:60px;clear:both;">
					<% item.photos.each do |p| %>
						<% if p.image_file_name%>
							<%= render :partial => "photos/image", :locals => {:p => p} %>
						<% end %>
					<% end %>
				</div>
			<% end %>

			<div class="col-xs-12" style="text-align:center;padding:20px;clear:both;"><h4>Add a photo</h4>
				<%= f.fields_for :photos, item.photos.build do |photo| %>
					<%= photo.file_field :image, :style=>"margin:0 auto;" %>
					<%= photo.hidden_field :user_id, :value => current_user.id %>
					<%= photo.hidden_field :project_id, :value => @project.id %>
					<%= photo.hidden_field :phase, :value => item.category.phase.name if item.category.phase %>
					<%= photo.hidden_field :checklist_item_id, :value => item.id %>
					<%= photo.hidden_field :source, :value => "Checklist" %>
				<% end %>
			</div>
		<!--END FORM-->
		<% end %>				
	</div>		
	
	<div class="comment-container" style="margin-top:20px;overflow:auto;">
		<h4>Comments</h4>
		<div id="comments-form">
			<%= form_for item.comments.new, :method => :post, :remote => true do |f| %>
				<%= f.text_area :body, :rows => "3", :placeholder => "Type your notes/comment here" %>
				<%= f.hidden_field :user_id, :value => current_user.id %>
				<%= f.hidden_field :checklist_item_id, :value => item.id %>
				<%= f.submit "Post", :class=>"simple-btn pull-right", :style=>"margin-top:14px;" %>
			<% end %>
		</div>
		<%= render :partial => "comments/comments", :locals => {:comments => item.comments} %>
	</div>

	<% if item.activities.count > 0 %>
		<div class="activity-container" style="margin-top:20px;overflow:auto;">
			<h3 style="text-align:center; width:80%;margin:20px auto; display:block;">Activity</h3>
			<%= render :partial => "activities/activity", collection: item.activities, as: :activity, cache: true %>
		</div>
	<% end %>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		checklistItem("<%= j render partial:'checklist_item_export', locals: {:item => item} %>");
	});
</script>