<div class="checklist-item-form">
	<div class="row">
		<span class="col-md-5 header-description"><h2><%= @checklist_item.category_name %></h2></span>
	</div>
	<div class="row">
		<span class="col-md-5 header-description"><h4><%= @checklist_item.subcategory_name %></h4></span>
	</div>
	<div class="row">
		<span class="col-md-12 item-body">- <%= @checklist_item.body %></span>
	</div>


	<%= nested_form_for @checklist_item, :url => {:controller => :checklist_items, :action => :update, :id => @checklist_item.id, :multipart => true}, :remote => true, :method => :post do |f| %>
		<table style="margin: 0 auto; width:100%;">
			</tbody>
				<tr><td style="text-align:center;">
					<h4>Status:</h4>
					<%= f.select :status, ["In-Progress","Completed","Not Applicable"], {:include_blank => false}, :multiple => true, :style => "width:400px !important;" %>
					
				</td></tr>
				<% if @checklist_item.status == "Completed" && @checklist_item.completed_by_user %>
					<tr><td style="text-align:center;">
						<h4>Completed By:</h4>
						<%= @checklist_item.completed_by_user.full_name %>
					</td></tr>
				<% else %>
					<tr><td style="text-align:center;padding-top:20px;">
						<h4>Critical Date:</h4>
						<div class="input-append date" data-date="12-02-2012" data-date-format="dd-mm-yyyy">

								<%= f.text_field :critical_date, :value => parse_date(f.object.critical_date), :placeholder => Time.now.strftime("%m/%d/%Y"), :style=>"margin:0 auto;", :class =>"date-input", :id => "dp" %>
								<span class="add-on"><i class="icon-th"></i></span>
					
						</div>
					</td></tr>
				<% end %>
				<% if @checklist_item.photos && @checklist_item.photos.count > 0 %>
					<tr><td style="padding:30px 0;padding-top:20px;">
						<% @checklist_item.photos.each do |p| %>
							<% if p.image_file_name%>
								<div style="width:220px;text-align:left;display:inline-block;">
									<%= link_to p.image.url(:original), :class => "shadow-photo", :rel => "shadowbox[Mixed]" do %> 
										<%= image_tag p.image.url(:small) %> 
										<div>Date: <%= p.created_date%> </div>
										<% if p.source %><div>Source: <%= p.source%></div> <% end %>
									<% end %>
								</div>
							<% end %>
						<% end %>
					</td></tr>
				<% end %>

				<tr><td style="text-align:center;padding-top:20px;"><h4>Add a photo:</h4>
					<%= f.fields_for :photos, @checklist_item.photos.build do |photo| %>
						<%= photo.file_field :image, :style=>"margin:0 auto;" %>
						<%= photo.hidden_field :project_id, :value => @project.id %>
						<% if @checklist_item.id %><%= photo.hidden_field :checklist_item_id, :value => @checklist_item.id %><% end %>
						<%= photo.hidden_field :source, :value => "Checklist" %>
					<% end %>
				</td></tr>

				<tr><td><button class="btn btn-success btn-md pull-right"><%= f.submit "Update", :class => "no-link" %></button></td></tr>
			</tbody>
		</table>
	<% end %>
</div>

<h3 style="text-align:center; width:50%;margin:20px auto; display:block;">Comments</h3>
<div id="comments-form">
	<%= form_for @checklist_item.comments.new, :method => :post, :remote => true do |f| %>
		<%= f.text_area :body, :rows => "3", :placeholder => "Type your notes/comment here" %>
		<%= f.hidden_field :user_id, :value => current_user.id %>
		<%= f.hidden_field :checklist_item_id, :value => @checklist_item.id %>
		<button class="btn btn-success btn-md pull-right" style="margin-top:14px;"><%= f.submit "Send" %></button>
	<% end %>
</div>

<%= render :partial => "projects/comments", :locals => {:comments => @checklist_item.comments} %>

<script type="text/javascript">
	$(document).ready(function(){
		$("#dp").datepicker();
		Shadowbox.clearCache();
	    Shadowbox.setup(".shadow-photo", {});
	});
</script>