<div id="project-checklist">
	<% if @checklist %>
		<div class="project-checklist-table border-box">
			<div id="checklist-items">
				<header>
					<%= form_tag search_items_checklist_path(@checklist, :project_id => @project.id), :id => "checklist-search", :method => :post, :class=>"input-group", :style=>"width:100%;", :remote => true do %>
						<%= text_field_tag :search, nil, :placeholder=>"Search for checklist items...", :class=>"form-control" %>
						<span class="input-group-addon" style="cursor: pointer;" id="remove"><span class="glyphicon glyphicon-remove"></span></span>
					<% end %>
				</header>

				<div class="row">
					<div class="col-xs-8"><h4 style="display:inline-block;">Phase</h4></div>
					<div class="col-xs-2 header-label"><h4>Critical Date</h4></div>	
					<div class="col-xs-2 header-label"><h4>Completed</h4></div>
				</div>
				
				<ul id="categories">
					<% if current_user.admin %>
						<%= link_to "(+) New Phase", new_category_path(:checklist_id => @checklist.id,:project_id => @project.id), :id=>"new-phase", :class=>"remote new-phase", remote: true %>
					<% end %>
					<%= render :partial => 'projects/phase', collection: @checklist.categories, :as => :c, cache: true %>
				</ul>
			</div>
		</div>
	<% else %>
		<div style="text-align:center;font-style:italic"><h3 style="color:#aaa;font-weight:100;padding-top:100px;">No checklist items</h3></div>
		<div style="text-align:center;font-style:italic"><%= link_to "Remove this checklist?", delete_checklist_project_path(@project, :checklist_id => @checklist.id), :remote => true, :method => :delete %></div>	
	<% end %>
</div>
<script>
	$(document).ready(function(){
		$('#remove').on('click',function(){
			$('#search').val('');
			$('#checklist-search').submit();
		});

		$('#categories').sortable({
          axis: 'y',
          dropOnEmpty:true,
          cursor: 'move',
          items: 'li',
          opacity: 0.4,
          scroll: true,
          stop: function(){
            $.ajax({
                type: 'post',
                data: $('#categories').sortable('serialize') + '&id=<%=@checklist.id-%>',
                dataType: 'script',
                url: '/checklists/order_categories'})
            }
        })

        <% @checklist.categories.each do |c| %>
        	$('#<%= c.id %>-items').sortable({
	          axis: 'y',
	          dropOnEmpty:true,
	          cursor: 'move',
	          items: 'li',
	          opacity: 0.4,
	          scroll: true,
	          stop: function(){
	            $.ajax({
	                type: 'post',
	                data: $('#<%= c.id %>-items').sortable('serialize') + '&id=<%=c.id-%>',
	                dataType: 'script',
	                url: '/checklists/order_subcategories'})
	            }
	        });
        <% end %>
	});
</script>