<% if item.order_index == 0 %>
	<% s = item.subcategory %>
	<% if s.order_index == 0 %>
		<% c = s.category %>
		<div class="category">
			<h1 style="display:inline-block"><%=c.name%></h1>
			<%= link_to "Edit Phase", category_checklist_path(@project, :category_id => c.id, :project_id => @project.id), :style=>"margin-left:20px;", :remote => true %>
		</div>
	<% end %>
	<div class="subcategory">
		<h3 style="display:inline-block"><%=s.name%></h3>
		<span style="padding-left:1em;color:#aaa;">(<%=s.completed_count%> of <%=s.checklist_items.count%>)</span>
		<%= link_to "Edit Category", subcategory_checklist_path(@project, :subcategory_id => s.id, :project_id => @project.id), :style=>"margin-left:20px;", :remote => true %>
	</div>
<% end %>			

	<% if item.status == "Completed" %>
		<div class="row checklist-item completed" id="item-<%=item.id%>">
	<% elsif item.status == "Not Applicable" %>
		<div class="row checklist-item not-applicable" id="item-<%=item.id%>">
	<% else %>
		<div class="row checklist-item" id="item-<%=item.id%>">
	<% end %>

		<% if current_user.admin %>
			<div class="col-md-6 checklist-body" style="margin-left:20px;margin-right:-20px;">
		<% else %>
			<div class="col-md-8 checklist-body" style="margin-left:20px;margin-right:-20px;">
		<% end %>
				<%= link_to item.body, checklist_item_project_path(@project, :item_id => item.id), :remote => true %>
			</div>

			<div class="col-md-2" style="text-align: center;">
				<% if item.critical_date %>
					<%= parse_date item.critical_date %>
				<% else %>
					&nbsp;
				<% end %>
			</div>

			<div class="col-md-2" style="text-align: center;">
				<% if item.completed_date %>
					<%= parse_date item.completed_date %>
				<% else %>
					&nbsp;
				<% end %>
			</div>
			
		<% if current_user.admin %>
			<div class="col-md-1" style="text-align: center;">
				<%= link_to 'Edit', item_editor_admin_index_path(:item_id => item.id), :remote => true %>
			</div>
			<div class="col-md-1" style="text-align: center;">
				<%= link_to 'Delete', delete_item_project_path(@project, :checklist_item_id => item.id), :data => {:confirm => "Are you sure you want to delete this checklist item?"}, :method => :delete, :class=>"delete-link", :remote => true %>
			</div>
		<% end %>
		</div>

<% if current_user.admin && item == item.subcategory.checklist_items.last %>
	<div style="margin:30px 20px 10px">
		<%= link_to "New Checklist Item", new_checklist_item_project_path(@project, :subcategory_id => item.subcategory.id, :item_index => item.item_index), :class=>"new-checklist-item", :remote => true %>
	</div>
<% end %>