<div id="project-checklist" class="checklist border-box">
	<% if @checklist %>
		<div class="project-checklist-table">
			<div id="checklist-items">
				<header>
					<%= form_tag search_items_checklist_path(@checklist, :project_id => @project.id), :id => "checklist-search", :method => :post, :class=>"input-group search", :remote => true do %>
						<%= text_field_tag :search, nil, :placeholder=>"Search for checklist items...", :class=>"form-control search" %>
						<span class="input-group-addon cancel-search" id="remove">
							<i class="fa fa-remove"></i>
						</span>
					<% end %>				
					<div class="checklist-header row">
						<div class="col-xs-1">
							<i class="fa fa-search" id="checklist-search-button"></i>
						</div>
						<div class="col-xs-7">
							<h5 style="display:inline-block;">Phase</h5>					
						</div>
						<div class="col-xs-2 header-label"><h5>Target</h5></div>	
						<div class="col-xs-2 header-label"><h5>Completed</h5></div>
					</div>
				</header>
				<ul id="phases">
					<%= render partial: 'phases/show', collection: @checklist.phases, as: :p, cache: true %>
				</ul>
				<% if current_user.admin %>
					<%= link_to new_phase_path(:checklist_id => @checklist.id,:project_id => @project.id), :id=>"new-phase", :class=>"remote new-phase empty-btn", remote: true do %>
						<i class="fa fa-plus remote"></i><span style="padding-left:10px;">Phase</span>
					<% end %>
				<% end %>
			</div>
		</div>
	<% else %>
		<div style="text-align:center;font-style:italic"><h3 style="color:#aaa;font-weight:100;padding-top:100px;">No checklist items</h3></div>
		<div style="text-align:center;font-style:italic"><%= link_to "Remove this checklist?", delete_checklist_project_path(@project, :checklist_id => @checklist.id), :remote => true, :method => :delete %></div>	
	<% end %>
</div>

<div id="checklist" class="focus">
	<%= render :partial => "checklist_items/edit", locals: {item: @item} if @item %>	
</div>

<script>
$(document).ready(function(){
	checklistSetup('<%= @project.id %>');
	projectChecklistSetup();
	checklistSort('<%= @checklist.id %>');	
	phaseSort(<%= j @checklist.phases.map(&:id).to_json %>);
});
</script>