<div class="company-project" class="border-box">
	
	<div class="col-xs-6">
		<div class="project-header">
			<span class="project-name"><%= link_to project.name, project_path(project), remote: true %></span>
			<% if project.address %>
				<%= link_to project.address.formatted_address, project_path(project) %> (<%= link_to "Map", "https://www.google.com/maps/preview#!q=#{project.address.formatted_address.html_safe}", :target=>"_blank" %>)
			<% end %>
		</div>
	
		<div class="progress-section">
			<div id="progress-link-<%=project.id%>" class="progress-link" ></div>
			<% if project.checklist %>
				<%= link_to "#{project.checklist.progress_percentage} complete", project_path(project), :style=>"position:relative;left:10px;", :remote => true %>
				<script type="text/javascript">
					$(function(){
						$('#progress-link-<%=project.id%>').progressbar({
					    	value:<%=project.checklist.progress%>
					    });
					})
				</script>
			<% end %>
		</div>
		<% if project.last_three_activities && project.last_three_activities.count > 0 %>
		<div class="activities">
			<div class="">	
				<table>
					<tr>
						<td><h5>Type</h5></td>
						<td><h5>Recent Activity</h5></td>
						<td><h5>Date</h5></td>
					</tr>
					<% project.last_three_activities.each do |activity| %>
						<tr>
							<% if activity.worklist_item %>
								<td class="activity-icon"><%= image_tag 'tasks.png' %></td>
								<td><%= link_to edit_worklist_item_path(project, :worklist_item_id => activity.worklist_item.id), :remote => true do %>
									<%= activity.worklist_item.body %>
								<% end %></td>
								
								<td class="timestamp"><%= parse_date activity.created_at %></td>
							<% end %>
						</tr>
					<% end %>
				</table>
			</div>
		</div>
	<% else %>
		<div class="">
			<div class="dashboard-label col-xs-2">Activity:</div>
			<div class=""><h5 style="font-style:italic;color:#aaa;padding-left:7px;font-weight:200;font-size:14px;text-align:center;width:100%;">No upcoming items</h5></div>
		</div>
	<% end %>
	
	</div>

	
	<div class="col-xs-6">
		<% if project.recent_documents %>
			<% project.recent_documents.each do |p| %>
				<div class="thumb-image"><%= image_tag(p.image.url(:thumb)) %></div>
			<% end %>
		<% end %>
	</div>
</div>