<div class="company-project" class="border-box">
	
	<div class="col-xs-6">
		<div class="project-header">
			<span class="project-name"><%= link_to project.name, project_path(project), remote: true %></span>
			<% if project.address %>
				<%= link_to project.address.formatted_address, project_path(project) %> (<%= link_to "Map", "https://www.google.com/maps/preview#!q=#{project.address.formatted_address.html_safe}", :target=>"_blank" %>)
			<% end %>
		</div>
	
		<div class="progress-section">
			<div id="progress-link-<%=project.id%>" class="progress-link" ></div>
			<% if project.checklist %>
				<%= link_to "#{project.checklist.progress_percentage} complete", project_path(project), :style=>"position:relative;left:10px;", :remote => true %>
				<script type="text/javascript">
					$(function(){
						$('#progress-link-<%=project.id%>').progressbar({
					    	value:<%=project.checklist.progress%>
					    });
					})
				</script>
			<% end %>
		</div>
		<% if project.last_three_activities && project.last_three_activities.count > 0 %>
		<div class="activities">
			<div class="">	
				<table>
					<tr>
						<td><h5>Recent Activity</h5></td>
						<td><h5>Type</h5></td>
						<td><h5>Date</h5></td>
					</tr>
					<% project.last_three_activities.each do |activity| %>
						<tr>
							<% if activity.worklist_item %>
								<td>
									<%= link_to edit_worklist_item_path(project, :worklist_item_id => activity.worklist_item.id), :remote => true do %>
										<%= activity.worklist_item.body %>
									<% end %>
								</td>
								<td class="activity-icon"><%= image_tag 'task.png' %></td>
							
							<% elsif activity.report %>
								<td>
									<%= link_to report_path(project, :report_id => activity.report.id), :remote => true do %>
										<%= "#{activity.report.report_type} Report - #{activity.report.date_string}" %>
									<% end %>
								</td>
								<td class="activity-icon"><%= image_tag 'report.png' %></td>
							<% elsif activity.checklist_item %>
								<td>
									<%= link_to checklist_item_project_path(project, :checklist_item_id => activity.checklist_item.id), :remote => true do %>
										<%= activity.checklist_item.body %>
									<% end %>
								</td>
								<td class="activity-icon"><%= image_tag 'checklist.png' %></td>
							<% else %>

								<td class="activity-icon"></td>
							<% end %>

							<td class="timestamp"><%= parse_date activity.created_at %></td>
						</tr>
					<% end %>
				</table>
			</div>
		</div>
	<% else %>
		<div class="font-smoothing" style="margin:20px auto;font-style:italic;color:#aaa;padding-left:7px;text-transform:uppercase;font-size:17px;text-align:center;width:100%;font-weight:100;">No recent activity</div>
	<% end %>
	
	</div>

	
	<div class="col-xs-6">
		<% if project.recent_documents && project.recent_documents.count > 0 %>
			<%= render partial: "photos/thumb_image", collection: project.recent_documents, as: :p, locals:{project: project}, cache: true %>
		<% else %>
			<div style='display:block;height:100%;'>
				<div class="font-smoothing" style="text-align:center;color:#aaa;text-transform:uppercase;vertical-align:middle;">No photos</div>
			</div>
		<% end %>
	</div>
</div>