<div class="company-project" class="border-box">
	<div class="row">
		<div class="project-header col-xs-6">
			<div>
				<span class="project-name"><%= link_to project.name, project_path(project), remote: true %></span>
				<% if project.address %>
					<%= link_to project.address.formatted_address, "https://www.google.com/maps/preview#!q=#{project.address.formatted_address.html_safe}", :target=>"_blank" %>
				<% end %>
			</div>
		</div>

		<div class="col-xs-6">
			<table class="alert-table">
				<tr>
					<td><%= link_to "Checklist",checklist_project_path(project), :remote => true %></td>
					<td><%= link_to "Reports", reports_path(:project_id => project.id), :remote => true %></td>
					<td><%= link_to "Documents", document_photos_project_path(project), remote: true %></td>
					<td><%= link_to "Tasks", tasklist_project_path(project), :remote => true %></td>
				</tr>
			</table>
		</div>
	</div>
	<div class="hidden">
		<div class="col-xs-6">
			<% if project.recent_documents && project.recent_documents.count > 0 %>
				<%= render partial: "photos/thumb_image", collection: project.recent_documents.first(3), as: :p, locals:{project: project}, cache: true %>
			<% else %>
				<div style='display:block;height:100%;'>
					<div class="font-smoothing" style="text-align:center;color:#aaa;text-transform:uppercase;vertical-align:middle;">No photos</div>
				</div>
			<% end %>
		</div>
		
		<div class="col-xs-6">
			<% if project.most_recent_activities && project.most_recent_activities.count > 0 %>
			<div class="activities">
				<div class="">	
					<table>
						<tr>
							<td><h4>Recent Activity</h4></td>
							<td><h4>Type</h4></td>
							<td><h4>Date</h4></td>
						</tr>
						<% project.most_recent_activities.each do |activity| %>
							<tr>
								<% if activity.task %>
									<td>
										<%= link_to edit_task_path(project, :task_id => activity.task.id), :remote => true do %>
											<%= activity.task.body %>
										<% end %>
									</td>
									<td class="activity-icon"><i class="fa fa-tasks nav-icon"></i></td>
								
								<% elsif activity.report %>
									<td>
										<%= link_to report_path(project, :report_id => activity.report.id), :remote => true do %>
											<%= "#{activity.report.report_type} Report - #{activity.report.date_string}" %>
										<% end %>
									</td>
									<td class="activity-icon"><i class="fa fa-pencil nav-icon"></i></td>
								<% elsif activity.checklist_item %>
									<td>
										<%= link_to checklist_item_project_path(project, :checklist_item_id => activity.checklist_item.id), :remote => true do %>
											<%= activity.checklist_item.body %>
										<% end %>
									</td>
									<td class="activity-icon"><i class="fa fa-list-alt nav-icon"></i></td>
								<% else %>

									<td class="activity-icon"></td>
								<% end %>

								<td class="timestamp"><%= parse_date activity.created_at %></td>
							</tr>

						<% end %>
						<tr style="border-top:0;line-height:27px;vertical-align:middle;">
							<td colspan="3" class="more"><%= link_to "More Activity...", project_path(project), remote: true%></td>
						</tr>
					</table>
				</div>
			</div>
		<% else %>
			<div class="font-smoothing" style="margin:20px auto;font-style:italic;color:#aaa;padding-left:7px;text-transform:uppercase;font-size:17px;text-align:center;width:100%;font-weight:100;">No recent activity</div>
		<% end %>
	</div>
	
	</div>
</div>