<div id="company-dashboard">
	<% if @company.projects && @company.projects.count > 0 %>
		<% @company.projects.each do |project| %>
			<div class="company-project">
				<table>
					<tr style="border-width:0;"><td><h4><%= link_to project.name, project_path(project) %></h4></td></tr>
				
					<tr>
						<td class="dashboard-label">Map:</td>
						<td><%= link_to project.address.formatted_address, project_path(project) %> (<%= link_to "Map", "https://www.google.com/maps/preview#!q=#{project.address.formatted_address.html_safe}", :target=>"_blank" %>)</td>
					</tr>

					<tr>
						<td class="dashboard-label">Progress:</td>
						<td>
							<div id="progress-link-<%=project.id%>" class="progress-link" ></div>
							<%= link_to project.checklist.progress_percentage, project_path(project), :style=>"position:relative;left:10px;", :remote => true %>
							<script type="text/javascript">
								$(function(){
									$('#progress-link-<%=project.id%>').progressbar({
								    	value:<%=project.checklist.progress%>
								    });
								})
							</script>
						</td>
					</tr>
					<% if project.checklist.upcoming_items.count > 0 %>
						<tr>
							<td class="dashboard-label">Upcoming:</td>
							<td>
								<ol>
									<% project.checklist.upcoming_items.each do |item| %>
										<li>
											<%= link_to checklist_item_project_path(project, :item_id => item.id), :remote => true do %>
												<%= "#{parse_date item.critical_date} - #{item.body}" %>
											<% end %>
										</li>
									<% end %>
								</ol>
							</td>
						</tr>
					<% else %>
						<tr><td class="dashboard-label">Upcoming:</td>
							<td style="width:0;"><h5 style="font-style:italic;color:#aaa;padding-left:7px;font-weight:200;font-size:14px;text-align:center;width:100%;">No upcoming items</h5></td></tr>
					<% end %>
				</table>
			</div>

		<% end %>
	<% else %>
		<div style="color:#aaa;text-align:center;font-size:1.25em; font-style:italic;margin-top:50px;">Your company does not have any active projects</div>
	<% end %>

	<script type="text/javascript">
		$(document).ready(function(){
			Shadowbox.clearCache();
		    Shadowbox.setup(".shadow-photo", {});
		});
	</script>
</div>