<div id="project-documents" class="border-box">
	<div style="border-bottom:1px solid #eee;padding:14px 0;">
		<h4 id="documents-header">DOCUMENTS:</h4>
		
		<ul id="filters">
			<li><%= link_to "Project Docs", document_photos_project_path(@project), :id => "document-photos-nav", :class => "current-page", :remote => true %></li>
			<li><%= link_to "Checklist", checklist_photos_project_path(@project), :id => "checklist-photos-nav", :remote => true %></li>
			<li><%= link_to "Worklist", worklist_photos_project_path(@project), :id => "worklist-photos-nav", :remote => true %></li>
			<li><%= link_to "Reports", report_photos_project_path(@project), :id => "report-photos-nav", :remote => true %></li>
			<li><%= link_to "All", documents_project_path(@project), :id => "all-photos-nav", :remote => true %></li>
		</ul>
	</div>
	<div id="photo-section">
		<div id="photo-table">
			<%= render :partial => "projects/folders" %>
		</div>
		<div id="photo-focus">
			<% if @photos && @photos.count > 0 %>	
				<%= render :partial => "projects/large_image" %>
			<% else %>
				<div class="no-image-placeholder">No Documents</div>
			<% end %>
		</div>
	</div>
</div>

<script type="text/javascript">
	$('#main * .navbar-nav > li > a').removeClass('current-page');
	$('.nav-documents a').addClass('current-page');
	$(document).ready(function(){
		Shadowbox.clearCache();
	    Shadowbox.setup(".shadow-photo", {});
	    $('#add-folder-link').click(function(){
			$(this).fadeOut(200,function(){
				$(this).replaceWith('<%= form_for Folder.new, :remote => true do |f| %><%= f.text_field :name, :placeholder => "New folder name..." %><%= f.hidden_field :project_id, :value => @project.id %><% end %>');
				$(this).fadeIn(200);
			});
		});
	});
</script>