<div id="project-documents" class="border-box">
	<div id="documents-nav">
		<div id="filter-section">
			<h5 id="filter-button">FILTER:</h5><h5 id="current-filter">Project Docs</h5>
			<ul id="filters">
				<%= link_to document_photos_project_path(@project), :id => "document-photos-nav", :class => "current-page filter-link", :remote => true do %>
					<li>Project Docs</li>
				<% end %>
				<%= link_to checklist_photos_project_path(@project), :id => "checklist-photos-nav", :class => "filter-link", :remote => true do %>
					<li>Checklist</li>
				<% end %>
				<%= link_to tasklist_photos_project_path(@project), :id => "task-photos-nav", :class => "filter-link", :remote => true do %>
					<li>Tasks</li>
				<% end %>
				<%= link_to report_photos_project_path(@project), :id => "report-photos-nav", :class => "filter-link", :remote => true do %>
					<li>Reports</li>
				<% end %>
				<%= link_to documents_project_path(@project), :id => "all-photos-nav", :class => "filter-link", :remote => true do %>
					<li>All</li>
				<% end %>
			</ul>
		</div>
		<div id="photo-search">
			<%= form_tag search_photos_path(:project_id => @project.id), :id => "document-search", :method => :post, :class=>"input-group", :style=>"width:100%;", remote: true do %>
				<%= text_field_tag :search, nil, :placeholder=>"Search for documents...", :class=>"form-control search", :style=>"border:1px solid #ddd;" %>
				<span class="input-group-addon cancel-search" style="cursor: pointer;" id="remove">
					<span class="glyphicon glyphicon-remove"></span>
				</span>
			<% end %>
		</div>
	</div>

	<div id="photo-section">
		<div id="photo-table">			
			<div id="folders">
				<%= render :partial => "projects/folders", locals:{project:@project, folders:@folders} %>
			</div>
		</div>
		<div id="photo-focus">
			<% if @photos && @photos.count > 0 %>	
				<%= render :partial => "photos/large_image" %>
			<% else %>
				<div class="no-photos-placeholder font-smoothing">No Documents</div>
			<% end %>
		</div>
	</div>
</div>

<script>
	$("#filter-section").click(function(){
		if ($('#filters').css('display') == "none"){
			$('#filters').fadeIn(100);
		} else {
			$('#filters').fadeOut(100);
		}
	});
	$(".filter-link").click(function(){
		$('#current-filter').text($(this).text());
		$('#filters').delay(200).fadeOut(100);
	});
	$('#top-nav a').removeClass('current-page');
	$('.nav-documents a,#<%=@project.id%>-link').addClass('current-page');
</script>