<div id="edit-project" class="border-box" style="padding-top:20px;">
	<h3 class="edit-header">Edit Project</h3>
	<%= nested_form_for @project, :method => :put, :remote => true do |f| %>
		<div id="edit-project-form">
			<%= hidden_field_tag :company_id, current_user.company.id %>
			<%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
			<div class="row">
				<div class="col-xs-2 project-label"><h4>Name</h4></div>
				<div class="col-xs-10"><%= f.text_field :name, :placeholder => "Project name" %></div>
			</div>
			
			<%= f.fields_for :address do |a| %>
				<div class="row">
					<div class="col-xs-2 project-label"><h4>Street:</h4></div>
					<div class="col-xs-10"><%= a.text_field :street1 , :placeholder => "Street address" %></div>
				</div>
				<div class="row">
					<div class="col-xs-2 project-label"><h4>City:</h4></div>
					<div class="col-xs-10"><%= a.text_field :city , :placeholder => "City" %></div>
				</div>
				<div class="row">
					<div class="col-xs-2 project-label"><h4>State:</h4></div>
					<div class="col-xs-10"><%= a.text_field :state , :placeholder => "State" %></div>
				</div>
				<div class="row" style="margin-bottom:10px;">
					<div class="col-xs-2 project-label"><h4>Zip:</h4></div>
					<div class="col-xs-10"><%= a.text_field :zip , :placeholder => "Zip" %></div>
				</div>
			<% end %>
			
		    <div class="row personnel">
		    	<div class="col-xs-2"><h4>Personnel Assigned:</h4></div>
		    	<div class="col-xs-10" style="max-height:50%;overflow-y:scroll;padding-top:5px;">
		    		<% @users.each do |user| %>
		    			<% if @project.users.include?(user) %>
		    				<div style="padding-top:5px;"><%= check_box_tag "project[user_ids][]", user.id, checked: true %><span style="padding-left:10px;"><%= user.full_name %></span></div>
	    				<% else %>
	    					<div style="padding-top:5px;"><%= check_box_tag "project[user_ids][]", user.id %><span style="padding-left:10px;"><%= user.full_name %></span></div>
	    				<% end %>
		    		<% end %>
		    	</div>
		    </div>

		    <div class="row personnel">
		    	<div class="col-xs-2"><h4>Subs Assigned:</h4></div>
		    	<div class="col-xs-10" style="max-height:50%;overflow-y:scroll;padding-top:5px;">
		    		<% @subs.each do |sub| %>
		    			<% if @project.subs.include?(sub) %>
		    				<div style="padding-top:5px;"><%= check_box_tag "project[sub_ids][]", sub.id, checked: true %><span style="padding-left:10px;"><%= sub.name %></span></div>
	    				<% else %>
	    					<div style="padding-top:5px;"><%= check_box_tag "project[sub_ids][]", sub.id %><span style="padding-left:10px;"><%= sub.name %></span></div>
	    				<% end %>
		    		<% end %>
		    	</div>
		    </div>

		    <% if current_user.uber_admin %>
			    <div class="row" style="margin-top:1em;">
			    	<div class="col-xs-2"><h4>Make Core?</h4></div>
			    	<div class="col-xs-10" style="padding-top:9px;"><%= f.check_box :core, :style=>"padding:7px; display:inline-block; width:33px;" %> (Check to use as demo)</div>
			    </div>
			<% end %>
			<div class="row">
				
				<button class="btn btn-success btn-md pull-right"><%= f.submit "Save" %></button>
	<% end %>
				<button class="btn btn-danger btn-md pull-right" style="width:136px;clear:both;"><%= link_to "Remove Project", destroy_confirmation_project_path(@project), :method => :get, :class=>"pull-right delete-link", :remote => true, :style=>"width:100%;" %></button>
				
			</div>
		</div>
</div>