<div id="edit-project" class="border-box">
	<h3 class="edit-header center">Edit Project</h3>
	<%= nested_form_for @project, method: :patch, remote: true do |f| %>

		<%= render partial:"form", locals:{project: @project, users: @users, checklist: @checklists, subs: @subs, project_groups: @project_groups, company: @company, f: f}%>
		
		<div class="button-section">
			<div class="button-container">
				<%= button_tag(type: 'submit', :class=> "simple-btn save") do %>
			    	<i class="fa fa-floppy-o"></i> Update
			  	<% end %>
	
			</div>
			<div class="button-container">
				<% if current_user.project_users.where(project_id: @project.id, hidden: true).first %>
					<%= link_to "Activate", activate_project_path(@project), method: :post, id: "hide-button", :class=>"simple-btn remote", data: {confirm: "Are you sure you want to activate this project?"}, remote: true %>
				<% else %>
					<%= link_to "Hide", hide_project_path(@project), method: :post, id: "hide-button", :class=>"simple-btn remote", data: {confirm: "Are you sure you want to hide this project?"}, remote: true %>
				<% end %>
				<%= link_to "Remove", destroy_confirmation_project_path(@project), method: :get, id:"remove-project-button", :class=>"simple-btn danger", remote: true %>
			</div>
		</div>
	<% end %>
</div>

<script>
	projectSetup('<%=@project.id%>');
</script>