<div class="border-box">
	<table id="add-report">
		<tbody>
			<%= nested_form_for @report, :url => {:action => :update_report, :report_id => @report.id}, :multipart => true , :method => :post do |f| %>
				<tr><td><h4>Report Date</h4>
					<div class="input-append date" data-date-format="dd-mm-yyyy">
						<%= f.text_field :created_date, :value => @report.created_date, :placeholder => Time.now.strftime("%m/%d/%Y"), :class =>"date-input", :id => "dp" %>
					</div>
				</td></tr>
				<tr><td><span style="margin-right:20px"><h4 style="display:inline-block;">Report Type:</h4></span><%= f.select :report_type, options_for_select(@report.possible_types) %></td></tr>
				<tr><td><h4>General Remarks</h4><%= f.text_area :body, :rows => 7, :placeholder => "General remarks" %></td></tr>
				<tr><td><h4>Weather</h4><%= f.text_area :weather, :rows => 2, :placeholder => "Weather report" %></td></tr>
				<tr><td style="padding:7px;">
					<div class="select-container">
						<h4>Onsite personnel:</h4>
						<%= f.select :user_ids, @users.all.collect {|u| [u.full_name, u.id]}, {}, :include_blank => false, :multiple => true %>
					</div>
					<div class="select-container">
						<h4>Subcontractors:</h4>
						<%= f.select :sub_ids, @subs.all.collect {|u| [u.name, u.id]}, {}, :include_blank => false, :multiple => true %>
					</div>
				</td></tr>
				<% if @report.photos && @report.photos.count > 0 %>
					<tr><td style="padding:30px 0;padding-top:20px;">
						<% @report.photos.each do |p| %>
							<% if p.image_file_name%>
								<%= render :partial => "image", :locals => {:p => p} %> 
							<% end %>
						<% end %>
					</td></tr>
				<% end %>
				<tr><td style="padding:7px;"><h4>Add a photo</h4>
					<%= f.fields_for :photos, @report.photos.build do |photo| %>
						<%= photo.file_field :image %>
						<%= photo.hidden_field :report_id, :value => @report.id %>
						<%= photo.hidden_field :project_id, :value => @project.id %>
						<%= photo.hidden_field :source, :value => "Reports" %>
					<% end %>
				</td></tr>
				
				<tr><td><button class="btn btn-success btn-md pull-right"><%= f.submit "Save" %></button></td></tr>
				<tr><td><%= link_to "Delete Report", delete_report_project_path(@project, :report_id => @report.id), :method => :delete, :style=>"margin:0 auto;display:block;width:70px;text-align:center;float:right;" , :class => "delete-report-link" %></td></tr>
				<%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
			<% end %>
		</tbody>
	</table>
</div>

<div class="border-box" style="margin-top:20px;">
	<h3 style="text-align:center; width:50%;margin:20px auto; display:block;">Comments</h3>
	<div id="comments-form">
		<%= form_for @report.comments.new, :method => :post, :remote => true do |f| %>
			<%= f.text_area :body, :rows => "3", :placeholder => "Type your notes/comment here" %>
			<%= f.hidden_field :user_id, :value => current_user.id %>
			<%= f.hidden_field :report_id, :value => @report.id %>
			<button class="btn btn-success btn-md pull-right" style="margin-top:14px;"><%= f.submit "Send" %></button>
		<% end %>
	</div>
	<%= render :partial => "projects/comments", :locals => {:comments => @report.comments} %>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		$("#dp").datepicker();
		$('#dp').datepicker().on('changeDate', function(){
		    $('#dp').datepicker('hide');
		});
	});
</script>