<div id="main">
	<% if projects.count > 0 %>
		<div id="company-dashboard" class="border-box">
			<%= render :partial => "projects/company_dashboard", collection: projects, as: :project, cache: true %>
		</div>
	<% else %>
		<div id="dashboard-placeholder" class="font-smoothing">You don't have any active projects.</div>
		<div id="demo-prompt" class="font-smoothing">But you can explore several demo projects on your dashboard (all the way to the left).</div>
	<% end %>
		
	<% if current_user.company.has_admin? %>
		<% if !projects || projects.count == 0 %>
			<div id="pro-signup-prompt" class="font-smoothing">
			<div class="call-to-action">Send your company administrator <%= mail_to "support@buildhawk.com", "an email", remote: true %> asking them to set up <%= link_to "BuildHawk", root_url, target:"_blank" %>.</div>
			<div>Efficiency through organization.</div>
		</div>
		<% end %>
	<% else %>
		<div id="pro-signup-prompt" class="font-smoothing">
			<!--<div>Want to add projects?</div> 
			<div>Need access to checklists, reports, tasks and documents? </div>-->
			<% unless current_user.company.has_admin? %>
				<div class="call-to-action">Sign up for <%= link_to "BuildHawk pro", :style=>"color:#cc0000;", remote:true %> to start adding some.</div>
			<% end %>
			
			<div>Efficiency through organization.</div>
		</div>		
	<% end %>

	<div id="messages" class="container">
		<div>
			<h4>Messages</h4>
			<div class="explanation font-smoothing">Use the messages section to communicate with your team.  <%= link_to "Send a new message", new_message_path, remote:true %>.</div>
			<table id="messages-table">
				<%= render partial:"messages/message", collection: @messages, as: :message, cache: true %>
			</table>

		</div>
	</div>

</div>