<div id="main">
	<% if projects.count > 0 %>
		<div id="company-dashboard" class="border-box">
			<%= render :partial => "projects/company_dashboard", collection: projects, as: :project, cache: false %>
		</div>
	<% else %>
		<div id="dashboard-placeholder" class="font-smoothing">You don't have any active projects.</div>
		<div id="demo-prompt" class="font-smoothing">But you can explore several demo projects on your dashboard (all the way to the left).</div>
	<% end %>
		
	<% if current_user.company.has_admin? %>
		<% if !projects || projects.count == 0 %>
			<div id="pro-signup-prompt" class="font-smoothing">
			<div class="call-to-action">Send your company administrator <%= mail_to "support@buildhawk.com", "an email", remote: true %> asking them to set up <%= link_to "BuildHawk", root_url, target:"_blank" %>.</div>
			<div>Efficiency through organization.</div>
		</div>
		<% end %>
	<% else %>
		<div id="pro-signup-prompt" class="font-smoothing">
			<% unless current_user.company.has_admin? %>
				<div class="call-to-action">Sign up for <%= link_to "BuildHawk pro", :style=>"color:#cc0000;", remote:true %> to start adding some.</div>
			<% end %>
			
			<div>Efficiency through organization.</div>
		</div>		
	<% end %>

	<div id="communication" class="container">
		<div id="messages" class="border-box">
			<h4 id="title">Messages</h4>
			<div class="explanation font-smoothing" id="sent-received"><%= link_to "Inbox", messages_path, :class=>"current inbox", remote: true %>|<%= link_to "Sent", sent_messages_path, :class=>"sent", remote: true %></div>
			<div class="explanation font-smoothing">Use the messages section to communicate with your team.  <%= link_to "Send a new message", new_message_path, remote:true %>.</div>
			
			<div id="messages-table">
				<%= render partial:"messages/message", collection: @messages, as: :message_user, cache: true %>
			</div>
		</div>
		<div id="message" class="focus"></div>
	</div>
</div>