
<% if item.state == 1 %>
	<li class="row checklist-item completed" id="item-<%=item.id%>">
<% elsif item.state == -1 %>
	<li class="row checklist-item not-applicable" id="item-<%=item.id%>">
<% else %>
	<li class="row checklist-item" id="item-<%=item.id%>">
<% end %>

	<div class="col-md-8 checklist-body">
		<% if current_user.admin || current_user.company_admin || item.user == current_user %>
			<%= link_to 'Edit', edit_checklist_item_path(item), :class => "left-edit-checklist", remote: true %>
		<% end %>
		<%= link_to item.body, checklist_item_project_path(@project, :item_id => item.id), :class=>"checklist-item-link", :remote => true %>
	</div>

	<div class="col-md-2" style="text-align: center;">
		<% if item.critical_date %>
			<%= parse_date item.critical_date %>
		<% else %>
			&nbsp;
		<% end %>
	</div>

	<div class="col-md-2" style="text-align: center;">
		<% if item.completed_date %>
			<%= parse_date item.completed_date %>
		<% else %>
			&nbsp;
		<% end %>
	</div>
</li>