<div class="border-box">
	<%= nested_form_for @report, :url => {:action => :report }, :html=> {:multipart => true}, :method => :post do |f| %>
		<div id="add-report" class="container">
			<div class="row">
				<div class="col-md-12"><h4>Report Date</h4></div>
			</div>

			<div class="row">
				<div class="input-append date col-md-12" data-date-format="dd-mm-yyyy">
					<%= f.text_field :created_date, :value => @report.created_date, :placeholder => Time.now.strftime("%m/%d/%Y"), :class =>"date-input", :id => "dp" %>
				</div>
			</div>

			<div class="row">
				<div class="col-md-3"><h4 style="display:inline-block;">Report Type:</h4></div>
				<div class="col-md-9"><%= f.select :report_type, options_for_select(@report.possible_types) %></div>
			</div>
				
			<div class="row">
				<div class="col-md-12"><h4>General Remarks</h4></div>
			</div>
			<div class="row">
				<div class="col-md-12"><%= f.text_area :body, :rows => 7, :placeholder => "General remarks" %></div>
			</div>

			<div class="row">
				<div class="col-md-12"><h4>Weather</h4></div>
			</div>

			<div class="row">
				<div class="col-md-12"><%= f.text_area :weather, :rows => 2, :placeholder => "Weather report" %></div>
			</div>

			<div class="row">
				<div class="col-md-6"><h4>Onsite personnel:</h4></div>
				<div class="col-md-6"><h4>Subcontractors:</h4></div>
			</div>

			<div class="row">
				<div class="select-container col-md-6">
					<%= f.select :user_ids, @users.all.collect {|u| [u.full_name, u.id]}, {}, :include_blank => false, :multiple => true %>
				</div>
				<div class="select-container col-md-6">
					
					<%= f.select :sub_ids, @subs.all.collect {|u| [u.name, u.id]}, {}, :include_blank => false, :multiple => true %>
				</div>
			</div>

			<% if @report.photos && @report.photos.count > 0 %>
				<div class="row">
					<% @report.photos.each do |p| %>
						<% if p.image_file_name%>
							<%= render :partial => "image", :locals => {:p => p} %> 
						<% end %>
					<% end %>
				</div>
			<% end %>

			<div class="row">
				<div class="col-md-12"><h4>Add a photo</h4></div>
			</div>
			
			<div class="row">
				<div class="col-md-12">
					<%= f.fields_for :photos, @report.photos.build do |photo| %>
						<%= photo.file_field :image %>
						<%= photo.hidden_field :report_id, :value => @report.id %>
						<%= photo.hidden_field :project_id, :value => @project.id %>
						<%= photo.hidden_field :source, :value => "Reports" %>
					<% end %>
				</div>
			</div>
			
			<div class="row">
				<button class="btn btn-success btn-md pull-right"><%= f.submit "Save" %></button>
			</div>

			<div class="row">
				<%= link_to "Delete Report", delete_report_project_path(@project, :report_id => @report.id), :method => :delete, :style=>"margin:0 auto;display:block;width:70px;text-align:center;float:right;" , :class => "delete-report-link" %>
			</div>
			<%= hidden_field_tag :authenticity_token, form_authenticity_token -%>	
		</div>
	<% end %>
</div>
<script type="text/javascript">
	$(document).ready(function(){
		$("#dp").datepicker();
		$('#dp').datepicker().on('changeDate', function(){
		    $('#dp').datepicker('hide');
		});
	});
</script>