<table>
	<%= form_for @new_photo, :url => {:action => :photo, :multipart => true }, :method => :post do |f| %>
		<%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
		<%= hidden_field_tag :project_id, @project.id %>
		<%= hidden_field_tag :company_id, @company.id %>
		<%= hidden_field_tag :user_id, current_user.id %>
		<tr><td><%= f.file_field :image %></td></tr>
		<tr><td><%= f.text_field :source, :placeholder => "Label" %></td></tr>
		<tr><td><button class="btn btn-success btn-lg pull-right"><%= f.submit "Add photo" %></button></td></tr>
	<% end %>
</table>