
<div class="category" id="phase-<%=c.id%>">
	<% if current_user.admin %>
		<div class="col-xs-6"><h2 style="display:inline-block"><%= link_to c.name, load_items_checklist_path(c), :id => "c-#{c.id}", :class=>"remote", :remote => true %></h2></div>
		<div class="col-xs-2 phase-label"><%= parse_date(c.milestone_date) %></div>	
		<div class="col-xs-2 phase-label"><%= parse_date(c.completed_date) %></div>
		<div class="col-xs-2 phase-label"><%= link_to "Edit Phase", category_checklist_path(@project, :category_id => c.id, :project_id => @project.id), :class => "remote", :style=>"margin-left:20px;", :remote => true %></div>
	<% else %>
		<div class="col-xs-8"><h2 style="display:inline-block"><%= link_to c.name, load_items_checklist_path(c), :id => "c-#{c.id}", :class=>"remote", :remote => true %></h2></div>
		<div class="col-xs-2 phase-label"><%= parse_date(c.milestone_date) %></div>	
		<div class="col-xs-2 phase-label"><%= parse_date(c.completed_date) %></div>
	<% end %>
	<div id="<%= c.id %>-items"></div>
</div>