<li class="category" style="clear:both;" id="phase-<%=c.id%>">
	<div class="header row">
		<% if current_user.admin %>
			<span class="col-xs-6">
				<h2 style="display:inline-block;margin:10px auto;"><%= link_to c.name, load_items_checklist_path(c), :id => "c-#{c.id}", :class=>"remote", :remote => true %></h2>
				<%= link_to "New Category", new_subcategory_project_path(@project, :category_id => c.id), :id=>"new-category-#{c.id}", :class=>"remote new-subcategory", remote: true %>
			</span>
			<span class="col-xs-2 phase-label"><%= parse_date(c.milestone_date) %></span>	
			<span class="col-xs-2 phase-label"><%= parse_date(c.completed_date) %></span>
			<span class="col-xs-1 phase-label pull-right"><%= link_to "Edit", category_checklist_path(@project, :category_id => c.id, :project_id => @project.id), :class => "btn btn-md btn-success remote", remote: true %></span>
		<% else %>
			<span class="col-xs-8"><h2 style="display:inline-block"><%= link_to c.name, load_items_checklist_path(c), :id => "c-#{c.id}", :class=>"remote", :remote => true %></h2></span>
			<span class="col-xs-2 phase-label"><%= parse_date(c.milestone_date) %></span>	
			<span class="col-xs-2 phase-label"><%= parse_date(c.completed_date) %></span>
		<% end %>
	</div>
	<ul id="<%= c.id %>-items"></ul>
</li>
<script>
	$(document).ready(function(){
		$('#<%= c.id %>-items').sortable({
          axis: 'y',
          dropOnEmpty:true,
          cursor: 'move',
          items: 'li',
          opacity: 0.4,
          scroll: true,
          stop: function(){
            $.ajax({
                type: 'post',
                data: $('#<%= c.id %>-items').sortable('serialize') + '&id=<%=c.id-%>',
                dataType: 'script',
                complete: function(request){
                    //$('#categories').effect('highlight');
                  },
                url: '/checklists/order_subcategories'})
            }
        })
	});
</script>