<li class="category" id="phase-<%=c.id%>">
	<% if current_user.admin %>
		<span class="col-xs-6"><h2 style="display:inline-block"><%= link_to c.name, load_items_checklist_path(c), :id => "c-#{c.id}", :class=>"remote", :remote => true %></h2><%= link_to "Edit Phase", category_checklist_path(@project, :category_id => c.id, :project_id => @project.id), :class => "remote", :style=>"margin-left:20px;", :remote => true %></span>
		<span class="col-xs-2 phase-label"><%= parse_date(c.milestone_date) %></span>	
		<span class="col-xs-2 phase-label"><%= parse_date(c.completed_date) %></span>
		<span class="col-xs-1 phase-label">&nbsp;</span>
	<% else %>
		<span class="col-xs-8"><h2 style="display:inline-block"><%= link_to c.name, load_items_checklist_path(c), :id => "c-#{c.id}", :class=>"remote", :remote => true %></h2></span>
		<span class="col-xs-2 phase-label"><%= parse_date(c.milestone_date) %></span>	
		<span class="col-xs-2 phase-label"><%= parse_date(c.completed_date) %></span>
	<% end %>
	<div id="<%= c.id %>-items"></div>
</li>