<li class="phase" id="phase-<%=p.id%>">
	<% if current_user.admin %>
		<%= link_to "Edit", phase_path(p, :project_id => @project), :class => "simple-btn left-edit", remote: true %>
	<% end %>
	<div class="row">
		<span class="col-xs-8">
			<h3 class="title remote">
				<%= link_to load_items_checklist_path(p), :id => "p-#{p.id}", :class=>"phase-link remote", remote: true do %>
					<i class="fa fa-minus disclosure"></i>
					<%=p.name%>
				<% end %>
			</h3>
		</span>
		<span class="col-xs-2 phase-label"><%= parse_date(p.milestone_date) %></span>	
		<span class="col-xs-2 phase-label"><%= parse_date(p.completed_date) %></span>
	</div>
	<ul id="<%= p.id %>-items"></ul>
</li>