<div id="project-documents">
	<table id="checklists-table">
		<h2>Documents</h2>
		<% @photos.each do |photo| %>
			<% if photo.image_file_name %>
				<div style="width:220px;text-align:left;display:inline-block;">
					<%= link_to photo.image.url(:original), :class => "shadow-photo", :rel => "shadowbox[Mixed]" do %> 
						<%= image_tag photo.image.url(:small), :class => "documents-photo" %>
					<% end %>
					<div>Date: <%= photo.created_date%> </div>
					<% if photo.source %><div>Source: <%= photo.source%></div> <% end %>
				</div>
			<% end %>
		<% end %>

		<tr><td style="padding-top:27px;text-align:center;"><%= link_to "Add photo", new_photo_project_path(@project), :style=>"margin:0 auto;",:remote => true %></td></tr>
	</table>

	<script type="text/javascript">
		$(document).ready(function(){
			Shadowbox.clearCache();
		    Shadowbox.setup(".shadow-photo", {});
		});
	</script>
</div>