<div id="project-documents" class="border-box">
	<div>
		<h2 style="display:inline-block">Documents</h2>
		
		<ul id="filters">
			<li><%= link_to "All", photos_project_path(@project), :remote => true %></li>
			<li><%= link_to "Documents", document_photos_project_path(@project), :remote => true %></li>
			<li><%= link_to "Checklist", checklist_photos_project_path(@project), :remote => true %></li>
			<li><%= link_to "Worklist", worklist_photos_project_path(@project), :remote => true %></li>
			<li><%= link_to "Reports", report_photos_project_path(@project), :remote => true %></li>
			<li><%= link_to "Add Document", new_photo_project_path(@project), :style=>"margin:0 auto;text-align:center",:id => "add-photo-link", :remote => true %></li>
		</ul>
	</div>
	<div id="photo-section">
		<div id="photo-table">
			<ul>
				<% @photos.map(&:source).each do |s| %>
					<li><%= s %></li>
				<% end %>
			</ul>
		</div>

		<div id="photo-focus">
			<% p = @photos.last %>
			<% if p.image_file_name %>
				<div class="image-block large" id="photo-<%=p.id%>">
					<%= link_to p.image.url(:original), :class => "shadow-photo", :rel => "shadowbox[Mixed]" do %> 
						<%= image_tag p.image.url(:medium) %> 
						<div><span class="label">Date:</span><%= p.created_date%></div>
						<div><% if p.source %><span class="label">Source:</span><%= p.source%><% end %></div> 
						<div><% if p.user %><span class="label">Taken by:</span><%= p.user.full_name%><% else %>&nbsp;<% end %></div>
						<%= link_to 'Delete Photo', photo_path(p), :method => :delete, :class=>"delete-link", :remote => true, :data => {:confirm => "Are you sure you want to delete this photo? This can't be undone."} %>
					<% end %>
				</div>
			<% end %>
		</div>
	</div>
</div>
	<script type="text/javascript">
		$(document).ready(function(){
			Shadowbox.clearCache();
		    Shadowbox.setup(".shadow-photo", {});
		});
	</script>
