
<% if current_user.admin %> 
	<li class="nav-dashboard admin"><%= link_to "Dashboard", project_path(@project), :class => "current-page", :remote => true %></li>
	<li class="nav-checklists admin"><%= link_to "Checklist", checklist_project_path(@project), :remote => true %></li>
	<li class="nav-documents admin"><%= link_to "Documents", document_photos_project_path(@project), :remote => true %></a></li>
	<li class="nav-reports admin"><%= link_to "Reports", reports_path(:project_id => @project.id), :remote => true %></li>
	<li class="nav-punchlists admin"><%= link_to "Worklist", worklist_project_path(@project), :remote => true %></li>
	<li class="nav-edit admin"><%= link_to "Edit", edit_project_path(@project), :remote => true %></li> 
<% else %>
	<li class="nav-dashboard"><%= link_to "Dashboard", project_path(@project), :class => "current-page", :remote => true %></li>
	<li class="nav-checklists"><%= link_to "Checklist", checklist_project_path(@project), :remote => true %></li>
	<li class="nav-documents"><%= link_to "Documents", document_photos_project_path(@project), :remote => true %></a></li>
	<li class="nav-reports"><%= link_to "Reports", reports_path(:project_id => @project.id), :remote => true %></li>
	<li class="nav-punchlists"><%= link_to "Worklist", worklist_project_path(@project), :remote => true %></li>
<% end %>

<% if current_user && current_user.uber_admin? %>
	<li class="nav-help" id="nav-help"><%= link_to 'Help' %></li>
<% end %>