<div id="project-dashboard">
	<h3>Upcoming Critical Items</h3>
		<% if @upcoming_items && @upcoming_items.count > 0 %>
			<table style="width:100%;">
				<% @upcoming_items.each do |item| %>
					<tr>
						<td class="col-md-8">- <%= link_to item.body, checklist_item_project_path(@project, :item_id => item.id), :class => "recently-completed", :remote => true %></td>
						<td class="col-md-2"><%= parse_date item.critical_date %></td>
					<tr>
				<% end %>
			</table>
		<% else %>
			<div style="color:#aaa;font-style:italic;font-weight:200;">(No upcoming items)</div>
		<% end %>

	<h3>Recent Updates </h3>
		<% if @recently_completed && @recently_completed.count > 0 %>
			<table style="width:100%;">
				<% @recently_completed.each do |item| %>
				<%= item.class %>
				<% class_name = item.class.name %>
					<% if class_name == "ChecklistItem" %>
						<tr>	
							<td class="col-md-1">Checklist: </td>
							<td class="col-md-7"><%= link_to item.body, checklist_item_project_path(@project, :item_id => item.id), :class => "recently-completed", :remote => true %></td>
							<td class="col-md-2"><%= parse_date item.completed_date %></td>
						</tr>
					<% elsif class_name == "Report" %>
						<tr>	
							<td class="col-md-1">Report: </td>
							<td class="col-md-7"><%= link_to item.body, show_report_project_path(@project, :report_id => item.id), :class => "recently-completed", :remote => true %></td>
							<td class="col-md-2"><%= item.created_date %></td>
						</tr>
					<% elsif class_name == "PunchlistItem" %>
						<tr>	
							<td class="col-md-1">- Worklist: </td>
							<td class="col-md-7"><%= link_to item.body, edit_worklist_item_project_path(@project, :report_id => item.id), :class => "recently-completed", :remote => true %></td>
							<td class="col-md-2"><%= parse_date item.completed_at %></td>
						</tr>
					<% end %>
				<% end %>
			</table>
		<% else %>
			<div style="color:#aaa;font-style:italic;margin-bottom:20px;font-weight:200;">(No recently completed items)</div>
		<% end %>

	<% if @recent_photos && @recent_photos.count > 0 %>
		<h3>Recently Added Documents</h3>
		<div class="row" style="margin-bottom:20px;">
			<div class="col-md-12" style="overflow: hidden;">
				<% @recent_photos.each do |p| %>
					<% if p.image_file_name%>
						<%= render :partial => "image", :locals => {:p => p} %>
					<% end %>
				<% end %>
			</div>
		</div>
	<% end %>

	<% if @checklist %>
		<table style="width:100%;">
			<theader>
				<th class="col-sm-4"><h4>Phase</h4></th>
				<th class="col-sm-2">% Completion</th>
				<th class="col-sm-2">Completion Date</th>
				<th class="col-sm-2">Milestone</th>
				<th class="col-sm-2">+/-</th>
			</theader>
			<tbody>
				<% @checklist.categories.sort_by{|c|c.name.to_i}.each do |cat| %>
					<tr style="font-size:1.1em;border-bottom:1px solid #eee;">
						<td class="col-sm-4" style="padding:17px 0;"><%= link_to cat.name, checklist_project_path(@project), :remote => true %></td>
						<td class="col-sm-2"><span><%= cat.progress_percentage %></span></td>
						<td class="col-sm-2"><% if cat.completed_date %> <%= parse_date cat.completed_date%><% end %></td>
						<td class="col-sm-2"><% if cat.milestone_date %><%= parse_date cat.milestone_date %><% end %></td>
						<td class="col-sm-2">
							<% if cat.milestone_date && cat.completed_date %> 
								<% diff = (cat.milestone_date.to_date-cat.completed_date.to_date).to_i %>
								<% if diff < 0 %>
									<span style="color:red"><%= diff %></span>
								<% else %>
									<span style="color:green">+<%= diff %></span>
								<% end %>

							<% end %> 
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
	<% else %>
		<div style="color:#aaa;text-align:center;font-size:1.25em; font-style:italic;margin-top:50px;">This project does not have a checklist attached to it</div>
	<% end %>

	<script type="text/javascript">
		$(document).ready(function(){
			Shadowbox.clearCache();
		    Shadowbox.setup(".shadow-photo", {});
		});
	</script>
</div>