<li class="nav-dashboard admin">
	<%= link_to project_path(@project), :remote => true do %>
		<i class="fa fa-bar-chart nav-icon"></i>
		<div>Dashboard</div>
	<% end %>
</li>
<li class="nav-checklists admin">
	<%= link_to checklist_project_path(@project), :remote => true do %>
		<i class="fa fa-list-alt nav-icon"></i>
		<div>Checklist</div>
	<% end %>
</li>
<li class="nav-documents admin">
	<%= link_to document_photos_project_path(@project), :remote => true do %>
		<i class="fa fa-picture-o nav-icon"></i>
		<div>Documents</div>
	<% end %>
<li class="nav-reports admin">
	<%= link_to reports_path(:p => @project.to_param), :remote => true do %>
		<i class="fa fa-pencil nav-icon"></i>
		<div>Reports</div>
	<% end %>
</li>
<li class="nav-tasks admin">
	<%= link_to tasklist_project_path(@project), :remote => true do %>
		<i class="fa fa-tasks nav-icon"></i>
		<div>Tasks</div>
	<% end %>
</li>
<% if current_user.admin %> 
	<li class="nav-edit admin">
		<%= link_to edit_project_path(@project), :remote => true do %>
			<i class="fa fa-wrench nav-icon"></i>
			<div>Edit</div>
		<% end %>
	</li>
<% end %>