<li class="nav-dashboard admin">
	<%= link_to project_path(@project), :remote => true do %>
		<%= image_tag "dashboard.png", :class=>"nav-icon" %> 
		<div>Dashboard</div>
	<% end %>
</li>
<li class="nav-checklists admin">
	<%= link_to checklist_project_path(@project), :remote => true do %>
		<%= image_tag "checklist.png", :class=>"nav-icon" %> 
		<div>Checklist</div>
	<% end %>
</li>
<li class="nav-documents admin">
	<%= link_to document_photos_project_path(@project), :remote => true do %>
		<%= image_tag "document.png", :class=>"nav-icon" %>
		<div>Documents</div>
	<% end %>
<li class="nav-reports admin">
	<%= link_to reports_path(:project_id => @project.id), :remote => true do %>
		<%= image_tag "reports.png", :class=>"nav-icon" %>
		<div>Reports</div>
	<% end %>
</li>
<li class="nav-tasks admin">
	<%= link_to tasklist_project_path(@project), :remote => true do %>
		<%= image_tag "task.png", :class=>"nav-icon" %>
		<div>Tasks</div>
	<% end %>
</li>
<% if current_user.admin %> 
	<li class="nav-edit admin">
		<%= link_to edit_project_path(@project), :remote => true do %>
			<%= image_tag "wrench.png", :class=>"nav-icon" %>
			<div>Edit</div>
		<% end %>
	</li>
<% end %>