<script type="text/javascript">
	$('#<%=@project.id%>-link').addClass('current-page');
</script>
<div class="navbar" style="border-color:#ddd;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;margin-bottom:15px;">
	<div class="container" style="padding:0;">
		<ul class="project-nav nav navbar-nav">
			<% if current_user.admin %> 
				<li class="nav-dashboard admin"><%= link_to "Dashboard", project_path(@project), :class => "current-page", :remote => true %></li>
				<li class="nav-checklists admin"><%= link_to "Checklist", checklist_project_path(@project), :remote => true %></li>
				<li class="nav-documents admin"><%= link_to "Documents", document_photos_project_path(@project), :remote => true %></a></li>
				<li class="nav-reports admin"><%= link_to "Reports", reports_project_path(@project), :remote => true %></li>
				<li class="nav-punchlists admin"><%= link_to "Worklist", worklist_project_path(@project), :remote => true %></li>
				<li class="nav-edit admin"><%= link_to "Edit", edit_project_path(@project), :remote => true %></li> 
			<% else %>
				<li class="nav-dashboard"><%= link_to "Dashboard", project_path(@project), :class => "current-page", :remote => true %></li>
				<li class="nav-checklists"><%= link_to "Checklist", checklist_project_path(@project), :remote => true %></li>
				<li class="nav-documents"><%= link_to "Documents", document_photos_project_path(@project), :remote => true %></a></li>
				<li class="nav-reports"><%= link_to "Reports", reports_project_path(@project), :remote => true %></li>
				<li class="nav-punchlists"><%= link_to "Worklist", worklist_project_path(@project), :remote => true %></li>
			<% end %>
		</ul>
	</div>
</div>