<div id="project-dashboard" class="border-box container">
	<h4 style="margin-top:0;border-top:0;" class="header">Upcoming Critical Items</h4>
		<div id="upcoming-items">
			<% if @upcoming_items && @upcoming_items.count > 0 %>
				<% @upcoming_items.each_with_index do |item, idx| %>
					<div class="row">
						<%= link_to checklist_item_project_path(@project, :item_id => item.id), :class => "recently-completed", :remote => true do %>
							<div class="col-xs-8"><%= idx+1 %>. <%= item.body %></div>
							<div class="col-xs-2"><%= parse_date item.critical_date %></div>
						<% end %>
					</div>
				<% end %>	
			
			<% else %>
				<div style="color:#aaa;font-style:italic;font-weight:200;text-align:center;">(No upcoming items)</div>
			<% end %>
		</div>

	<h4 class="header">Latest Activity</h4>
		<% if @activities && @activities.count > 0 %>
			<div id="recent-items">
				<div class="row">
					<div class="col-xs-1 header-label"><h5>Type</h5></div>
					<div class="col-xs-2 header-label"><h5>Date</h5></div>
					<div class="col-xs-2 header-label"><h5>Item</h5></div>
				</div>

				<% @activities.each do |activity| %>
					<% if activity.checklist_item %>
						<div class="row">	
							<div class="col-xs-1"><%= image_tag 'checklist.png', :class=>"dashboard-image" %></div>
							<div class="col-xs-2">(<%= parse_date activity.created_at %>)</div>
							<div class="col-xs-8"><%= link_to activity.checklist_item.body, checklist_item_project_path(project_id: @project.id, :item_id => activity.checklist_item.id), :class => "recently-completed", :remote => true %></div>
						</div>
					<% elsif activity.report %>
						<div class="row">	
							<div class="col-xs-1"><%= image_tag 'reports.png', :class=>"dashboard-image" %></div>
							<div class="col-xs-2">(<%= parse_date activity.created_at %>)</div>
							<div class="col-xs-8"><%= link_to "#{activity.report.date_string}", reports_path(project_id: @project.id, report_id: activity.report), :class => "recently-completed", :remote => true %></div>
						</div>
					<% elsif activity.task %>
						<div class="row">	
							<div class="col-xs-1"><%= image_tag 'task.png', :class=>"dashboard-image" %></div>
							<div class="col-xs-2">(<%= parse_date activity.created_at %>)</div>
							<div class="col-xs-8"><%= link_to activity.task.body, tasklist_project_path(:project_id => @project.id, :task_id => activity.task.id), :class => "recently-completed", :remote => true %></div>
						</div>
					
					<% end %>
				<% end %>
			</div>
		<% else %>
			<div style="color:#aaa;font-style:italic;margin-bottom:20px;margin-top:10px;font-weight:200;">(No recent activity)</div>
		<% end %>

	<% if @recent_photos && @recent_photos.count > 0 %>
		<h4 class="header">Recently Added Documents</h4>
		<div id="recent-documents" class="row">
			<div class="col-xs-12" style="overflow: hidden;">
				<% @recent_photos.each do |p| %>
					<% if p.image_file_name%>
						<%= render :partial => "photos/image", :locals => {:p => p} %>
					<% end %>
				<% end %>
			</div>
		</div>
	<% end %>

	<% if @checklist %>
		<h4 class="header">Checklist Progress</h4>
		<div id="checklist-section">
			<div class="row">
				<div class="col-xs-4 header-label"><h4>Phase</h4></div>
				<div class="col-xs-2 header-label center"><h4>% Completion</h4></div>
				<div class="col-xs-2 header-label center"><h4>Completion</h4></div>
				<div class="col-xs-2 header-label center"><h4>Milestone</h4></div>
				<div class="col-xs-2 header-label center"><h4>+/-</h4></div>
			</div>
			
			<% @checklist.phases.sort_by{|p|p.name.to_i}.each do |phase| %>
				<div class="row" style="font-size:1.1em;border-bottom:1px solid #eee;">
					<div class="col-xs-4"><h4 style="text-align:left"><%= link_to phase.name, checklist_project_path(@project, :phase_id => phase.id), :remote => true %></h4></div>
					<div class="col-xs-2 center"><span style="text-align:center;display:inline-block;width:100%;"><%= phase.progress_percentage %></span></div>
					<div class="col-xs-2 center"><% if phase.completed_date %> <%= parse_date phase.completed_date%><% end %></div>
					<div class="col-xs-2 center"><% if phase.milestone_date %><%= parse_date phase.milestone_date %><% end %></div>
					<div class="col-xs-2 center">
						<% if phase.milestone_date && phase.completed_date %> 
							<% diff = (phase.milestone_date.to_date-phase.completed_date.to_date).to_i %>
							<% if diff < 0 %>
								<span style="color:red"><%= diff %></span>
							<% else %>
								<span style="color:green">+<%= diff %></span>
							<% end %>
						<% end %> 
					</div>
				</div>
			<% end %>
			
		</div>
	<% else %>
		<div style="color:#aaa;text-align:center;font-size:1.25em; font-style:italic;margin-top:50px;">This project does not have a checklist attached to it</div>
	<% end %>

	<script type="text/javascript">
		$(document).ready(function(){
			$('a').removeClass('current-page');
			$('#<%=@project.id%>-link, .nav-dashboard.admin a').addClass('current-page');
			Shadowbox.clearCache();
		    Shadowbox.setup(".shadow-photo", {});
		});
	</script>
</div>