<div id="project-dashboard">
	<h3>Upcoming Critical Items</h3>
		<% if @upcoming_items && @upcoming_items.count > 0 %>
			<div style="width:100%;">
				<% @upcoming_items.each do |item| %>
					<div class="row">
						<div class="col-md-8">- <%= link_to item.body, checklist_item_project_path(@project, :item_id => item.id), :class => "recently-completed", :remote => true %></div>
						<div class="col-md-2"><%= parse_date item.critical_date %></div>
					<div>
				<% end %>
			</div>
		<% else %>
			<div style="color:#aaa;font-style:italic;font-weight:200;">(No upcoming items)</div>
		<% end %>

	<h3>Recent Updates </h3>
		<% if @recently_completed && @recently_completed.count > 0 %>
			<div id="recent-items">
				<div class="row">
					<div class="col-xs-2 header-label">Type</div>
					<div class="col-xs-2 header-label">Last Updated</div>
					<div class="col-xs-2 header-label">Item</div>
				</div>

				<% @recently_completed.each do |item| %>

					<% class_name = item.class.name %>
					<% if class_name == "ChecklistItem" %>
						<div class="row">	
							<div class="col-xs-2"><%= link_to 'Checklist', checklist_project_path(@project), remote: true %></div>
							<div class="col-xs-2">(<%= parse_date item.updated_at %>)</div>
							<div class="col-xs-8"><%= link_to item.body, checklist_item_project_path(@project, :item_id => item.id), :class => "recently-completed", :remote => true %></div>
						</div>
					<% elsif class_name == "Report" %>
						<div class="row">	
							<div class="col-xs-2"><%= link_to 'Report', reports_project_path(@project), remote: true %></div>
							<div class="col-xs-2">(<%= parse_date item.updated_at %>)</div>
							<div class="col-xs-8"><%= link_to item.body, show_report_project_path(@project, :report_id => item.id), :class => "recently-completed", :remote => true %></div>
							
						</div>
					<% elsif class_name == "PunchlistItem" %>
						<div class="row">	
							<div class="col-xs-2"><%= link_to 'Worklist', worklist_project_path(@project), remote: true %></div>
							<div class="col-xs-2">(<%= parse_date item.updated_at %>)</div>
							<div class="col-xs-8"><%= link_to item.body, edit_punchlist_item_path(item, :project_id => @project.id), :class => "recently-completed", :remote => true %></div>
						</div>
					<% elsif class_name == "Photo" %>
						<div class="row">	
							<div class="col-xs-2"><%= link_to 'Document', document_photos_project_path(@project), remote: true%></div>
							<div class="col-xs-2">(<%= parse_date item.updated_at %>)</div>
							<div class="col-xs-8"><%= link_to item.image_file_name, item.image.url(:large), :class => "shadow-photo", :rel => "shadowbox[Mixed]" %></div>
						</div>
					<% end %>

				<% end %>
			</div>
		<% else %>
			<div style="color:#aaa;font-style:italic;margin-bottom:20px;margin-top:10px;font-weight:200;">(No recently completed items)</div>
		<% end %>

	<% if @recent_photos && @recent_photos.count > 0 %>
		<h3>Recently Added Documents</h3>
		<div id="recent-documents" class="row">
			<div class="col-md-12" style="overflow: hidden;">
				<% @recent_photos.each do |p| %>
					<% if p.image_file_name%>
						<%= render :partial => "image", :locals => {:p => p} %>
					<% end %>
				<% end %>
			</div>
		</div>
	<% end %>

	<% if @checklist %>
		<div id="checklist-section">
			<div class="row">
				<div class="col-sm-4 header-label"><h4>Phase</h4></div>
				<div class="col-sm-2 header-label center"><h4>% Completion</h4></div>
				<div class="col-sm-2 header-label center"><h4>Completion Date</h4></div>
				<div class="col-sm-2 header-label center"><h4>Milestone</h4></div>
				<div class="col-sm-2 header-label center"><h4>+/-</h4></div>
			</div>
			
				<% @checklist.categories.sort_by{|c|c.name.to_i}.each do |cat| %>
					<div class="row" style="font-size:1.1em;border-bottom:1px solid #eee;">
						<div class="col-sm-4" style="padding:17px 0;"><%= link_to cat.name, checklist_project_path(@project), :remote => true %></div>
						<div class="col-sm-2"><span style="text-align:center;display:inline-block;width:100%;"><%= cat.progress_percentage %></span></div>
						<div class="col-sm-2"><% if cat.completed_date %> <%= parse_date cat.completed_date%><% end %></div>
						<div class="col-sm-2"><% if cat.milestone_date %><%= parse_date cat.milestone_date %><% end %></div>
						<div class="col-sm-2">
							<% if cat.milestone_date && cat.completed_date %> 
								<% diff = (cat.milestone_date.to_date-cat.completed_date.to_date).to_i %>
								<% if diff < 0 %>
									<span style="color:red"><%= diff %></span>
								<% else %>
									<span style="color:green">+<%= diff %></span>
								<% end %>
							<% end %> 
						</div>
					</div>
				<% end %>
			
		</div>
	<% else %>
		<div style="color:#aaa;text-align:center;font-size:1.25em; font-style:italic;margin-top:50px;">This project does not have a checklist attached to it</div>
	<% end %>

	<script type="text/javascript">
		$(document).ready(function(){
			Shadowbox.clearCache();
		    Shadowbox.setup(".shadow-photo", {});
		});
	</script>
</div>