<div id="export-worklist-modal" class="border-box">
	<span id="cancel-worklist-modal" class="cancel-x"></span>
	<h3>Select Recipient(s)</h3>
	<%= form_tag export_worklist_project_path(@project), :remote => true, :method => :post do %>
		<% current_user.company.users.each do |user| %>
			<%= fields_for :recipient, user do |user_fields| %>
				<div class="checkboxes"><%= user_fields.check_box :id, {}, user.id %><span style="padding-left:1em;"><%= user.full_name %></span></div>
			<% end %>
		<% end %>
		<%= text_field_tag :email, "", :placeholder => "Enter email addresses (separated by commas" %>
		<button class="btn btn-success btn-md" style="text-align:center;margin:0 auto;"><%= submit_tag "Send" %></button>
	<% end %>
</div>