<div id="project-reports" class="border-box <% if report && report.id %>panel<% end %>">
	<div id="reports-header" class="row">
		<div class="col-xs-3">
			<%= link_to "+ Report", new_report_path(project_id: project.id), title:"Add a report", :class=>"simple-btn new-report", remote: true %>
		</div>
		
		<div class="col-xs-9">
			<%= form_tag search_reports_path(project_id: project.id), id: "reports-search", method: :post, :class=>"input-group search", remote: true do %>
				<%= text_field_tag :search, nil, placeholder: "Search Reports...", :class => "form-control search" %>
				<span class="input-group-addon cancel-search" id="remove" >
					<i class="fa fa-remove"></i>
				</span>
			<% end %>
		</div>
	</div>

	<div>
		<% if reports && reports.count > 0 %>
			<div class="header row">
				<div class="col-xs-3"><h6>Report Date</h6></div>
				<div class="col-xs-3"><h6>Type</h6></div>
				<div class="col-xs-3"><h6>Personnel</h6></div>
				<div class="col-xs-3"><h6>Photos</h6></div>
			</div>
			<div id="reports-table">
				<%= render partial:"reports/index_row", collection: reports, as: :report, cache: true %>
			</div>
		<% else %>
			<div class="no-content placeholder font-smoothing">No reports</div>
		<% end %>
		
	</div>
</div>

<div id="report" class="focus">
	<% if report %>
		<% if report.new_record? %>
			<%= render partial:"reports/new", locals:{report: report, project: @project, project_users: @project_users} %>
		<% else %>
			<%= render partial:"reports/edit", locals:{report: report, project: @project, project_users: @project_users} %>
		<% end %>
	<% end %>
</div>

<script>
	reportSetup();
	<% if report %>
		<% if report.new_record? %>
			var posTop = 0;
		<% else %>
			var reportOffset = document.getElementById('report-<%=report.id %>').offsetTop;
			var focusOffset = document.getElementById('project-reports').offsetHeight;
			var posTop = reportOffset-focusOffset;
			$("html, body").delay(200).animate({ scrollTop: $("#report-<%=report.id %>").offset().top-140 }, 200);
		<% end %>
		$('.active-report').removeClass('active-report');
		$('.report').addClass('faded');
		$('#report-<%=report.id %>').addClass('active-report');
		$('#report.focus').css('left','50%');
	<% else %>
		$('#report.focus').css('left','50%');
	<% end %>
</script>