<div class="border-box" id="search-results">
	<%= image_tag 'blackX.png', id:"dismiss-search" %>
	<% if @projects.count > 0 %>
		<% @projects.each do |project| %>
			<div class="search-project row">	
				<div class="project-header col-xs-6">
					<div>
						<span class="project-name"><%= link_to project.name, project_path(project), remote: true %></span>
						<% if project.address %>
							<%= link_to project.address.formatted_address, "https://www.google.com/maps/preview#!q=#{project.address.formatted_address.html_safe}", :target=>"_blank" %>
						<% end %>
					</div>
				</div>

				<div class="col-xs-6">
					<table class="alert-table">
						<tr>
							<td><%= link_to "Checklist",checklist_project_path(project), :remote => true %></td>
							<td><%= link_to "Reports", reports_path(:project_id => project.id), :remote => true %></td>
							<td><%= link_to "Documents", document_photos_project_path(project), remote: true %></td>
							<td><%= link_to "Tasks", worklist_project_path(project), :remote => true %></td>
						</tr>
					</table>
				</div>
			</div>
		<% end %>
	<% else %>
		<div style="color:#aaa;text-align:center;font-size:1.25em; font-style:italic;margin:5% auto;" class="font-smoothing"><%=@prompt%></div>
	<% end %>
</div>
