<div class="col-xs-6 col-sm-3" id="sidebar" role ="navigation">
	<% if @projects && @projects.count > 0 %>
		<div class="well sidebar-nav projects">
			<div id="search-section">
				<%= form_tag search_projects_path, :method => :post, :remote => true do %>
			   		<%= text_field_tag :search, params[:search], :style=>"width:100%;margin:10px auto 0;", :id => "search-form", :placeholder => "Search", :class=>"tt-hint form-control" %>
				<% end %>
			</div>
		
			<div class="sidebarProjects">
				<% @projects.each do |project| %>
					<% if project.checklist && project.checklist.item_count > 0 %>
						<div class="project"><%= link_to "#{project.name} - (#{number_to_percentage(project.checklist.completed_count.to_f/project.checklist.item_count*100, :precision =>1)})" , project_path(project), :id=>"#{project.id}-link", :remote => true %>
							<div id="sidebar-progress-link-<%=project.id%>" class="sidebar-progress-link" ></div>
						</div>
	
					<% else %>
						<div><%= link_to project.name, project_path(project), :id=>"#{project.id}-link", :remote => true %></div>
					<% end %>
				<% end %>
			</div>
		</div>
	<% else %>
		<div class="well sidebar-nav projects">
			<div style="font-style:italic;color:#aaa;padding:10px 0 20px;text-align:center;font-size:1.1em;font-family:'Montserrat','Helvetica',sans-serif;margin:5% auto;">NO PROJECTS</div>
		</div>
	<% end %>

	<% if @archived_projects && @archived_projects.count > 0 %>
		<h4 id="archived-projects-button">Archived Projects</h4>
		<div class="well sidebar-nav projects archived">
			
			<div class="sidebarProjects">
				<% @archived_projects.each do |p| %>
					<div><%= link_to p.name, project_path(p), :id=>"#{p.id}-link", :remote => true %></div>
				<% end %>
			</div>
		</div>
	<% end %>
</div>
<script type="text/javascript">
	$(function(){
		sidebarSetup();
		<% @projects.each do |p| %>
			<% if p.checklist %>
				$('#sidebar-progress-link-<%=p.id%>').progressbar({
			    	value:<%=p.checklist.progress%>
			    });
			<% end %>
	    <% end %>
	})
</script>