<div id="sidebar" role ="navigation">
	<ul class="sidebarProjects">
		<% if @projects && @projects.count > 0 %>
			
				<li id="search-section">
					<%= form_tag search_projects_path, :method => :post, :remote => true do %>
				   		<%= text_field_tag :search, params[:search], :style=>"width:100%;margin:10px auto 0;", :id => "search-form", :placeholder => "Search", :class=>"tt-hint form-control" %>
					<% end %>
				</li>
				<% @projects.each do |project| %>
					<% if project.checklist && project.checklist.item_count > 0 %>
						<li class="project">
							<%= link_to "#{project.name} (#{project.checklist.progress_percentage})" , project_path(project), :id=>"#{project.id}-link",:remote => true %>
							<div id="sidebar-progress-link-<%=project.id%>" class="sidebar-progress-link" ></div>
						</li>
					<% else %>
						<li><%= link_to project.name, project_path(project), :id=>"#{project.id}-link", :remote => true %></li>
					<% end %>
				<% end %>
			
			
		<% else %>

				<li style="font-style:italic;color:#aaa;padding:10px 0;text-align:center;font-size:1.1em;font-family:'Gotham Book','Helvetica',sans-serif;margin:5% auto;">No Projects</li>
		<% end %>
	</ul>
	<% if @archived_projects && @archived_projects.count > 0 %>
		<h4 id="archived-projects-button">Archived Projects</h4>
		<div class="well sidebar-nav projects archived">
			
			<div class="sidebarProjects">
				<% @archived_projects.each do |p| %>
					<div><%= link_to p.name, project_path(p), :id=>"#{p.id}-link", :remote => true %></div>
				<% end %>
			</div>
		</div>
	<% end %>
</div>
<script type="text/javascript">
	$(function(){
		sidebarSetup();
		<% @projects.each do |p| %>
			<% if p.checklist %>
				$('#sidebar-progress-link-<%=p.id%>').progressbar({
			    	value:<%=p.checklist.progress%>
			    });
			<% end %>
	    <% end %>
	})
</script>