<div class="col-xs-6 col-sm-3" id="sidebar" role ="navigation">
	<div class="well sidebar-nav projects">
		<div id="search-section">
			<%= form_tag search_projects_path, :method => :post, :remote => true do %>
		   		<%= text_field_tag :search, params[:search], :style=>"width:100%;margin:10px auto 0;", :id => "search-form", :placeholder => "Search", :class=>"tt-hint form-control" %>
			<% end %>
		</div>
		<% if @projects && @projects.count > 0 %>
			<div class="sidebarProjects">
				<% @projects.each do |project| %>
					<% if project.checklist && project.checklist.item_count > 0 %>
						<div class="project"><%= link_to "#{project.name} - (#{number_to_percentage(project.checklist.completed_count.to_f/project.checklist.item_count*100, :precision =>1)})" , project_path(project), :id=>"#{project.id}-link", :remote => true %>
							<div id="sidebar-progress-link-<%=project.id%>" class="sidebar-progress-link" ></div>
						</div>
							
						<script type="text/javascript">
							$(function(){
								$('#sidebar-progress-link-<%=project.id%>').progressbar({
							    	value:<%=project.checklist.progress%>
							    });
							})
						</script>

					<% else %>
						<div><%= link_to project.name, project_path(project), :id=>"#{project.id}-link", :remote => true %></div>
					<% end %>
				<% end %>
			</div>
		<% else %>
			<div style="font-style:italic;color:#aaa;padding:30px 0;text-align:center;font-size:1.5em;font-family:'Bebas','Helvetica',sans-serif;">No projects yet</div>
		<% end %>
	</div>
</div>