<ul id="projects-sidebar" class="project-sidebar font-smoothing" role="navigation">
	<li id="search-section">
		<%= form_tag search_projects_path, :method => :post, :remote => true do %>
	   		<%= text_field_tag :search, params[:search], :id => "projects-search-form", :placeholder => "Search", :class=>"tt-hint form-control" %>
		<% end %>
	</li>
	
	<% if current_user.any_admin? %>
		<li class="project buttons" style="padding:0">
			<%= link_to "+ PROJECT", new_project_admin_index_path, id:"new-project-button", remote: true %>
			<%= link_to "+ GROUP", new_project_group_path, id:"new-group-button", :class=>"remote", remote: true %>
		</li>
	<% end %>

	<ul id="projects" class="sortable-projects">
		<% if @sidebar_projects && @sidebar_projects.count > 0 %>
			<% @sidebar_projects.each do |project| %>
				<% if project.checklist && project.checklist.item_count > 0 %>
					<li class="project" id="project_<%= project.id %>" data-project="<%=project.id%>" data-group="<%=project.project_group_id%>">
						<%= link_to project_path(project, reload: true),:id=>"#{project.id}-link",remote: true do %>
							<div class="inner-padding">
								<span class="project-name"><%= project.name %></span>
								<span class="percentage"><%= project.checklist.progress_percentage %></span>
								<div id="sidebar-progress-link-<%=project.id%>" class="sidebar-progress-link" ></div>
							</div>
						<% end %>
					</li>
				<% else %>
					<li><%= link_to project.name, project_path(project), :id=>"#{project.id}-link", :remote => true %></li>
				<% end %>
			<% end %>
		<% else %>
			<% if @projects && @projects.count > 0 %>
				<li class="group unsortable">
					<div class="font-smoothing no-projects-placeholder">All projects are in groups</div>
				</li>
			<% else %>
				<% @demo_projects.each do |project| %>
					<% if project.checklist && project.checklist.item_count > 0 %>
						<li class="project" id="project_<%= project.id %>" data-project="<%=project.id%>">
							<%= link_to project_path(project, reload: true),:id=>"#{project.id}-link","data-stuff"=>"stuff", remote: true do %>
								<div class="inner-padding">
									<span class="project-name"><%= project.name %></span>
									<span class="percentage"><%= project.checklist.progress_percentage %></span>
									<div id="sidebar-progress-link-<%=project.id%>" class="sidebar-progress-link" ></div>
								</div>
							<% end %>
						</li>
					<% else %>
						<li><%= link_to project.name, project_path(project), :id=>"#{project.id}-link", :remote => true %></li>
					<% end %>
				<% end %>
			<% end %>
		<% end %>
	</ul>
	<ul id="groups" class="sortable-projects">
		<% if @project_groups && @project_groups.count > 0 %>
			<%= render partial:"project_groups/group", collection: @project_groups, as: :project_group %>
		<% else %>
			<!--<li style="color:#aaa;font-weight:100;">N/A</li>-->
		<% end %>
	</ul>

	<%= render partial: "projects/connect_sidebar", locals: {companies: @companies} if @companies %>
	
	<ul id="hidden-projects">
		<% if @hidden_projects && @hidden_projects.count > 0 %>
		
			<li><h4 id="hidden-projects-button">Hidden Projects</h4></li>	
			<% @hidden_projects.each do |p| %>
				<li class="project hidden-project"><%= link_to p.name, project_path(p), :id=>"#{p.id}-link", :remote => true %></li>
			<% end %>
		
		<% end %>
	</ul>
</ul>
	
<script type="text/javascript">
	
	$(function(){
		sidebarSetup();
		
		<% if @project %>
			$('#project_<%= @project.id %>').addClass('active');
		<% end %>

		<% if @sidebar_projects && @sidebar_projects.count > 0 %>
			<% @sidebar_projects.each do |p| %>
				<% if p.checklist %>
					$('#sidebar-progress-link-<%=p.id%>').progressbar({
				    	value:<%=p.checklist.progress%>
				    });
				<% end %>
		    <% end %>
		<% elsif @demo_projects %>
			<% @demo_projects.each do |p| %>
				<% if p.checklist %>
					$('#sidebar-progress-link-<%=p.id%>').progressbar({
				    	value:<%=p.checklist.progress%>
				    });
				<% end %>
		    <% end %>
	    <% end %>

	    <% if @project_groups %>
		    <% @project_groups.each do |g| %>
		    	<% g.projects.each do |p| %>
					<% if p.checklist %>
						$('#sidebar-progress-link-<%=p.id%>').progressbar({
					    	value:<%=p.checklist.progress%>
					    });
					<% end %>
				<% end %>
		    <% end %>
	    <% end %>
	})
	var groupId, projectId;
	$('#projects, #groups').sortable({
      	axis: 'y',
      	dropOnEmpty:true,
      	cursor: 'move',
      	items: 'li',
      	opacity: 0.6,
      	scroll: true,
      	connectWith: ".sortable-projects",
      	stop: function(e, ui){
      		projectId = ui.item.data('project');
        	groupId = ui.item.parent('.group').attr('id');
            $.ajax({
                type: 'post',
                data: $('#projects, #groups').sortable('serialize') + '&group_id='+groupId + "&project_id="+projectId,
                dataType: 'script',
                url: '/projects/order_projects'})
            }
    })
</script>