<li class="subcategory" id="subcategory-<%=subcategory.id%>">
	<div class="header row">
		<div class="col-xs-8">
			<h4 class="title" id="<%= subcategory.id %>"><%= subcategory.name %></h4>
			<span style="padding:0 1em;color:#aaa;">(<%=subcategory.completed_count%> of <%= subcategory.checklist_items.count%>)</span>
			<% if current_user.admin || current_user.company_admin %>
				<%= link_to "Edit Category", edit_subcategory_path(subcategory, :project_id => @project.id), :class=>"edit-category", :remote => true %>
			<% end %>
			
			<%= link_to "Add Item", new_checklist_item_path(:project_id => @project.id, :subcategory_id => subcategory.id), :id=>"new-item-#{subcategory.id}", :class=>"remote new-checklist-item", :remote => true %>
			
		</div>
		<div class="col-xs-2 category-label">
			<%= parse_date(subcategory.milestone_date) %>
		</div>
		<div class="col-xs-2 category-label">
			<%= parse_date(subcategory.completed_date) %>
		</div>
	</div>

	<div class="items-container collapsed" id="sub-<%=subcategory.id%>">
		<ul class="subcategory-items" id="items-<%=subcategory.id%>">
			<%= render partial:"projects/item", collection:subcategory.checklist_items, as: :item, cache: false %>
		</ul>
	</div>
</li>