<li class="subcategory" id="subcategory-<%=subcategory.id%>">
	<div class="header row">
		<div class="col-xs-6">
			<h4 class="title"><%= subcategory.name %></h4>
			<span style="padding-left:1em;color:#aaa;">(<%=subcategory.completed_count%> of <%= subcategory.checklist_items.count%>)</span>
			<% if current_user.admin %>
				<%= link_to "Add Checklist Item", new_item_project_path(@project, :subcategory_id => subcategory.id), :id=>"new-item-#{subcategory.id}", :class=>"remote new-checklist-item", :remote => true %>
			<% end %>
		</div>
		<div class="col-xs-2 category-label">
			<%= parse_date(subcategory.milestone_date) %>
		</div>
		<div class="col-xs-2 category-label">
			<%= parse_date(subcategory.completed_date) %>
		</div>
		<div class="col-xs-2 category-label pull-right"><%= link_to "Edit", subcategory_checklist_path(@project, :subcategory_id => subcategory.id, :project_id => @project.id), :class=>"btn btn-md btn-success remote", :remote => true %></div>
	</div>

	<div class="items-container collapsed" id="sub-<%=subcategory.id%>">
		<ul class="subcategory-items" id="items-<%=subcategory.id%>">
			<%= render partial:"projects/item", collection:subcategory.checklist_items, as: :item, cache: false %>
		</ul>
	</div>
</li>

<script>
	$(document).ready(function(){
		$('#items-<%=subcategory.id%>').sortable({
          axis: 'y',
          dropOnEmpty:true,
          cursor: 'move',
          items: 'li',
          opacity: 0.4,
          scroll: true,
          stop: function(){
            $.ajax({
                type: 'post',
                data: $('#items-<%=subcategory.id%>').sortable('serialize') + '&id=<%= subcategory.id %>',
                dataType: 'script',
                url: '/checklists/order_items'
            })
          }
        });  

		$('.subcategory').on('click',function(){
			var sub = $(this).find('.items-container');	
	        if (sub.hasClass("collapsed")){
	        	sub.css('display','none');
	        	sub.show(200,function(){
	        		sub.removeClass('collapsed');
	        	});
	        } else {
	        	sub.hide(200,function(){
	        		sub.addClass('collapsed');
	        	});
	        }
		});
	});
</script>