<div class="border-box <%if task%>tasks-panel<%end%>" id="project-tasks">
	<div style="margin-bottom: 15px" class="header row">
		<div class="col-xs-3">
			<%= link_to "+ New Task", new_task_path(:project_id => project.id), :class=>"simple-btn new-task", remote: true %>
		</div>
		<div class="col-xs-9">
			<%= form_tag search_tasklist_project_path(project), :id => "task-search", :method => :post, :class=>"input-group", :remote => true do %>
				<%= text_field_tag :search, nil, :placeholder=>"Search tasks...", :class=>"form-control search" %>
				<span class="input-group-addon cancel-search" style="cursor: pointer;" id="remove">
					<span class="glyphicon glyphicon-remove"></span></span>
			<% end %>
		</div>
	</div>
		
	<div>	
		<div id="task-table">
			<% if tasks && tasks.count > 0 %>
				<div class="header row">
					<!--<div class="col-xs-1">
						<% if tasks && tasks.count > 0 %>
							<button class="export" id="export-tasks">Export</button>
						<% end %>
					</div>-->
					<div class="col-xs-2"><h5>Photo</h5></div>
					<div class="col-xs-3"><h5>Name</h5></div>
					<div class="col-xs-3"><h5>Assignee</h5></div>
					<div class="col-xs-2"><h5>Complete</h5></div>
					<div class="col-xs-2"><h5>Created</h5></div>
				</div>		
				
				<div id="tasks">
					<%= render partial: "projects/task_row", collection: tasks, as: :task, cache: true %>
				</div>
			<% else %>
				<div class="no-contents-placeholder font-smoothing">No tasks</div>
			<% end %>
		</div>
	</div>
</div>
<div id="task-focus">
	<% if task %>
		<% if task.new_record? %> 
			<%= render partial:"tasks/new", locals:{task: task} %>
		<% else %>
			<%= render partial:"tasks/edit", locals:{task: task} %>
		<% end %>
	<% end %>
</div>

<script>
	<% if task %>
		var focusOffset = document.getElementById('project-tasks').offsetHeight;
		<% if task.new_record? %>
			$('.active-task').removeClass('active-task');
			$('.task').addClass('faded');
			$('#task-<%=task.id %>').addClass('active-task');
			$('#task-focus').css({'top':-focusOffset,'left':'50%'});
			$("html, body").delay(200).animate({ scrollTop: 0 }, 200);
		<% else %>
			var taskOffset = document.getElementById('task-<%=task.id %>').offsetTop;
			
			var posTop = taskOffset-focusOffset-45;
			$('.active-task').removeClass('active-task');
			$('.task').addClass('faded');
			$('#task-<%=task.id %>').addClass('active-task');
			$('#task-focus').css({'top':posTop,'left':'50%'});
			$("html, body").delay(200).animate({ scrollTop: $("#task-<%=task.id %>").offset().top-84 }, 200);
		<% end %>
	<% end %>
	$('#top-nav a').removeClass('current-page');
	$('.nav-tasks a,#<%=project.id%>-link').addClass('current-page');
	$('#remove').click(function(){
		$('#search').val('');
		$('#task-search').submit();
	});
	$('#export-tasks').click(function(){
		if (!$('#export-tasklist-modal').length > 0){
			$('#project-tasklist').before('<%= j render partial:"projects/tasklist_export" %>');
		}

		var values = [];
		$('.task-checkbox input').each(function(i,obj){
			if (obj.checked) {
				values.push(obj.value);		
			}
		});
		$('body').append('<div class="modal-backdrop in"></div>');

		$('#export-tasklist-modal form').append('<input type="hidden" id="items" name="items" value="'+values+'">');
		$('#export-tasklist-modal').animate({"left":"25%",'opacity':'1'},300);
		$('#cancel-tasklist-modal,.modal-backdrop.in').on('click',function(){
			$('#export-tasklist-modal').animate({"left":"100%",'opacity':'0'},300);
			$('.modal-backdrop.in').fadeOut(300,function(){
				$(this).remove();
			});
		});
	});

</script>