<div class="border-box <% if task %> panel <%end%>" id="project-tasks">
	<div style="margin-bottom: 15px" class="header row">
		<div class="col-xs-3">
			<%= link_to "+ Task", new_task_path(:project_id => project.id), :class=>"simple-btn new-task", remote: true %>
		</div>
		<div class="col-xs-9">
			<%= form_tag search_tasklist_project_path(project), :id => "task-search", :method => :post, :class=>"input-group search", :remote => true do %>
				<%= text_field_tag :search, nil, :placeholder=>"Search tasks...", :class=>"form-control search" %>
				<span class="input-group-addon cancel-search" id="remove">
					<i class="fa fa-remove"></i>
				</span>
			<% end %>
		</div>
	</div>
		
	<div>	
		<div id="task-table">
			<% if tasks && tasks.count > 0 %>
				<div class="header row">
					<div class="col-xs-1"><h6>Photo</h6></div>
					<div class="col-xs-4"><h6 class="left" style="padding-left:10px;">Name</h6></div>
					<div class="col-xs-3"><h6>Assignees</h6></div>
					<div class="col-xs-2"><h6>Status</h6></div>
					<div class="col-xs-2"><h6>Created</h6></div>
				</div>		
				
				<div id="tasks">
					<%= render partial: "tasks/row", collection: tasks, as: :task, cache: false %>
				</div>
			<% else %>
				<div class="no-content placeholder font-smoothing">No tasks</div>
			<% end %>
		</div>
	</div>
</div>
<div id="task" class="focus">
	<% if task %>
		<% if task.new_record? %> 
			<%= render partial:"tasks/new", locals:{task: task} %>
		<% else %>
			<%= render partial:"tasks/edit", locals:{task: task} %>
		<% end %>
	<% end %>
</div>

<script>
	<% if task %>
		<% if task.new_record? %>
			$('.active-task').removeClass('active-task');
			$('.task').addClass('faded');
			$('#task-<%=task.id %>').addClass('active-task');
			$('#task.focus').css('left','50%');
			$("html, body").delay(230).animate({ scrollTop: 0 }, 230);
		<% else %>
			$('.active-task').removeClass('active-task');
			$('.task').addClass('faded');
			$('#task-<%=task.id %>').addClass('active-task');
			$('#task.focus').css('left','50%');
			$("html, body").delay(200).animate({ scrollTop: $("#task-<%=task.id %>").offset().top-84 }, 200);
		<% end %>
	<% end %>
	taskSetup('<%=project.id%>','<%= j render partial:"projects/tasklist_export" %>');
	
</script>