<div class="border-box" style="padding:20px;">
	<header>
		<div style="margin-bottom: 15px">
			<%= form_tag search_worklist_project_path(@project), :id => "worklist-search", :method => :post, :class=>"input-group", :remote => true do %>
				<%= text_field_tag :search, nil, :placeholder=>"Search Worklist...", :class=>"form-control" %>
				<span class="input-group-addon" style="cursor: pointer;" id="remove"><span class="glyphicon glyphicon-remove"></span></span>
			<% end %>
		</div>
		<%= link_to "Add Item", new_punchlist_item_path(:project_id => @project.id), :class=>"btn btn-default search-button", remote: true %>
	</header>
	<div id="project-worklist">	
		<table class="table table-bordered table-responsive" id="worklist-table">
			<thead>
				<tr>
					<th>
						<% if @items && @items.count > 0 %>
							<button class="export" id="export-worklist-items">Export</button>
						<% end %>
					</th>
					<th>Photo</th>
					<th>Name</th>
					<th>Assignee</th>
					<th>Completed</th>
					<th>Created On</th>
				</tr>
			</thead>
		
			<tbody>
				<% if @items && @items.count > 0 %>
					<% @items.each do |item| %>
						<tr>
							<td style="width:76px;">
								<span class="worklist-item-checkbox"><%= check_box_tag :select, item.id %></span>
							</td>
							<% if item.photos && item.photos.count > 0 %>
								<td style="width:100px;height:100px;">
									<% photo = item.photos.where("image_file_name IS NOT NULL").first %>
									<% if photo %><%=image_tag(photo.image.url(:thumb)) %><% end %>
								</td>
							<% else %>
								<td style="width:100px;"></td>
							<% end %>
							
							<td>
								<% if item.body.length > 0 %>
									<%= link_to item.body, edit_punchlist_item_path(item), :remote => true %> 
								<% else %>
									<%= link_to edit_punchlist_item_path(item), :remote => true do %> <div style="width:100%;display:block;">&nbsp;</div><% end %>
								<% end %>
							</td>	
							<td>
								<% if item.assignee_id %>
									<%= item.assignee.full_name %>
								<% elsif item.sub_assignee_id %>
									<%= item.sub_assignee.name %>
								<% else %>
									<span style="color:#aaa;font-style:italic;">Not yet assigned</span>
								<% end %>
							</td>
							<td>
								<% if item.completed %>
									<%= parse_time item.completed_at %>
								<% end %>
							</td>
							<td><%= parse_time item.created_at %></td>
						</tr>
					<% end %>
				<% else %>
					<tr><td colspan="6" class="loading"><h4 style="text-align:center;color:#aaa;font-family:'Helvetica',sans-serif;text-transform:none;font-style:italic;font-weight:100;">No Worklist Items</h4></td></tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>
<script>
	$('#remove').click(function(){
		$('#search').val('');
		$('#worklist-search').submit();
	});
	$('#export-worklist-items').click(function(){
		if (!$('#export-worklist-modal').length > 0){
			$('#project-worklist').before('<%= j render partial:"projects/punchlist_export" %>');
		}

		var values = [];
		$('.worklist-item-checkbox input').each(function(i,obj){
			if (obj.checked) {
				values.push(obj.value);		
			}
		});
		$('body').append('<div class="modal-backdrop in"></div>');

		$('#export-worklist-modal form').append('<input type="hidden" id="items" name="items" value="'+values+'">');
		$('#export-worklist-modal').animate({"left":"25%",'opacity':'1'},300);
		$('#cancel-worklist-modal,.modal-backdrop.in').on('click',function(){
			$('#export-worklist-modal').animate({"left":"100%",'opacity':'0'},300);
			$('.modal-backdrop.in').fadeOut(300,function(){
				$(this).remove();
			});
		});
	});

</script>