<div class="border-box <%if @task%>tasks-panel<%end%>" id="project-tasks" style="overflow:auto;">

	<div style="margin-bottom: 15px">
		<%= link_to "+ New Task", new_worklist_item_path(:project_id => @project.id), :class=>"simple-btn new-task", remote: true %>
		<%= form_tag search_worklist_project_path(@project), :id => "task-search", :method => :post, :class=>"input-group", :remote => true do %>
			<%= text_field_tag :search, nil, :placeholder=>"Search tasks...", :class=>"form-control" %>
			<span class="input-group-addon" style="cursor: pointer;" id="remove"><span class="glyphicon glyphicon-remove"></span></span>
		<% end %>
	</div>
		
	<div  style="border:1px solid #ddd;">	
		<div id="task-table">
			<% if @tasks && @tasks.count > 0 %>
				<div class="header row">
					<!--<div class="col-xs-1">
						<% if @tasks && @tasks.count > 0 %>
							<button class="export" id="export-worklist-items">Export</button>
						<% end %>
					</div>-->
					<div class="col-xs-2"><h5>Photo</h5></div>
					<div class="col-xs-3"><h5>Name</h5></div>
					<div class="col-xs-3"><h5>Assignee</h5></div>
					<div class="col-xs-2"><h5>Completed</h5></div>
					<div class="col-xs-2"><h5>Created On</h5></div>
				</div>		
				
				<%= render partial: "projects/task", collection: @tasks, as: :task, cache: true %>
			
			<% else %>
				<div class="col-xs-12 loading"><h4 style="text-align:center;color:#aaa;font-family:'Helvetica',sans-serif;text-transform:none;font-style:italic;font-weight:100;margin:50px auto;">No tasks</h4></div>
			<% end %>
		</div>
	</div>
</div>
<div id="task-focus">
	<% if @task %>
		<%= render partial:"worklist_items/edit", locals:{task:@task} %>
	<% end %>
</div>

<script>
	<% if @task %>
		var offset = $('#task-<%=@task.id %>').offset().top-180;
		if (offset<=0){
			offset = 0;
		}
		$('#task-focus').css('top',offset);
		$("html, body").animate({ scrollTop: offset }, 120);
	<% end %>
	$('#top-nav a').removeClass('current-page');
	$('.nav-tasks a,#<%=@project.id%>-link').addClass('current-page');
	$('#remove').click(function(){
		$('#search').val('');
		$('#task-search').submit();
	});
	$('#export-tasks').click(function(){
		if (!$('#export-worklist-modal').length > 0){
			$('#project-worklist').before('<%= j render partial:"projects/worklist_export" %>');
		}

		var values = [];
		$('.worklist-item-checkbox input').each(function(i,obj){
			if (obj.checked) {
				values.push(obj.value);		
			}
		});
		$('body').append('<div class="modal-backdrop in"></div>');

		$('#export-worklist-modal form').append('<input type="hidden" id="items" name="items" value="'+values+'">');
		$('#export-worklist-modal').animate({"left":"25%",'opacity':'1'},300);
		$('#cancel-worklist-modal,.modal-backdrop.in').on('click',function(){
			$('#export-worklist-modal').animate({"left":"100%",'opacity':'0'},300);
			$('.modal-backdrop.in').fadeOut(300,function(){
				$(this).remove();
			});
		});
	});

</script>