<div class="border-box" style="padding:20px;">
	<header>
		<div style="margin-bottom: 15px">
			<%= form_tag search_worklist_project_path(@project), :id => "worklist-search", :method => :post, :class=>"input-group", :remote => true do %>
				<%= text_field_tag :search, nil, :placeholder=>"Search tasks...", :class=>"form-control" %>
				<span class="input-group-addon" style="cursor: pointer;" id="remove"><span class="glyphicon glyphicon-remove"></span></span>
			<% end %>
		</div>
		<div style="width:100%;text-align:center;">
			<%= link_to "Add a new worklist item", new_worklist_item_path(:project_id => @project.id), :class=>"simple-btn search-button", remote: true %>
		</div>
	</header>
	<div id="project-worklist">	
		<div id="worklist-table">
			<% if @items && @items.count > 0 %>
				<div class="row">
					<div class="col-xs-2">
						<% if @items && @items.count > 0 %>
							<button class="export" id="export-worklist-items">Export</button>
						<% end %>
					</div>
					<div class="col-xs-2"><h5>Photo</h5></div>
					<div class="col-xs-2"><h5>Name</h5></div>
					<div class="col-xs-2"><h5>Assignee</h5></div>
					<div class="col-xs-2"><h5>Completed</h5></div>
					<div class="col-xs-2"><h5>Created On</h5></div>
				</div>		
				
				<%= render partial: "projects/task", collection: @items, as: task, cache: true %>
			
			<% else %>
				<div class="col-xs-12 loading"><h4 style="text-align:center;color:#aaa;font-family:'Helvetica',sans-serif;text-transform:none;font-style:italic;font-weight:100;margin:50px auto;">No tasks</h4></div>
			<% end %>
		</div>
	</div>
</div>
<script>
	$('#remove').click(function(){
		$('#search').val('');
		$('#worklist-search').submit();
	});
	$('#export-worklist-items').click(function(){
		if (!$('#export-worklist-modal').length > 0){
			$('#project-worklist').before('<%= j render partial:"projects/worklist_export" %>');
		}

		var values = [];
		$('.worklist-item-checkbox input').each(function(i,obj){
			if (obj.checked) {
				values.push(obj.value);		
			}
		});
		$('body').append('<div class="modal-backdrop in"></div>');

		$('#export-worklist-modal form').append('<input type="hidden" id="items" name="items" value="'+values+'">');
		$('#export-worklist-modal').animate({"left":"25%",'opacity':'1'},300);
		$('#cancel-worklist-modal,.modal-backdrop.in').on('click',function(){
			$('#export-worklist-modal').animate({"left":"100%",'opacity':'0'},300);
			$('.modal-backdrop.in').fadeOut(300,function(){
				$(this).remove();
			});
		});
	});

</script>