<script>
	$('#nav-projects a').addClass('current-page');
</script>
	<div class="row row-offcanvas row-offcanvas-left">
		<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role ="navigation">
			<div class="well sidebar-nav projects">
				<div class="sidebarProjects">
					<% @projects.each do |project| %>
						<div><%= link_to project.name, project_path(project), :remote => true %></div>
					<% end %>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-9" id="main">
						<!-- Fixed navbar -->
			<div class="navbar">
				<div class="container">
					<ul class="nav navbar-nav">
						<li class="nav-dashboard active"><%= link_to "Dashboard", project_path(@project), :remote => true %></li>
						<% if @project.checklist %><li class="nav-checklists"><%= link_to "Checklist", checklist_project_path(@project), :remote => true %></li><% end %>
						<li class="nav-documents"><%= link_to "Documents", photos_project_path(@project), :remote => true %></a></li>
						<li class="nav-reports"><%= link_to "Reports", reports_project_path(@project), :remote => true %></li>
						<li class="nav-punchlists"><%= link_to "Punchlist", punchlists_project_path(@project), :remote => true %></li>
						<% if current_user.admin %> <li class="nav-edit"><%= link_to "Edit", edit_project_path(@project), :remote => true %></li> <% end %>
					</ul>
				</div>
			</div>

			<p class="pull-left visible-xs" style="margin-right: 10px;">
				<button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
			</p>
			<div id="pages">
				<%= render :partial => "checklist", :locals => {:checklist => @checklist} %>
			</div>