<div id="project-documents" class="border-box">
	<div>
		<h2 style="display:inline-block">Documents</h2>
		
		<ul id="filters">
			<li><%= link_to "All", documents_project_path(@project), :id => "all-photos-nav", :remote => true %></li>
			<li><%= link_to "Project Docs", document_photos_project_path(@project), :id => "document-photos-nav",:class => "current-page", :remote => true %></li>
			<li><%= link_to "Checklist", checklist_photos_project_path(@project), :id => "checklist-photos-nav", :remote => true %></li>
			<li><%= link_to "Worklist", worklist_photos_project_path(@project), :id => "worklist-photos-nav", :remote => true %></li>
			<li><%= link_to "Reports", report_photos_project_path(@project), :id => "report-photos-nav", :remote => true %></li>
		</ul>
	</div>
	<div id="photo-section">
		<div id="photo-table">
			<%= render :partial => "folders/folder", collection: @folders, as: :folder, cache: false %>
		</div>
		<div id="photo-focus">	
			<%= render :partial => "photos/large_image" %>
		</div>
	</div>
</div>


<script type="text/javascript">
	$('#main * .navbar-nav > li > a').removeClass('current-page');
	$('.nav-documents a').addClass('current-page');
	$(document).ready(function(){
		Shadowbox.clearCache();
	    Shadowbox.setup(".shadow-photo", {});
	});
</script>