<div id="<%= @project_group.id %>" class="project-group editing">
	<%= form_for @project_group, url: project_group_path(@project_group), method: :patch, remote: true do |f| %>
		<div class="col-xs-5">
			<%= f.submit "Save", :class =>"simple-btn" %>
			<i class="fa fa-remove remote" id="cancel-group"></i>
			<%= link_to project_group_path(project_group), :class=>"remote", method: :delete, remote: true, id:"delete-group", data: {confirm:"Are you sure you want to delete this project group? Projects will not be deleted."} do %>
				<i class="fa fa-trash-o remote"></i>
			<% end %>
		</div>
		<div class="col-xs-7">
			<%= f.text_field :name, id:'edit-group-name' %>
		</div>
	<% end %>
		
</div>