<div class="group" id="<%=project_group.id%>">
	<div class="group-header">
		<%= link_to edit_project_group_path(project_group), :class=>"remote", remote: true do %>
			<h5 class="group-name remote">
				<%= project_group.name %>
			</h5>

			<span class="projects-count remote">
				<% if project_group.projects.count == 1 %>
					(1 project)
				<% else %>
					(<%= project_group.projects.count %> projects)
				<% end %>
			</span>
			
		<% end %>
	</div>

	<% if project_group.projects.count > 0 %>	
		<% project_group.projects.each do |project| %>
			<li class="group project" id="project_<%= project.id %>" data-project="<%=project.id%>" data-group="<%=project.project_group_id%>">
				<%= link_to project_path(project),:id=>"#{project.id}-link",remote: true do %>
					<div class="inner-padding">
						<span class="project-name"><%= project.name %></span>
						<span class="percentage"><%= project.checklist ? project.checklist.progress_percentage : "0.0%" %></span>
						<div id="sidebar-progress-link-<%=project.id%>" class="sidebar-progress-link" ></div>
					</div>
				<% end %>
			</li>
		<% end %>
	<% else %>
		<li class="group unsortable">
			<span style="color: #aaa;padding-left: 10px;height: 47px; line-height: 47px; font-style:italic">&nbsp;</span>
		</li>
	<% end %>
</div>