<h1 style="text-align:center"><%= @report.report_type %> - <%= @report.created_date %></h1>
<h2 style="text-align:center"><%= @report.project.name %> </h2>

<div>
	<h3>Notes</h3>
	<p><%= @report.body %></p>
</div>

<div>
	<h3>Report Personnel</h3>
	<% if @report.personnel.count > 0 %>
	<ul>
		<% @report.personnel.each do |p| %>
			<% if p.user.present? %>
				<li><%= p.user.full_name %></li>
			<% elsif p.sub.present? %>
				<li><%= p.sub.name %>  &#8594;  <%= p.count%> on site</li>
			<% end %>
		<% end %>
	</ul>
	<% else %>
		<p style="text-align:center;font-style:italic;">No report personnel listed...</p> 
	<% end %>
</div>

<% if @report.photos && @report.photos.count > 0 %>
	<h3>Report Photos:</h3>
	<div>
		<% @report.photos.each do |p| %>
			<% if p.image_file_name %>
				<%= link_to report_url(@report, :host => "www.buildhawk.com"), :style=>"float:left;margin:10px;" do %>
					<%= image_tag(p.image.url(:small), :style => "width:100px;display:block;") %> 
					<div style="text-align:center"><%= p.created_date %></div>
				<% end %>
			<% end %>
		<% end %>
	</div>
<% end %>

<div style="clear:both;padding-top:10px;">
	<h3>Weather Details</h3>
	<p><%= @report.weather %></p>
</div>
<div>
	<h4>Temp:</h4> <%= @report.temp %>
</div>
<div>
	<h4>Wind:</h4> <%= @report.wind %>
</div>
<div>
	<h4>Humidity:</h4> <%= @report.humidity %>
</div>
<div>
	<h4>Precip:</h4> <%= @report.precip %>
</div>
