<div class="session-container">
	<div class="inner-container">
		<h2>Sign in</h2>

		<%= form_for(resource, :as => resource_name, :url => session_path(resource_name),:role=>"form", data: {'parsley-validate' => ''}) do |f| %>
		  
		  	<%= f.email_field :email, placeholder: "The email address you use for work", :autofocus => true, required: true %>
		 	<%= f.password_field :password, placeholder: "Password", :autocomplete => "off", required: true %>

		  	<% if devise_mapping.rememberable? -%>
		    	<div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
		  	<% end -%>

		  	<div class="button-container"><%= f.submit "Log in", :class => "simple-btn save" %></div>
		  	<%= render "devise/shared/links" %>
		<% end %>
	</div>
</div>
