<% if p.image_file_name %>
	<div class="image-block" id="photo-<%=p.id%>">
		<%= link_to image_tag(p.image.url(:small)), p.image.url(:original), :class => "shadow-photo remote", :rel => "shadowbox[Mixed]" %> 
			<%=  %> 
			<div class="label-container"><span class="label">Date:</span><%= p.created_date%></div>
			<div class="label-container">
				<% if p.source %>
					<span class="label">Source:</span>
					<% if p.source == "Documents" %>
						<%= link_to "Project Docs", document_photos_project_path(@project), :remote => true %>
					<% elsif p.source == "Checklist" %>
						<%= link_to "Checklist", checklist_photos_project_path(@project), :remote => true %>
					<% elsif p.source == "Worklist" %>
						<%= link_to "Worklist", worklist_photos_project_path(@project), :remote => true %>
					<% elsif p.source == "Reports" %>
						<%= link_to "Reports", report_photos_project_path(@project), :remote => true %>
					<% end %>
				<% end %>
			</div> 
			<div class="label-container">
				<% if p.user %>
					<% if p.source == "Documents"%>
						<span class="label">Uploaded:</span>
					<% else %>
						<span class="label">Taken by:</span>
					<% end %>
					<%= p.user.full_name%>
				<% else %>
					&nbsp;
				<% end %>
			</div>

			<% if current_user.admin || current_user.company_admin || p.user == current_user %>
				<%= link_to image_tag('blackX.png', :class => "remote"), photo_path(p), :method => :delete, :class=>"pull-right", :remote => true, :data => {:confirm => "Are you sure you want to delete this photo? This can't be undone."} %>
			<% end %>
	</div>
<% end %>
<script>
	Shadowbox.clearCache();
	Shadowbox.setup(".shadow-photo", {});
</script>