<% if p.image_file_name %>
	<div class="image-block" id="photo-<%=p.id%>">
		<%= link_to image_tag(p.image.url(:small)), p.image.url(:original), :class => "shadow-photo remote", :rel => "shadowbox[Mixed]" %> 
			<div class="label-container"><span class="label">Date:</span><%= p.created_date%></div>
			<div class="label-container">
				<% if p.source %>
					
					<% if p.source == "Documents" %>
						<span class="label">Source:</span>
						<%= link_to "Project Docs", document_photos_project_path(@project), :remote => true %>
					<% elsif p.source == "Checklist" %>
						<% if p.checklist_item %>
							<span class="label">Item:</span>
							<%= link_to p.checklist_item.abbreviated_body, checklist_item_path(p.checklist_item), :remote => true %>
						<% else %> 
							<span class="label">Source:</span>
							<%= link_to "Checklist", checklist_photos_project_path(@project), :remote => true %>
						<% end %>
					<% elsif p.source == "Tasklist" %>
						<% if p.task %>
							<span class="label">Item:</span>
							<%= link_to p.task.abbreviated_body, edit_task_path(p.task), :remote => true %>
						<% else %>
							<span class="label">Source:</span>
							<%= link_to "Tasklist", tasklist_photos_project_path(@project), :remote => true %>
						<% end %>
					<% elsif p.source == "Reports" %>
						<% if p.report %>
							<span class="label">Report:</span>
							<%= link_to "#{p.report.report_type} - #{p.report.date_string}", report_path(p.report), :remote => true %>
						<% else %>
							<span class="label">Source:</span>
							<%= link_to "Reports", report_photos_project_path(@project), :remote => true %>
						<% end %>
					<% end %>
				<% end %>
			</div> 
			<div class="label-container">
				<% if p.user %>
					<% if p.source == "Documents"%>
						<span class="label">Uploaded:</span>
					<% else %>
						<span class="label">Taken by:</span>
					<% end %>
					<%= p.user.full_name%>
				<% else %>
					&nbsp;
				<% end %>
			</div>

			<% if current_user.admin || current_user.company_admin || p.user == current_user %>
				<%= link_to image_tag('trashButton.png', :class => "remote delete-img"), photo_path(p), :method => :delete, :class=>"pull-right", :remote => true, :data => {:confirm => "Are you sure you want to delete this photo? This can't be undone."} %>
			<% end %>
	</div>
<% end %>
<script>
	Shadowbox.clearCache();
	Shadowbox.setup(".shadow-photo", {});
</script>