<% unless @p && !p %>
	<% @p = p %>
<% end %>
<% if @p && @p.image_file_name %>
	<div class="image-block large" id="photo-<%=@p.id%>">
		<%= link_to image_tag(@p.image.url(:large)), @p.image.url(:original), :class => "shadow-photo remote", :rel => "shadowbox[Mixed]" %> 
		
		<div class="image-details">
			<%= form_for @p, :method => :patch, :remote => true do |f| %>
			
				<div class="row">
					<span class="label col-xs-2">Date:</span>
					<span class="col-xs-10"><%= @p.created_date %></span>
				</div>
				<% if @p.user %>
					<div class="row">
						<span class="label col-xs-2">Uploaded by:</span>
						<span class="col-xs-10"><%= @p.user.full_name %><span>
					</div>
				<% end %>
				<div class="row">	
					<span class="label col-xs-2">Source:</span>
					<span class="col-xs-10"><%= f.text_field :source, :style=>"" %></span>
				</div> 
			
				<div class="row">
					<span class="label col-xs-2">Name:</span>	
					<span class="col-xs-10"><%= f.text_field :name, :style=>"display:inline-block" %></span>
				</div>
				<div class="row">
					<span class="label col-xs-2">Description:</span>
					<span class="col-xs-10"><%= f.text_area :description, :style=>"width:80%; display:inline-block" %></span>
				</div>
				<div style="text-align:center;">
					<span class="col-xs-12">
						<%= f.submit :save, :class => "btn btn-md btn-success", :style => "display:none;margin-top:5px;width:120px;" %>
					</span>
				</div>
			<% end %>
		</div>
		
		<% if current_user.admin || current_user.company_admin || @p.user == current_user %>
			<button class="btn btn-danger btn-md pull-right"><%= link_to 'Delete Photo', photo_path(@p), :method => :delete, :class=>"delete-link", :remote => true, :data => {:confirm => "Are you sure you want to delete this photo? This can't be undone."} %></button>
		<% end %>
		
	</div>
<% else %>
	<div class="no-image-placeholder">No Document</div>
<% end %>
<script>
	Shadowbox.clearCache();
	Shadowbox.setup(".shadow-photo", {});
	$("#photo_name,#photo_description").focus(function(){
		$('#click-to-edit').fadeOut(170,function(){
			$(this).text('(enter/return to save)');
			$(this).fadeIn(170);
		});
		$('.edit_photo input[type="submit"]').fadeIn(200);
	});
	$("#photo_name,#photo_description").focusout(function(){
		$('#click-to-edit').fadeOut(170,function(){
			$(this).text('(click name to edit)');
			$(this).fadeIn(170);
		});
		$('.edit_photo input[type="submit"]').fadeOut(200);
	});
</script>