<% unless @p && !p %>
	<% @p = p %>
<% end %>
<% if @p && @p.image_file_name %>
	<div class="image-block large" id="photo-<%=@p.id%>">
		<%= link_to image_tag(@p.image.url(:large)), @p.image.url(:original), :class => "shadow-photo remote", :rel => "shadowbox[Mixed]" %> 
		
		<%= form_for @p, :method => :patch, :remote => true do |f| %>
			<table class="image-details">
				<tr>
					<td><h5>Date</h5></td>
					<td><%= @p.created_date %></td>
				</tr>
				<% if @p.user %>
					<tr>
						<td><h5>Uploaded by</h5></td>
						<td><%= @p.user.full_name %><td>
					</tr>
				<% end %>
				<tr>
					<td><h5>Source</h5></h5></td>
					<td><%= f.text_field :source %></td>
				</tr> 
			
				<tr>
					<td><h5>Name</h5></td>	
					<td><%= f.text_field :name %></td>
				</tr>
				<tr>
					<td><h5>Description</h5></td>
					<td><%= f.text_area :description %></td>
				</tr>
				<tr>
					<td colspan="2" style="text-align: center">
						<%= f.submit :save, :class => "simple-btn", :style => "margin-top:10px;width:120px;" %>
					</td>
				</tr>
			</table>
		<% end %>
		<% if current_user.admin || current_user.company_admin || @p.user == current_user %>
			<%= link_to image_tag('trashButton.png',:class=> "remote delete-img"), photo_path(@p), :method => :delete, :class=>"delete-link", :remote => true, :data => {:confirm => "Are you sure you want to delete this photo? This can't be undone."} %>
		<% end %>
		
	</div>
<% else %>
	<div class="no-image-placeholder">No Document</div>
<% end %>
<script>
	Shadowbox.clearCache();
	Shadowbox.setup(".shadow-photo", {});
	$("#photo_name,#photo_description").focus(function(){
		$('#click-to-edit').fadeOut(170,function(){
			$(this).text('(enter/return to save)');
			$(this).fadeIn(170);
		});
	});
	$("#photo_name,#photo_description").focusout(function(){
		$('#click-to-edit').fadeOut(170,function(){
			$(this).text('(click name to edit)');
			$(this).fadeIn(170);
		});
	});
</script>