<% if @photos && @photos.count > 0 %>
	<ul>
		<% @photos.sort_by(&:name).each do |p| %>
			<li class="photo-name" id="p-<%= p.id %>">
				<%= link_to show_photo_project_path(@project,:photo_id => p.id), :class=>"remote", :remote => true do %>
					<%= p.name %><span class="photo-timestamp"><%= parse_datetime p.created_at %></span>
				<% end %>
			</li>
		<% end %>
	</ul>
<% else %>
	<div style="text-align:center;margin:5% auto;color:#aaa; font-size:1.1em;font-family:'Montserrat','Helvetica',sans-serif;font-style:italic;"><%= @prompt %></div>
<% end %>