
<div id="billing">
	<div id="edit-billing-container" class="border-box">
		<div id="dismiss-card-container">
			<%= link_to billing_index_path, remote: true do %>
				<i class="fa fa-remove"></i>
			<% end %>
		</div>
		<h2 style="text-align:center;">Add New Card</h2>
		<%= form_tag billing_index_path, method: :post, :id=>"payment-form", data: {'parsley-validate' => ''}, remote:true do %>
			<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
		  	<div class="payment-errors"></div>

		  	<section id="card-info">
				<div class="row">
			    	<div class="col-xs-4">
			      		<span>Card Number</span>
			      	</div>
			      	<div class="col-xs-8">
			     		<input type="text" size="20" data-stripe="number" class="cc-number card-info" required="true"/>
			     	</div>
			     </div>
		     	<div class="row">
		     		<div class="col-xs-4">
			    		<span>CVC</span>
			    	</div>
			    	<div class="col-xs-8">
			      		<input type="text" size="4" data-stripe="cvc" class="cc-cvc" placeholder="123" required="true"/>
			    	</div>
			 	</div>

			  	<div class="row">
			    	<div class="col-xs-4">
			      		<span>Expiration (MM/YYYY)</span>
			      	</div>
			      	<div class="col-xs-8">
			      		<input type="text" size="8" class="cc-expiry" placeholder="MM/YYYY" required="true"/>
			    	</div>
			  	</div>
			  	<div class="row">
			    	<div class="col-xs-4">
			      		<span>Primary?</span>
			      	</div>
			      	<div class="col-xs-8">
			      		<%= check_box_tag :active %>
			    	</div>
			  	</div>
		  	</section>
		  
		  	<div class="button-container">
		  		<%=submit_tag "Create", :class=>"simple-btn save" %>
		  	</div>

		<% end %>
	</div>
</div>
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
	stripe('<%= Rails.configuration.stripe[:publishable_key] %>');
	setupBilling();
</script>
