<div class="border-box">
	<div class="category-form container">
		<div class="row">
			<span class="col-xs-5 header-description"><h2><%= @category.name %></h2></span>
		</div>
		<%= nested_form_for @category, :url => update_category_checklist_path(@category.checklist, :category_id => @category.id), :remote => true, :method => :patch do |f| %>
			<div class="row">
				<h4>Phase Name:</h4>
			</div>
			<div class="row">
				<%= f.text_field :name %>
			</div>
			<% if @project %>
				<div class="row">
					<h4>Milestone Date:</h4>
				</div>
				<div class="input-append date row" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
					<%= f.text_field :milestone_date, :value => parse_date(f.object.milestone_date), :placeholder => Time.now.strftime("%m/%d/%Y"), :class =>"date-input", :id => "dp" %>
					<div id="clear-critical-date"> Clear Date</div>
				</div>
			<% end %>

			<div><button class="btn btn-success btn-md pull-right"><%= f.submit "Update", :class => "no-link" %></button></div>
			<div style="clear:both;">
				<%= link_to "Delete", destroy_category_checklist_path(@category.checklist, :category_id => @category), :method => :delete, :data => {:confirm => "Are you sure you want to delete this phase?"}, :class=>"btn btn-danger btn-md pull-right delete-link", :remote => true %>
			</div>
		<% end %>
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function(){
		$("#dp").datepicker();
		$('#clear-critical-date').on('click',function(){
			$('#dp').val('');
		});
	});
</script>