<div class="checklist-item-form border-box">

	<%= nested_form_for @category, :url => create_category_checklist_path(@checklist), :remote => true, :method => :post do |f| %>
		<%= f.hidden_field :checklist_id, :value => @checklist.id %>
		<table style="margin: 0 auto; width:100%;display:block;">
			<tbody>
				<tr>
					<td>
						<%= f.text_field :name, :placeholder => "Name the new phase" %>
					</td>
				</tr>
				<tr><td><%= f.label "Item Type", :style => "margin-top:20px;" %></td></tr>
				<tr>
					<td>
						<button class="btn btn-success btn-md pull-right" style="clear:both;"><%= f.submit "Add", :class => "no-link" %></button>
					</td>
				</tr>
			</tbody>
		</table>
	<% end %>
</div>
