<div class="category-form">
	<div class="row">
		<span class="col-md-5 header-description"><h2><%= @subcategory.name %></h2></span>
	</div>
	<%= nested_form_for @subcategory, :url => update_subcategory_checklist_path(@subcategory.category.checklist, :subcategory_id => @subcategory.id), :remote => true, :method => :patch do |f| %>
		<table style="margin: 0 auto; width:100%;">
			</tbody>
				<tr><td>
					<h4>Category Name:</h4>
					<%= f.text_field :name %>
				</td></tr>
				<tr><td>
					<h4>Milestone Date:</h4>
					<div class="input-append date" data-date="12-02-2012" data-date-format="dd-mm-yyyy">

						<%= f.text_field :milestone_date, :value => parse_date(f.object.milestone_date), :placeholder => Time.now.strftime("%m/%d/%Y"), :class =>"date-input", :id => "dp" %>
						<span class="add-on"><i class="icon-th"></i></span>
				
					</div>
				</td></tr>

				<tr><td><button class="btn btn-success btn-lg pull-right"><%= f.submit "Update", :class => "no-link" %></button></td></tr>
			</tbody>
		</table>
	<% end %>
</div>
<script type="text/javascript">
	$(document).ready(function(){
		$("#dp").datepicker();
	});
</script>