<%= nested_form_for @item, :url => punchlist_items_path, :html => {:multipart => true}, :remote => true, :class=>"remote", :method => :post do |f| %>
	<%= f.hidden_field :user_id, :value => current_user.id %>
	<%= hidden_field_tag :project_id, @project.id %>
	<%= hidden_field_tag :authenticity_token, form_authenticity_token %> 
	<div class="border-box" style="overflow:auto;">
		<div id="punchlist-item-container">
			<h3>New Worklist Item</h3>
			<div class="row">
				<div class="col-xs-2"><h4>Item:</h4></div><div class="col-xs-10"><%= f.text_field :body, :placeholder => "Describe the worklist item" %></div>
			</div>
			<div class="row">
				<div class="col-xs-2"><h4>Location:</h4></div><div class="col-xs-10"><%= f.text_field :location, :placeholder => "Add a location (optional)" %></div>
			</div>
			<%= f.fields_for :assignee do |a| %>
				<h4 style="display:inline-block;width:16.666666664%;">Assignee:</h4>
				<%= a.select :full_name, @users.map(&:full_name)+@subs.map(&:name).unshift("No Assignment"), {:include_blank => false}, :class=>"assignee-select", :style => "text-align:center;display:inline-block;font-size:1.2em;" %>
			<% end %>
			<div>
				<h4>Add a photo</h4>
				<%= f.fields_for :photos do |photo| %>
					<%= photo.file_field :image %>
					<%= photo.hidden_field :project_id, :value => @project.id %>
					<%= photo.hidden_field :user_id, :value => current_user.id %>
					<%= photo.hidden_field :source, :value => "Worklist" %>
				<% end %>
			</div>
			<div class="button-container">
				<%= f.submit "Add", :class=>"btn btn-success btn-md save" %>
			</div>
			
		</div>
	</div>
<% end %>