<%= nested_form_for @item, :url => {:controller => :checklist_items, :action => :update, :id => @item.id, :multipart => true}, :remote => true, :method => :post do |f| %>
	<div class="item-editor" class="border-box;" style="overflow:auto;">
		<div class="row">
			<h4>Phase:</h4><%= @item.category_name %>
		</div>
		<div class="row">
			<h4>Category:</h4><%= @item.subcategory_name %>
		</div>
		<div class="row">
			<h4>Type:</h4>"<%= @item.item_type %>"
		</div>
		<div class="row">
			<h4>Item:</h4><%= f.text_area :body, :style => "width:100%;margin-bottom:14px;" %>
		</div>
		<%= f.submit "Update", :class => "btn btn-success btn-md pull-right" %>

<% end %>
	<%= link_to 'Delete', checklist_item_path(item), :data => {:confirm => "Are you sure you want to delete this checklist item?"}, method: :delete, :class=>"btn btn-md btn-danger remote pull-right", :style => "clear:both", remote: true %>
	</div>