<h3> Editing </h3>

<%= nested_form_for @item, :url => {:controller => :checklist_items, :action => :update, :id => @item.id, :multipart => true}, :remote => true, :method => :post do |f| %>
	<div class="item-editor" class="border-box;">
		<div class="row">
			<h4>Phase:</h4><%= @item.category_name %>
		</div>
		<div class="row">
			<h4>Category:</h4><%= @item.subcategory_name %>
		</div>
		<div class="row">
			<h4>Item text:</h4><%= f.text_area :body, :style => "width:100%;margin-bottom:14px;" %>
		</div>
		<button class="btn btn-success btn-md pull-right" style="margin: 0 auto;"><%= f.submit "Update" %></button>
	</div>
<% end %>