<%= nested_form_for @checklist_item, remote: true, :method => :post do |f| %>
	<%= f.hidden_field :subcategory_id, :value => @subcategory.id %>
	<%= f.hidden_field :checklist_id, :value => @checklist.id %>

	<div class="row">
		<div class="col-md-10"><%= f.text_area :body, :placeholder => "Describe the new checklist item" %></div>
		<div class="col-md-1"><%= f.label "Item Type" %><%= f.select :item_type, @checklist_item.types %></div>
		<button class="btn btn-success btn-md pull-right col-md-1"><%= f.submit "ADD", :class => "no-link", :style=>"margin:0 auto;" %></button>
	</div>

<% end %>