
<% if item.category.phase.checklist.project %>
	<% if item.state == 1 %>
		<li class="row checklist-item completed" id="item-<%=item.id%>">
	<% elsif item.state == -1 %>
		<li class="row checklist-item not-applicable" id="item-<%=item.id%>">
	<% else %>
		<li class="row checklist-item" id="item-<%=item.id%>">
	<% end %>
<% else %>
	<li class="row checklist-item" id="item-<%=item.id%>">
<% end %>

<% if item.category.phase.checklist.project %>
	<div class="col-md-8 checklist-body">
<% else %>
	<div class="col-xs-10 checklist-body">
<% end %>
		<% if current_user.any_admin? || item.user == current_user %>
			<%= link_to edit_checklist_item_path(item), :class => "left-edit-checklist", remote: true do %>
				<i class="fa fa-cog remote"></i>
			<% end %>
		<% end %>
		<%= link_to item.body, checklist_item_path(item), :class=>"checklist-item-link", remote: true %>
	</div>

<% if item.category.phase.checklist.project %>
	<div class="col-md-2" style="text-align: center;">
		<% if item.critical_date %>
			<%= parse_date item.critical_date %>
		<% else %>
			&nbsp;
		<% end %>
	</div>
	<div class="col-md-2" style="text-align: center;">
		<% if item.completed_date %>
			<%= parse_date item.completed_date %>
		<% else %>
			&nbsp;
		<% end %>
	</div>
<% else %>
	<div class="col-xs-1" style="text-align: center;">
		<%= link_to checklist_item_path(item), method: :delete, data: {:confirm => "Are you sure you want to delete this checklist item?"}, :class => "simple-btn", :class=>"", style:"font-size:1.5em;", remote: true do %>
			<i class="fa fa-trash-o remote"></i>
		<% end %>
	</div>
<% end %>
</li>