<div class="border-box" id="item-container">
	<%= nested_form_for item, html:{multipart: true}, remote: true, method: :patch do |f| %>
		<div class="action-buttons">
			<div style="display:table-row">
				<div id="floating-save" title="Save" class="action remote" type="submit">
					<i class="fa fa-floppy-o remote"></i>
				</div>
				<div id="export-checklist-item" title="Export" class="action">
					<i class="fa fa-share"></i>
				</div>
				<% if current_user.admin || current_user.company_admin %>
					<%= link_to checklist_items_path(item), title: "Delete", data: {confirm: "Are you sure you want to delete this item?"}, method: :delete, :class=>"remote action", remote: true do %>
						<i class="fa fa-trash-o remote"></i>
					<% end %>	
				<% end %>
				
				<div title="Dismiss" class="dismiss action">
					<i class="fa fa-remove dismiss-checklist" id="dismiss-item"></i>
				</div>
			</div>
		</div>

		<div class="item-editor" class="border-box;">
			<div class="row">
				<h5>Phase:</h5><%= item.category.phase.name %>
			</div>
			<div class="row">
				<h5>Category:</h5><%= item.category.name %>
			</div>
			<div class="row">
				<h5>Type:</h5><%= item.item_type %>
			</div>
			
			<div class="row status-section">
                <div class="col-xs-12 center">
                    <h5 class="display: block;">Item Status</h5>
                    <%= f.select :state, options_for_select({"In-Progress"=>0,"Completed"=>1,"Not Applicable"=>-1}, selected: item.state), {include_blank: "No Status"}, multiple: true, :class=>"center" %> 
                    <span class="placeholder">&#8984; / Ctrl click to deselect <span>
                </div>
            </div>
        </div>

        <% if item.photos && item.photos.count > 0 %>
            <div class="col-xs-12" style="padding:30px 0;padding-top:60px;clear:both;">
                <% item.photos.each do |p| %>
                    <% if p.image_file_name%>
                   		<%= render :partial => "photos/image", locals: {p: p} %>
                    <% end %>
                <% end %>
            </div>
        <% end %>

        <div class="col-xs-12" style="text-align:center;padding:20px;clear:both;"><h4>Add a photo</h4>
            <%= f.fields_for :photos, item.photos.build do |photo| %>
                <%= photo.file_field :image, style: "margin:0 auto;" %>
                <%= photo.hidden_field :user_id, value: current_user.id %>
                <%= photo.hidden_field :project_id, value: item.category.phase.checklist.project.id %>
                <%= photo.hidden_field :name, value: "Checklist Photo" %>
                <%= photo.hidden_field :phase, value: item.category.phase.name if item.category.phase %>
                <%= photo.hidden_field :checklist_item_id, value: item.id %>
                <%= photo.hidden_field :source, value: "Checklist" %>
            <% end %>
        </div>
	<!--END FORM-->
	<% end %>                               
</div>          
        
<section class="comment-container border-box">
    <h4 class="center">Comments</h4>
    <div id="comments-form">
        <%= form_for item.comments.new, method: :post, remote: true do |f| %>
            <%= f.text_area :body, rows: "3", placeholder: "Type your notes/comment here" %>
            <%= f.hidden_field :user_id, value: current_user.id %>
            <%= f.hidden_field :checklist_item_id, value: item.id %>
            <%= button_tag(type: 'submit', :class=> "simple-btn full-width", style:"margin:14px auto;", remote: true) do %>
		    	<i class="fa fa-paper-plane remote"></i> Add			  	
		    <% end %>
        <% end %>
    </div>
    <%= render partial: "comments/comments", locals: {comments: item.comments} %>
</section>

<% if item.activities.count > 0 %>
	<section class="activity-container border-box" style="display:table;width:100%;margin-top:20px;">
	    <h4 class="center">Activity</h4>
	    <%= render :partial => "activities/activity", collection: item.activities, as: :activity, cache: true %>
	</section>
<% end %>
 

<script type="text/javascript">
     checklistItem("<%= j render partial:'projects/checklist_item_export', locals: {item: item} %>",'<%=@project.to_param%>');
</script>