<%= nested_form_for @category, remote: true, method: :post do |f| %>
	<%= f.hidden_field :phase_id, value: @phase.id %>
	<i class="fa fa-remove remote" title="Dismiss" id="dismiss-new-category"></i>
	<%= f.label "New Category" %>
	<div class="new-category row">	
		<div class="col-xs-10"><%= f.text_field :name, placeholder: "Name the new category..." %></div>
		<div class="col-xs-2 center"><%= f.submit "Add", :class => "simple-btn" %></div>
	</div>
<% end %>