<li class="category" id="category-<%=category.id%>">
	<div class="header row">
	<% if category.phase.checklist.project %>
		<div class="col-xs-8">
	<% else %>
		<div class="col-xs-12 editable">
	<% end %>
			<h5 class="title" id="<%= category.id %>"><%= category.name %></h5>
			<span class="completed-count">
				<%= render partial:"checklists/completed_count", :locals => {:category => category} %>
			</span>
			<% if current_user.any_admin? %>
				<%= link_to edit_category_path(category), :class=>"edit-category", remote: true do %>
					<i class="fa fa-cog remote"></i>
				<% end %>
			<% end %>
		</div>
	<% if category.phase.checklist.project %>
		<div class="col-xs-2 category-label">
			<%= parse_date(category.milestone_date) %>
		</div>
		<div class="col-xs-2 category-label">
			<%= parse_date(category.completed_date) %>
		</div>
	<% end %>
	</div>

	<div class="items-container collapsed" id="category-<%=category.id%>-container">
		<ul class="category-items" id="items-<%=category.id%>">
			<%= render partial:"checklist_items/show", collection: category.checklist_items, as: :item, cache: true %>
		</ul>
		<%= link_to new_checklist_item_path(category_id: category.id), id:"new-item-#{category.id}", :class=>"new-checklist-item empty-btn", remote: true do %>
			<i class="fa fa-plus remote"></i><span style="padding-left:10px;">Item</span>
		<% end %>
	</div>
</li>
<script>
	itemSort('<%= category.id %>');
</script>