<div class="activity row" id="activity-<%=activity.id%>">
	<% if activity.activity_type == "Comment" %>
		"<%= activity.body %>" - <%= activity.user.full_name %>
	<% else %>
		<%= activity.body %>
	<% end %>
	<div class="timestamp"><%= parse_datetime activity.created_at %></div>
</div>