<div id="phase-container" class="border-box">
	<%= form_for phase, method: :patch, remote: true do |f| %>
		<h4>Editing <%= phase.name %></h4>
		<div class="action-buttons">
			<div style="display:table-row">
				<div id="floating-save" title="Save" class="action remote" type="submit">
					<i class="fa fa-floppy-o remote"></i>
				</div>
				<% if current_user.admin || current_user.company_admin %>
					<%= link_to phase_path(phase), title:"Delete", data: {:confirm => "Are you sure you want to delete \"#{phase.name}\"? This cannot be undone."}, method: :delete, :class=>"remote action", remote: true do %>
						<i class="fa fa-trash-o remote"></i>
					<% end %>	
				<% end %>
				
				<div id="dismiss-phase" title="Dismiss" class="dismiss action">
					<i class="fa fa-remove" id="dismiss-phase"></i>
				</div>
			</div>
		</div>
	
		<div>
			<%= f.label "Phase name", :class=>"no-bottom" %>
			<%= f.text_field :name, placeholer:"Phase name", :class=>"full-width", autofocus: true %>
		</div>
		<div class="btn-container center no-bottom">
			<%= f.submit "Update", :class=>"simple-btn full-width remote" %>
		</div>
	<% end %>
</div>
<script>
phase('<%= phase.checklist.project.to_param %>');
</script>