<div id="phase-container" class="border-box">
	<%= form_for phase, method: :patch, remote: true do |f| %>
		<h3>Editing</h3>
		<div class="action-buttons">
			<div style="display:table-row">
				<div id="floating-save" class="action remote" type="submit">
					<i class="fa fa-floppy-o remote"></i>
				</div>
				<div id="export-checklist-item" class="action">
					<i class="fa fa-share"></i>
				</div>
				<% if current_user.admin || current_user.company_admin %>
					<%= link_to phase_path(phase), :data => {:confirm => "Are you sure you want to delete \"#{phase.name}\"? This cannot be undone."}, method: :delete, :class=>"remote action", remote: true do %>
						<i class="fa fa-trash-o remote"></i>
					<% end %>	
				<% end %>
				
				<div id="dismiss-phase" class="dismiss action">
					<i class="fa fa-remove" id="dismiss-phase"></i>
				</div>
			</div>
		</div>
	
		<div class="">
			<%= f.label "Phase name", style:"margin-bottom:0;" %>
			<h5><%= f.text_field :name, placeholer:"Phase name", :style=>"width:100%;", autofocus: true %></h5>
		</div>
	<% end %>
</div>
<script>
phase('<%= phase.checklist.project.to_param %>');
</script>