
//$('.active-item').removeClass('active-item');
//$('#phase-<%=@phase.id %>').addClass('active-item');
$("#admin-checklist").addClass('checklist-panel');
$('#checklist-focus').html('<%= j render partial:"phases/edit", locals: {phase: @phase} %>');
$('#checklist-focus').css('left','54%');
//$("html, body").delay(200).animate({ scrollTop: $("#phase-<%=@phase.id %>").offset().top-130 }, 200);
//$('#wrap').css('height',height);
//var disclosure = $('#phase-<%=@phase.id%> .title .disclosure')[0];

/*$('#phase-<%=@phase.id%> .phase.editable').fadeOut(200,function(){
	$(this).html('<%= j render partial:"phases/edit", locals: {:phase => @phase} %>');
	$(this).fadeIn(200);
	$('#cancel-edit-phase').on('click',function(){
		$(this).parent().fadeOut(200,function(){
			$(this).html('<h2 class="title remote"><%= link_to load_items_checklist_path(@phase), :id => "p-#{@phase.id}", :class=>"phase-link remote", remote: true do %><span class="name"><%=@phase.name%></span><% end %></h2><%= link_to "Edit Phase", edit_phase_path(@phase), :class => "edit-phase remote", remote: true %>');
			$(this).find('.name').before(disclosure);
			$(this).fadeIn(200);
		});
	});
});*/
