
<%= nested_form_for report, url: report_path(report, project_id: report.project.id), multipart: true, remote: true, method: :patch do |f| %>
	<%= hidden_field_tag :authenticity_token, form_authenticity_token %>	
	<div id="edit-report">
		<div class="border-box">
			<div class="action-buttons">
				<div style="display:table-row">
					<div id="report-save" class="action">
						<i class="fa fa-floppy-o remote"></i>
					</div>
					<div id="export-report" class="action">
						<%= link_to generate_report_path(report), remote: true do %>
							<i class="fa fa-share"></i>
						<% end %>
					</div>
					<% if current_user.any_admin? || report.author == current_user %>
						<%= link_to report_path(report, :project_id => project.id), :method => :delete, :data => {:confirm => "Are you sure you want to delete this report? This can't be undone."}, :class=>"action", remote: true do %>
							<i class="fa fa-trash-o remote"></i>
						<% end %>
					<% end %>
					<div id="dismiss-report" class="action dismiss"><i class="fa fa-remove"></i></div>
				</div>
			</div>

			<div class="thin-form">
				<div class="row form-title" style="border:0;margin-top:0;padding-top:0">
					
					<div class="input-append date col-md-6" data-date-format="dd-mm-yyyy">
						<h5>Date</h5>
						<%= f.text_field :date_string, :value => report.date_string, :placeholder => Time.now.strftime("%m/%d/%Y"), :class =>"date-input", :id => "dp" %>
					</div>

					<div class="col-md-6">
						<h5 style="display:inline-block;">Type</h5>
					</div>
					
					<%= select_tag :report_type, options_for_select(report.possible_types, :selected => report.report_type), :id=>"type-select", :style=>"width:50%;" %>
				</div>
					
				<div class="row form-title">
					<div class="col-md-12"><h5>General Remarks</h5></div>
				</div>
				<div class="row">
					<div class="col-md-12"><%= f.text_area :body, :rows => 5, :placeholder => "General remarks" %></div>
				</div>

				<% if report.report_type == "Safety" %>
					<div class="row form-title">
						<div class="col-md-12"><h5>Safety Topics Covered</h5></div>
					</div>
					<% if report.report_topics.count > 0 %>
						<% report.report_topics.each do |rt| %>
							<div class="row">
								<div class="col-md-12">
									<div id="report-topic-<%= rt.id %>" class="report-topic">
										<div class='title'><%= rt.safety_topic.title %></div>
										<div class='info'><%= rt.safety_topic.info.html_safe if rt.safety_topic.info && rt.safety_topic.info.length > 0 %></div>
									</div>
								</div>
							</div>
						<% end %>
					<% else %>
						<div class="row">
							<div class="col-md-12"><div class="font-smoothing" style="color:#aaa;font-style:italic;font-weight:200">N/A</div></div>
						</div>
					<% end %>
					<div class="row">
						<%= f.collection_select :safety_topics, report.project.company.safety_topics, :id, :title, {selected: report.safety_topics.map(&:id)}, {multiple:true, :class => "for-select-2", id:"topic-select", include_blank: false, include_empty: false} %>
					</div>
				<% else %>
					<div class="row form-title">
						<div class="col-md-12"><h5>Weather</h5></div>
					</div>
					<div class="row">
						<div class="col-md-12"><%= f.text_area :weather, :rows => 2, value: report.weather && report.weather.length > 0 ? report.weather : @summary, placeholder: "Weather report" %></div>
					</div>
					
					<div class="row weather-titles">
						<div class="col-md-3"><h5>Temp</h5></div>
						<div class="col-md-3"><h5>Wind</h5></div>
						<div class="col-md-3"><h5>Precip</h5></div>
						<div class="col-md-3"><h5>Humidity</h5></div>
					</div>
					<div class="row weather-fields">
						<div class="col-md-3"><%= f.text_field :temp, value: report.temp && report.temp.length > 0 ? report.temp : "#{@temp_min.round(1)}&deg; - #{@temp_max.round(1)}&deg;".html_safe, :placeholder => "N/A" %></div>
						<div class="col-md-3"><%= f.text_field :wind, value: report.wind && report.wind.length > 0 ? report.wind : "#{@wind_speed} #{wind_bearing(@bearing)}", placeholder: "N/A" %></div>
						<div class="col-md-3"><%= f.text_field :precip, value: report.precip && report.precip.length > 0 ? report.precip : @precip, placeholder: "N/A" %></div>
						<div class="col-md-3"><%= f.text_field :humidity, value: report.humidity && report.humidity.length > 0 ? report.humidity : @humidity, placeholder: "N/A" %></div>
					</div>
				<% end %>

				<div class="row form-title">
					<div class="col-md-6"><h5><%=current_user.company.name%> (# hours)</h5></div>
					<div class="col-md-6"><h5>Personnel onsite</h5></div>
				</div>

				<div class="row">
					<div class="user-container col-md-6">
						<%= select_tag :users, options_for_select(project_users.map{|pu| [pu.user.full_name, pu.user.id]}.unshift("")), :id=>"users-select", style:"padding-bottom:5px;" %>

						<% unless report.new_record? %>
							<% report.report_users.each do |report_user| %>
								<%= render partial:"reports/user", locals:{report: report, report_user: report_user} %>
							<% end %>
						<% end %>
					</div>
					<div class="sub-container col-md-6">
						<%= select_tag :subs, options_for_select(@subs.map{|s| [s.name, s.id]}.unshift("")), :id=>"subs-select", style:"padding-bottom:5px;" %>

						<% unless report.new_record? %>
							<% report.report_companies.each do |rc| %>
								<%= render partial:"reports/company", locals:{report: report, report_company: rc} %>
							<% end %>
						<% end %>
						
					</div>
				</div>
			</div>

			<% if report.photos && report.photos.count > 0 %>
				<div class="row" style="margin-top:20px;">
					<% report.photos.each do |p| %>
						<% if p.image_file_name%>
							<%= render :partial => "photos/image", :locals => {:p => p} %> 
						<% end %>
					<% end %>
				</div>
			<% end %>

			<div class="thin-form report-photos">	
				<div class="row form-title">
					<div class="col-md-12"><h5>Add a photo</h5></div>
				</div>
		
				<div class="row">
					<div class="col-md-12">
						<%= f.fields_for :photos, report.photos.build do |photo| %>
							<%= photo.file_field :image %>
							<%= photo.hidden_field :report_id, :value => report.id %>
							<%= photo.hidden_field :project_id, :value => project.id %>
							<%= photo.hidden_field :source, :value => "Reports" %>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	<% end %>
	
	<div class="comment-container border-box">
		<h4 style="text-align:center; margin:5px auto 15px; display:block;">Comments for <%= "#{report.report_type} Report - #{report.created_date}"%></h4>
		<div id="comments-form">
			<%= form_for report.comments.new, :method => :post, :remote => true do |f| %>
				<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
				<%= f.text_area :body, :rows => "3", :placeholder => "Type your notes/comment here" %>
				<%= f.hidden_field :user_id, :value => current_user.id %>
				<%= f.hidden_field :report_id, :value => report.id %>
				<%= f.submit "Add Comment", :class => "simple-btn pull-right", :style => "margin-top:14px;" %>
			<% end %>
		</div>
		<%= render :partial => "comments/comments", :locals => {:comments => report.comments} %>
	</div>

	<% if report.report_type == "Daily" && report.daily_activities.count > 0 %>
		<div class="activity-container border-box">
			<h4 style="text-align:center; margin:5px auto 15px; display:block;"><%= report.project.name %> Activity for <%= report.date_string %></h4>
			<%= render :partial => "activities/activity", collection: report.daily_activities, as: :activity, cache:true %>
		</div>
	<% elsif report.activities.count > 0 %>
		<div class="activity-container border-box">
			<h4 style="text-align:center; margin:5px auto 15px; display:block;">Activity</h4>
			<%= render :partial => "activities/activity", collection: report.activities, as: :activity, cache:true %>
		</div>
	<% end %>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		$("#dp").datepicker();
		$('#dp').datepicker().on('changeDate', function(){
		    $('#dp').datepicker('hide');
		});
	});
	$('.report-topic .title').click(function(){
		var parent = $(this).parent();
		var info = parent.find('.info');
		if (info.css('display') == "none"){
			info.show();
		} else {
			info.hide();
		}
	})

	$('.remove-personnel').click(function(){
		$(this).parent().parent().fadeOut(200,function(){
			$(this).remove();
		});
	});
	$('#report-save').click(function(){
		$('.edit_report, .new_report').submit();
	});
	$('#dismiss-report').click(function(){
		dismissReport();
	});
	$('#type-select').select2();
	$('#topic-select').select2({
		placeholder: "Select the safety topics covered"
	});
	$('#subs-select').select2({
		placeholder: "Add the companies/subcontractors present"
	});
	$('#subs-select').on("select2-selecting", function(e) { 
	   $('#subs-select').after('<div><input class="report-personnel-input" id="report_companies_'+e.val+'" name="report_companies['+e.val+']" placeholder="0" type="text"><span style="padding-left:1em;">'+ e.choice.text +'</span></div>')
	});

	$('#users-select').select2({
		placeholder: "Select the personnel present"
	});
	$('#users-select').on("select2-selecting", function(e) { 
	   $('#users-select').after('<div><input class="report-personnel-input" id="report_user_ids_'+e.val+'" name="report_users['+e.val+']" placeholder="0" type="text"><span style="padding-left:1em;">'+ e.choice.text +'</span></div>')
	});
</script>