<%= nested_form_for report, multipart: true, remote: true, method: :patch do |f| %>
	<%= hidden_field_tag :authenticity_token, form_authenticity_token %>	
	<div id="edit-report">
		<div class="border-box">
			<div class="action-buttons">
				<div style="display:table-row">
					<div id="report-save" title="Save" class="action">
						<i class="fa fa-floppy-o remote"></i>
					</div>
					<div id="export-report" title="Export" class="action">
						<%= link_to generate_report_path(report), remote: true do %>
							<i class="fa fa-share"></i>
						<% end %>
					</div>
					<% if current_user.any_admin? || report.author == current_user %>
						<%= link_to report_path(report, project_id: project.id), title:"Delete", method: :delete, data: {confirm: "Are you sure you want to delete this report? This can't be undone."}, :class=>"action", remote: true do %>
							<i class="fa fa-trash-o remote"></i>
						<% end %>
					<% end %>
					<div id="dismiss-report" title="Dismiss" class="action dismiss"><i class="fa fa-remove"></i></div>
				</div>
			</div>

			<%= render partial:"reports/form", locals: {f: f, project: project, report: report, subs: @subs, project_users: project_users} %>
		</div>
	</div>
<% end %>
	
<div class="comment-container border-box">
	<h4 class="center header">Comments for <%= "#{report.report_type} Report - #{report.created_date}"%></h4>
	<div id="comments-form">
		<%= form_for report.comments.new, method: :post, remote: true do |f| %>
			<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
			<%= f.text_area :body, rows: "3", placeholder: "Type your notes/comment here" %>
			<%= f.hidden_field :user_id, value: current_user.id %>
			<%= f.hidden_field :report_id, value: report.id %>
			<%= button_tag(type: 'submit', :class => "simple-btn full-width", style:"margin:14px auto;", remote: true) do %>
		    	<i class="fa fa-paper-plane remote"></i> Add			  	
		    <% end %>
		<% end %>
	</div>
	<div id="comments-table">
		<%= render partial:"comments/comment", collection: report.comments, as: :comment, cache: true %>
	</div>
</div>

	<% if report.report_type == "Daily" && report.daily_activities.count > 0 %>
		<div class="activity-container border-box">
			<h4 style="text-align:center; margin:5px auto 15px; display:block;"><%= report.project.name %> Activity for <%= report.date_string %></h4>
			<%= render :partial => "activities/activity", collection: report.daily_activities, as: :activity, cache:true %>
		</div>
	<% elsif report.activities.count > 0 %>
		<div class="activity-container border-box">
			<h4 style="text-align:center; margin:5px auto 15px; display:block;">Activity</h4>
			<%= render :partial => "activities/activity", collection: report.activities, as: :activity, cache:true %>
		</div>
	<% end %>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		editReport('<%= report.project.address.latitude %>','<%= report.project.address.longitude %>','<%=report.project.to_param%>');
	});
</script>