<div id="project-reports" class="border-box">
	
	<div style="margin-bottom: 15px">
		<%= link_to "+ New Report", new_report_path(:project_id => @project.id), :class=>"simple-btn new-report", remote: true %>
		<%= form_tag search_reports_path(:project_id => @project.id), :id => "reports-search", :method => :post, :class=>"input-group", :remote => true do %>
			<%= text_field_tag :search, nil, :placeholder=>"Search Reports...", :class=>"form-control" %>
			<span class="input-group-addon" style="cursor: pointer;" id="remove"><span class="glyphicon glyphicon-remove"></span></span>
		<% end %>
	</div>

	<div style="border:1px solid #ddd;">
		<% if @reports && @reports.count > 0 %>
			<div class="header row">
				<div class="col-xs-3"><h5>Report Date</h5></div>
				<div class="col-xs-3"><h5>Type</h5></div>
				<div class="col-xs-2"><h5>Last Updated</h5></div>
				<div class="col-xs-2"><h5>Personnel on site</h5></div>
				<div class="col-xs-2"><h5>Photos</h5></div>
			</div>
	
			<%= render partial:"reports/index_row", collection: @reports, as: :report, cache: true %>
				
		<% else %>
			<div class="col-xs-12 loading"><h4 style="text-align:center;color:#aaa;font-family:'Helvetica',sans-serif;text-transform:none;font-style:italic;font-weight:100;margin:50px auto;">No reports</h4></div>
		<% end %>
		
	</div>
</div>

<div id="report-focus">
	<% if @report %>
		<%= render partial:"reports/edit", locals:{report:@report} %>
	<% end %>
</div>

<script>
	$('#remove').click(function(){
		$('#search').val('');
		$('#reports-search').submit();
	});
</script>