<%= nested_form_for report, url: reports_path, html: {multipart: true}, data: {'parsley-validate' => ''}, remote: true, method: :post do |f| %>
	<%= f.hidden_field :project_id, value: project.id %>
	<%= f.hidden_field :author_id, value: current_user.id %>
	<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
	<div id="add-report" class="border-box container">
		<div class="action-buttons">
			<div style="display:table-row">
				<div id="report-add" title="Add" class="action">
					<i class="fa fa-plus remote"></i>
				</div>
				<div id="export-report" title="Export" class="action">
					<%= link_to generate_report_path(report), remote: true do %>
						<i class="fa fa-share"></i>
					<% end %>
				</div>
				<div id="dismiss-report" title="Dismiss" class="action dismiss">
					<i class="fa fa-remove"></i>
				</div>
			</div>
		</div>

		<%= render partial:"reports/form", locals: {f: f, project: project, report: report, subs: @subs, project_users: project_users} %>
			
		<div class="button-container">
			<div class="simple-btn full-width" id="big-add-report">Add</div>
		</div>
			
	</div>
<% end %>

<script type="text/javascript">
	$(document).ready(function(){
		newReport('<%=project.address.latitude%>', '<%=project.address.longitude%>','<%=report.project.to_param%>');
	});
</script>