
<%= nested_form_for @report, url: reports_path, :html=> {:multipart => true}, :remote => true, :method => :post do |f| %>
	<%= f.hidden_field :project_id, value: @project.id %>
	<%= f.hidden_field :author_id, value: current_user.id %>
	<div id="add-report" class="border-box container">
		<div class="thin-form">
			<div class="row form-title">
				<div class="col-md-12"><h4>Report Date</h4></div>
			</div>
			<div class="row">
				<div class="input-append date col-md-12" data-date-format="dd-mm-yyyy">
					<%= f.text_field :date_string, :value => Time.now.strftime("%m/%d/%Y"), :class =>"date-input", :id => "dp" %>
				</div>
			</div>

			<div class="row form-title">
				<div class="col-md-4"><h4 style="display:inline-block;">Report Type</h4></div>
				<div class="col-md-8" style="padding-top:9px;"><%= f.select :report_type, options_for_select(@report.possible_types) %></div>
			</div>
				
			<div class="row form-title">
				<div class="col-md-12"><h4>General Remarks</h4></div>
			</div>
			<div class="row">
				<div class="col-md-12"><%= f.text_area :body, :rows => 7, :placeholder => "General remarks" %></div>
			</div>

			<div class="row form-title">
				<div class="col-md-12"><h4>Weather</h4></div>
			</div>
			<div class="row">
				<div class="col-md-12"><%= f.text_area :weather, :rows => 2, :placeholder => "Weather report" %></div>
			</div>

			<div class="row weather-titles">
				<div class="col-md-3"><h4>Temperature</h4></div>
				<div class="col-md-3"><h4>Wind</h4></div>
				<div class="col-md-3"><h4>Precipitation</h4></div>
				<div class="col-md-3"><h4>Humidity</h4></div>
			</div>
			<div class="row">
				<div class="col-md-3"><%= f.text_field :temp, :value => @report.temp, :placeholder => "N/A" %></div>
				<div class="col-md-3"><%= f.text_field :wind, :value => @report.wind, :placeholder => "N/A" %></div>
				<div class="col-md-3"><%= f.text_field :precip, :value => @report.precip, :placeholder => "N/A" %></div>
				<div class="col-md-3"><%= f.text_field :humidity, :value => @report.humidity, :placeholder => "N/A" %></div>
			</div>

			<div class="row form-title">
				<div class="col-md-6"><h4>Personnel</h4></div>
				<div class="col-md-6"><h4>Subcontractors (# onsite)</h4></div>
			</div>

			<div class="row">
				<div class="user-container col-md-6">
					<% @users.each do |user| %>
						<% if @report.users.include?(user) %>
							<div><%= check_box_tag "report[user_ids][]", user.id, checked: true %><span style="padding-left:1em;"><%= user.full_name %></span></div>
						<% else %>
							<div><%= check_box_tag "report[user_ids][]", user.id %><span style="padding-left:1em;"><%= user.full_name %></span></div>
						<% end %>
					<% end %>
				</div>
				<div class="sub-container col-md-6">
					<% @companies.each do |company_sub| %>
						<div>
							<% report_company = @report.report_companies.where(:company_id => company_sub.subcontractor.id).first %>
							<% if report_company %>
								<%= text_field_tag "report_companies[#{company_sub.subcontractor.id if company_sub.subcontractor}]", report_company.count, placeholder: "0", style: "max-width:40px;display:inline-block;text-align:center;" %>
							<% else %>
								<%= text_field_tag "report_companies[#{company_sub.subcontractor.id if company_sub.subcontractor}]", nil, placeholder: "0", style: "max-width:40px;display:inline-block;text-align:center;" %>
							<% end %>
							<span style="padding-left:1em;"><%= company_sub.subcontractor.name if company_sub.subcontractor %></span>
						</div>
					<% end %>
				</div>
			</div>

			<% if @report.photos && @report.photos.count > 0 %>
				<div class="row">
					<% @report.photos.each do |p| %>
						<% if p.image_file_name%>
							<%= render :partial => "image", :locals => {:p => p} %> 
						<% end %>
					<% end %>
				</div>
			<% end %>

			<div class="row">
				<div class="col-md-12"><h4>Add a photo</h4></div>
			</div>
			
			<div class="row">
				<div class="col-md-12">
					<%= f.fields_for :photos, @report.photos.build do |photo| %>
						<%= photo.file_field :image %>
						<%= photo.hidden_field :report_id, :value => @report.id %>
						<%= photo.hidden_field :project_id, :value => @project.id %>
						<%= photo.hidden_field :source, :value => "Reports" %>
					<% end %>
				</div>
			</div>
			
			<div class="button-container">
				<%= f.submit "Add", :class => "btn btn-success btn-md save" %>
			</div>
		</div>
		<%= hidden_field_tag :authenticity_token, form_authenticity_token -%>	
	</div>
<% end %>

<script type="text/javascript">
	$(document).ready(function(){
		$("#dp").datepicker();
		$('#dp').datepicker().on('changeDate', function(){
		    $('#dp').datepicker('hide');
		});
	});
</script>