
<%= nested_form_for @report, url: reports_path, :html=> {:multipart => true}, :remote => true, :method => :post do |f| %>
	<%= f.hidden_field :project_id, value: @project.id %>
	<%= f.hidden_field :author_id, value: current_user.id %>
	<div id="add-report" class="border-box container">
		<div id="dismiss-report"><%=image_tag "blackX.png" %></div>
		<div class="thin-form">
			<div class="row form-title">
				<div class="col-md-12"><h5>Date</h5></div>
			</div>
			<div class="row">
					
				<div class="input-append date col-md-6" data-date-format="dd-mm-yyyy">
					<h5>Date</h5>
					<%= f.text_field :date_string, :value => report.date_string, :placeholder => Time.now.strftime("%m/%d/%Y"), :class =>"date-input", :id => "dp" %>
				</div>

				<div class="col-md-6">
					<h5 style="display:inline-block;">Type</h5></div>
					<%= select_tag :report_type, options_for_select(report.possible_types, :selected => report.report_type), :class=>"for-select-2", :style=>"width:50%;" %>
				</div>
			
			</div>
				
			<div class="row form-title">
				<div class="col-md-12"><h5>General Remarks</h5></div>
			</div>
			<div class="row">
				<div class="col-md-12"><%= f.text_area :body, :rows => 5, :placeholder => "General remarks" %></div>
			</div>

			<div class="row form-title">
				<div class="col-md-12"><h5>Weather</h5></div>
			</div>
			<div class="row">
				<div class="col-md-12"><%= f.text_area :weather, :rows => 2, :placeholder => "Weather report" %></div>
			</div>

			<div class="row weather-titles">
				<div class="col-md-3"><h5>Temp</h5></div>
				<div class="col-md-3"><h5>Wind</h5></div>
				<div class="col-md-3"><h5>Precip</h5></div>
				<div class="col-md-3"><h5>Humidity</h5></div>
			</div>
			<div class="row weather-fields">
				<div class="col-md-3"><%= f.text_field :temp, :value => @report.temp, :placeholder => "N/A" %></div>
				<div class="col-md-3"><%= f.text_field :wind, :value => @report.wind, :placeholder => "N/A" %></div>
				<div class="col-md-3"><%= f.text_field :precip, :value => @report.precip, :placeholder => "N/A" %></div>
				<div class="col-md-3"><%= f.text_field :humidity, :value => @report.humidity, :placeholder => "N/A" %></div>
			</div>

			<div class="row form-title">
				<div class="col-md-6"><h5><%=current_user.company.name%> Personnel<br/>(# hours)</h5></div>
				<div class="col-md-6"><h5>Other Personnel<br/>(# onsite)</h5></div>
			</div>

			<div class="row">
				<div class="user-container col-md-6">
					<% @project_users.each do |project_user| %>
						<% if @report.users.include?(project_user) %>
							<div><%= check_box_tag "report[user_ids][]", project_user.user.id, checked: true %><span style="padding-left:1em;"><%= project_user.user.full_name %></span></div>
						<% elsif project_user.user %>
							<div><%= check_box_tag "report[user_ids][]", project_user.user.id %><span style="padding-left:1em;"><%= project_user.user.full_name %></span></div>
						<% end %>
					<% end %>
				</div>
				<div class="sub-container col-md-6">
					<% @subs.each do |sub| %>
						<div>
							<% report_company = @report.report_companies.where(:company_id => sub.id).first %>
							<% if report_company %>
								<%= text_field_tag "report_companies[#{sub.id if sub}]", report_company.count, placeholder: "0", style: "max-width:40px;display:inline-block;text-align:center;" %>
							<% else %>
								<%= text_field_tag "report_companies[#{sub.id if sub}]", nil, placeholder: "0", style: "max-width:40px;display:inline-block;text-align:center;" %>
							<% end %>
							<span style="padding-left:1em;"><%= sub.name if sub %></span>
						</div>
					<% end %>
				</div>
			</div>

			<% if @report.photos && @report.photos.count > 0 %>
				<div class="row">
					<% @report.photos.each do |p| %>
						<% if p.image_file_name%>
							<%= render :partial => "image", :locals => {:p => p} %> 
						<% end %>
					<% end %>
				</div>
			<% end %>

			<div class="row">
				<div class="col-md-12"><h5>Add a photo</h5></div>
			</div>
			
			<div class="row">
				<div class="col-md-12">
					<%= f.fields_for :photos, @report.photos.build do |photo| %>
						<%= photo.file_field :image %>
						<%= photo.hidden_field :report_id, :value => @report.id %>
						<%= photo.hidden_field :project_id, :value => @project.id %>
						<%= photo.hidden_field :source, :value => "Reports" %>
					<% end %>
				</div>
			</div>
			
			<div class="button-container">
				<%= f.submit "Add", :class => "simple-btn save" %>
			</div>
		</div>
		<%= hidden_field_tag :authenticity_token, form_authenticity_token -%>	
	</div>
<% end %>

<script type="text/javascript">
	$(document).ready(function(){
		$("#dp").datepicker();
		$('#dp').datepicker().on('changeDate', function(){
		    $('#dp').datepicker('hide');
		});
	});

	$('#dismiss-report').click(function(){
		dismissReport();
	});
</script>