<%= nested_form_for report, url: reports_path, :html=> {:multipart => true}, :remote => true, :method => :post do |f| %>
	<%= f.hidden_field :project_id, value: @project.id %>
	<%= f.hidden_field :author_id, value: current_user.id %>
	<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
	<div id="add-report" class="border-box container">
		<div class="action-buttons">
			<div style="display:table-row">
				<div id="report-add" class="action">
					<i class="fa fa-plus remote"></i>
				</div>
				<div id="export-report" class="action">
					<%= link_to generate_report_path(report), remote: true do %>
						<i class="fa fa-share"></i>
					<% end %>
				</div>
				<div id="dismiss-report" class="action dismiss"><i class="fa fa-remove"></i></div>
			</div>
		</div>

		<div class="thin-form">
			<div class="row">
				<div class="input-append date col-md-6" data-date-format="dd-mm-yyyy">
					<h5>Date</h5>
					<%= f.text_field :date_string, :value => report.date_string, :placeholder => Time.now.strftime("%m/%d/%Y"), :class =>"date-input", :id => "dp" %>
				</div>

				<div class="col-md-6">
					<h5 style="display:inline-block;">Type</h5></div>
					<%= select_tag :report_type, options_for_select(report.possible_types, :selected => report.report_type), :class=>"for-select-2", :style=>"width:50%;" %>
				</div>
			
			</div>
				
			<div class="row form-title">
				<div class="col-md-12"><h5>General Remarks</h5></div>
			</div>
			<div class="row">
				<div class="col-md-12"><%= f.text_area :body, :rows => 5, :placeholder => "General remarks" %></div>
			</div>

			<div class="row form-title">
				<div class="col-md-12"><h5>Weather</h5></div>
			</div>
			<div class="row">
				<div class="col-md-12"><%= f.text_area :weather, :rows => 2, :placeholder => "Weather report" %></div>
			</div>

			<div class="row weather-titles">
				<div class="col-md-3"><h5>Temp</h5></div>
				<div class="col-md-3"><h5>Wind</h5></div>
				<div class="col-md-3"><h5>Precip</h5></div>
				<div class="col-md-3"><h5>Humidity</h5></div>
			</div>
			<div class="row weather-fields">
				<div class="col-md-3"><%= f.text_field :temp, :value => report.temp, :placeholder => "N/A" %></div>
				<div class="col-md-3"><%= f.text_field :wind, :value => report.wind, :placeholder => "N/A" %></div>
				<div class="col-md-3"><%= f.text_field :precip, :value => report.precip, :placeholder => "N/A" %></div>
				<div class="col-md-3"><%= f.text_field :humidity, :value => report.humidity, :placeholder => "N/A" %></div>
			</div>

			<div class="row form-title">
				<div class="col-md-6"><h5><%=current_user.company.name%> (# hours)</h5></div>
				<div class="col-md-6"><h5>Personnel onsite</h5></div>
			</div>

			<div class="row">
				<div class="user-container col-md-6">
					<%= select_tag :users, options_for_select(project_users.map{|pu| [pu.user.full_name, pu.user.id]}.unshift("")), :id=>"users-select", style:"padding-bottom:5px;" %>

					<% report.report_users.each do |report_user| %>
						<%= render partial:"reports/user", locals:{report: report, report_user: report_user} %>
					<% end %>
				</div>
				<div class="sub-container col-md-6">
					<%= select_tag :subs, options_for_select(@subs.map{|s| [s.name, s.id]}.unshift("")), :id=>"subs-select", style:"padding-bottom:5px;" %>

					<% report.report_companies.each do |rc| %>
						<%= render partial:"reports/company", locals:{report: report, report_company: rc} %>
					<% end %>
					
				</div>
			</div>

			<% if report.photos && report.photos.count > 0 %>
				<div class="row">
					<% report.photos.each do |p| %>
						<% if p.image_file_name%>
							<%= render :partial => "image", :locals => {:p => p} %> 
						<% end %>
					<% end %>
				</div>
			<% end %>

			<div class="thin-form report-photos">	
				<div class="row form-title">
					<div class="col-md-12"><h5>Add a photo</h5></div>
				</div>
		
				<div class="row">
					<div class="col-md-12">
						<%= f.fields_for :photos, report.photos.build do |photo| %>
							<%= photo.file_field :image %>
							<%= photo.hidden_field :report_id, :value => report.id %>
							<%= photo.hidden_field :project_id, :value => project.id %>
							<%= photo.hidden_field :source, :value => "Reports" %>
						<% end %>
					</div>
				</div>
			</div>
			
			<div class="button-container">
				<%= f.submit "Add", :class => "simple-btn full-width" %>
			</div>
		</div>	
	</div>
<% end %>

<script type="text/javascript">
	$(document).ready(function(){
		newReport('<%=project.address.latitude%>', '<%=project.address.longitude%>');
	});
</script>