<div class="row charge">
	<div class="col-xs-2"><%= parse_billing_date charge.created_at%></div>
	<div class="col-xs-2"><%= number_to_currency charge.amount %></div>
	<div class="col-xs-3"><%= charge.description %></div>
	<% if charge.paid == true %>
		<div class="col-xs-3">&nbsp;</div>
		<div class="col-xs-2 paid">Paid</div>
	<% else %>
		<div class="col-xs-3">
			<%= form_for charge, url: promo_code_charge_path(charge), method: :patch, remote: true  do |f| %>
				<%= f.text_field :promo_code, :placeholder => "Enter here..." %>
			<% end %>
		</div>
		<div class="col-xs-2 unpaid">Pending...</div>
	<% end %>
</div>