<!DOCTYPE html>
<html>
<head>
	<title>BuildHawk</title>
	<%= stylesheet_link_tag    "application", media: "all" %>
 	<%= javascript_include_tag "application" %>
	<link rel="shortcut icon" href="<%=root_url %>/favicon.ico?v=1" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<%= csrf_meta_tags %>
	<script type="text/javascript">
	    Shadowbox.init({
	    	skipSetup:true,
	    	onOpen:function(){
	    		$('#top-nav').css('opacity','.1');
	    	},
	    	onClose:function(){
	    		$('#top-nav').css('opacity','1');},
	    		handleOversize: "drag",
	    		overlayOpacity: "0.8"
	    })
		window.Dropzone;
		
		setupWindow();
	</script>
	
	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-43601553-1']);
	  _gaq.push(['_setDomainName', 'buildhawk.com']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
	<!-- start Mixpanel --><script type="text/javascript">(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");
for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===e.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.2.min.js';f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f)}})(document,window.mixpanel||[]);
mixpanel.init("2e57104ead72acdd8a77ca963e32e74a");</script><!-- end Mixpanel -->
</head>
<body>
	<p class="notice" id="notice"><%= notice %></p>
    <p class="alert" id="alert"><%= alert %></p>

    <div id="wrap">
		<div class="navbar navbar-fixed-top" id="top-nav">
		
				<a class="logo" href="/"><%= image_tag('logo.png') %></a>

				<ul class="navigation">
					<% if current_page?(root_url) %>
						<% if user_signed_in? && (current_user.admin? || current_user.company_admin?) %>
							<ul id="internal-nav">
								<li><%= link_to "Admin", admin_index_path, remote: true %></li>
								<% if current_user.uber_admin? %>
									<li><%= link_to "Uber Admin", uber_admin_index_path, remote: true %></li>
								<% end %>
							</ul>
						<% else %>
							<li class="nav-contact" id="nav-contact"><%= link_to 'Contact', "#contact" %></li>
							<li class="nav-pricing" id="nav-pricing"><%= link_to 'Pricing', "#pricing" %></li>
							<li class="nav-about" id="nav-about"><%= link_to 'About', "#about" %></li>
							<li style="position:absolute;right:0;"><%= link_to 'Beta Login', login_path %></li>
						<% end %>
					<% elsif user_signed_in? && @project %>
						<%= render partial: "projects/project_nav" %>

					<% end %>

		
				</ul>
			</div>
		
		
		<% if user_signed_in? %>
			<div id="pagescontainer">
				<%= yield %>
			</div>
				
		<% else %>
			<%= yield %>
		<% end %>

		<div id="push"></div>
	</div>

<% if user_signed_in? %>
	<div id="projects-tab">Projects</div>
	<nav id="bt-menu" class="bt-menu">
	
		<% if current_user.admin? || current_user.company_admin? %>
		<ul id="internal-nav">
			<li><%= link_to "Admin", admin_index_path, remote: true %></li>
			<% if current_user.uber_admin? %>
				<li><%= link_to "Uber Admin", uber_admin_index_path, remote: true %></li>
			<% end %>
		</ul>
		<% end %>
	<% end %>
	<ul class="nav navbar-nav pull-right" id="credentials">
		<% if user_signed_in? %>
			<li>
				<%= link_to current_user.full_name, edit_user_path(current_user), :id => "settings-link", :remote => true %>
			</li>
		<% else %>
			<li><%= link_to "Beta Login", login_path, :style=>"padding-top:6px;" %>
		<% end %>
	</ul>
	<% if @projects %><%= render partial: "projects/sidebar" %><% end %>
</nav>

<footer>
	<div id="container">
		<ul>
			<li><a href="http://blog.buildhawk.com" target="_blank" >Blog</a></li>
			<li><a href="#contact">Contact</a></li>
		</ul>
		<ul>
			<li><a href="/terms">Terms of Service</a></li>
			<li><a href="/privacy">Privacy Policy</a></li>
		</ul>
		<div id="copyright">&copy; BuildHawk, 2013</div>
	</div>
</footer>

<script type="text/javascript">
	$(document).ready(function() {
		$.ajaxSetup({ cache: false });
		datetimepickers();
		<% if user_signed_in? %>sideMenu();<% end %>
	});

</script>
</body>
</html>
