<!DOCTYPE html>
<html>
<head>
	<title>BuildHawk</title>
	<%= stylesheet_link_tag    "application", media: "all" %>
 	<%= javascript_include_tag "application" %>
	<link rel="shortcut icon" href="<%=root_url %>/favicon.ico?v=1" />
	<%= csrf_meta_tags %>
	<script type="text/javascript">
	    Shadowbox.init({
	    	skipSetup:true,
	    	onOpen:function(){
	    		$('#top-nav').css('opacity','.1');
	    	},
	    	onClose:function(){
	    		$('#top-nav').css('opacity','1');},
	    		handleOversize: "drag",
	    		overlayOpacity: "0.8"
	    })
	    window.onload = function() {
		    Shadowbox.setup(".shadow-photo");
		}
	</script>
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-43601553-1']);
	  _gaq.push(['_setDomainName', 'buildhawk.com']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
</head>
<body>
	<p class="notice" id="notice"><%= notice %></p>
    <p class="alert" id="alert"><%= alert %></p>

    <div id="wrap">
		<!-- Fixed navbar -->
		<div class="navbar navbar-fixed-top" id="top-nav" style="min-height: 50px;">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/"><%= image_tag('logo.png') %></a>
				</div>
				
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<% if user_signed_in? %>
							<li class="nav-projects" id="nav-projects"><%= link_to "Projects", projects_path, :remote => true %></li>
							<% if current_user.admin %>
								<li class="nav-admin" id="nav-admin"><%= link_to "Admin", admin_index_path, :remote => true %></li> 
							<% end %>
							<% if current_user.uber_admin %>
								<li class="nav-uber-admin" id="nav-uber-admin"><%= link_to "Uber Admin", uber_admin_index_path, :remote => true %></li> 
							<% end %>
						<% end %>
						<% if current_page?(root_url) %>
							<li class="nav-contact" id="nav-contact"><%= link_to 'Contact', "#contact" %></li>
							<li class="nav-pricing" id="nav-pricing"><%= link_to 'Pricing', "#pricing" %></li>
							<li class="nav-about" id="nav-about"><%= link_to 'About', "#about" %></li>
						<% end %>
					</ul>
					<ul class="nav navbar-nav pull-right">
						<% if user_signed_in? %>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span><%=current_user.full_name%></span> <b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li><%= link_to "My Settings", edit_user_path(current_user), :remote => true %></li>
									<li><%= link_to "Logout", logout_path %></li>
								</ul>
							</li>
						<% else %>
							<li><%= link_to "Beta Login", login_path %>
						<% end %>
					</ul>
				</div><!--/.nav-collapse -->
			</div>
		</div>
	<% if user_signed_in? %>
		<div id="pagescontainer" class="container">
			<%= yield %>
		</div>
	</div>
			
	<% else %>
		<%= yield %>
	<% end %>

	<div id="push"></div>
</div>

<footer>
	<div id="container">
		<ul>
			<li><a href="http://blog.buildhawk.com" target="_blank" >Blog</a></li>
			<li><a href="#contact">Contact</a></li>
		</ul>

		<ul>
			<li><a href="/terms">Terms of Service</a></li>
			<li><a href="/privacy">Privacy Policy</a></li>
		</ul>

		<div id="copyright">&copy; BuildHawk, 2013</div>
	</div>
</footer>

</body>
<script type="text/javascript">
	jQuery.ajaxSetup({ cache: true });
</script>
</html>
