<!DOCTYPE html>
<html>
<head>
	<title>BuildHawk</title>
	<%= stylesheet_link_tag    "application", media: "all" %>
  	<%= javascript_include_tag "application" %>
 	<%= csrf_meta_tags %>
	<link rel="shortcut icon" href="<%=root_url %>/favicon.ico?v=1" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="apple-itunes-app" content="app-id=816590963">
	<% if !current_page?(root_url) %>
		<meta name="robots" content="noindex">
	<% end %>
	<script type="text/javascript">	
		<% if @mobile_redirect %>
			var userAgent = window.navigator.userAgent;
		   	if ((userAgent.match(/iPhone/i) || (userAgent.match(/iPhone/i)) && window.location != "<%=root_url%>" && window.location != "<%=root_url%>mobile") {
		   		setTimeout(function () { window.location = "https://itunes.apple.com/us/app/buildhawk/id816590963?mt=8" }, 25);
		   	 	<% if @task %>
		  	 		window.location = "buildhawk://?task_id=<%= j @task.id.to_s %>"	
		  	 	<% end %>
		  	}
	  	<% end %>
 	</script>

	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-43601553-1']);
	  _gaq.push(['_setDomainName', 'buildhawk.com']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
	<!-- start Mixpanel --><script type="text/javascript">(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");
for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===e.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.2.min.js';f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f)}})(document,window.mixpanel||[]);
mixpanel.init("2e57104ead72acdd8a77ca963e32e74a");
</script><!-- end Mixpanel -->
</head>

<body>
	<p id="notice" class="font-smoothing"><span id="notice-text"><%= notice %></span><i class="fa fa-remove remove-top right"></i></p>
    <p id="alert" class="font-smoothing"><span id="alert-text"><%= alert %></span><i class="fa fa-remove remove-top right"></i></p>

    <div id="wrap">
		<div class="navbar navbar-fixed-top <% if !user_signed_in? && (current_page?(root_url) || current_page?(login_path) )%>splash<% end %>" id="top-nav" role="navigation">
			<ul id="navigation">
				<% if !user_signed_in? %>
					<li class="logo"><a href="/"><%= image_tag('logo.png') %></a></li>
					<% if current_page?(root_url) %>
						<li class="nav-contact" id="nav-contact"><%= link_to 'Contact', "#contact" %></li>
						<li class="nav-pricing" id="nav-pricing"><%= link_to 'Pricing', "#pricing" %></li>
						<li class="nav-about" id="nav-about"><%= link_to 'About', "#about" %></li>
					<% else %>
						<li class="nav-contact" id="nav-contact"><%= link_to 'Contact', "#{root_url}#contact" %></li>
						<li class="nav-pricing" id="nav-pricing"><%= link_to 'Pricing', "#{root_url}#pricing" %></li>
						<li class="nav-about" id="nav-about"><%= link_to 'About', "#{root_url}#about" %></li>
					<% end %>
				<% elsif params[:controller] == "admin" || params[:controller] == "billing"%>
					<%= render partial: "admin/top_nav" %>
				<% elsif params[:controller] == "uber_admin" %>
					<%= render partial: "uber_admin/top_nav" %>
				<% elsif @project %>
					<%= render partial: "projects/project_nav" %>
				<% elsif user_signed_in? %>
					<%= render partial: "layouts/internal_nav" %>
				<% end %>
			</ul>	
		</div>

		<% if current_page?(root_url) %>			
			<%= yield %>
		<% else %>
			<div id="inner-wrap" class="full">		
				<%= yield %>
			</div>
		<% end %>
		<div id="push"></div>
	</div>
<footer class="full">
	<div id="container">
		<ul>
			<li><a href="http://blog.buildhawk.com" target="_blank" >Blog</a></li>
			<li><%= mail_to "contact@buildhawk.com", "Contact", encode: "javascript", :id => "contact-link" %></li>
		</ul>
		<ul>
			<li><a href="/terms">Terms of Service</a></li>
			<li><a href="/privacy">Privacy Policy</a></li>
		</ul>
		<div id="copyright">&copy; 2014 BuildHawk Inc</div>
	</div>
</footer>

<script type="text/javascript">
	$(document).ready(function() {
		setupWindow();
		$.ajaxSetup({ cache: false });
		datetimepickers();
	});
</script>
</body>
</html>
